@model ALT_ERP3.Models.UserProfileVM

<script type="text/javascript">
    $(document).ready(function () {
        $('#btnsave').click(function (event) {
            event.preventDefault();
            $("#ErrorMessage").hide();
            var merr = "";
            if ($('#TfatPass_Code1').val() == null || $('#TfatPass_Code1').val() == "") {
                merr += "User ID is Required..\n";
            }
            if ($('#TfatPass_Name1').val() == null || $('#TfatPass_Name1').val() == "") {
                merr += "User Name is Required..\n";
            }
            if ($('#TfatPass_Email1').val() == null || $('#TfatPass_Email1').val() == "") {
                merr += "Email is Required..\n";
            }
            var memail = $('#TfatPass_Email1').val();
            if (memail.indexOf(".") < 0) {
                merr += "Invalid Email ID format..\n";
            }
            if ($('#TfatPass_Mobile1').val() == null || $('#TfatPass_Mobile1').val() == "") {
                merr += "Mobile Number is Required..\n";
            }
            if ($('#TfatPass_Mobile1').val().startsWith("+") || $('#TfatPass_Mobile1').val().startsWith("0")) {
                merr += "Don't Prefix Mobile with + or 0..\n";
            }
            if ($('#TfatPass_Email1').val() == null || $('#TfatPass_Email1').val() == "") {
                merr += "Email is Required..\n";
            }
            if ($('#TfatPass_PassWords1').val() == null || $('#TfatPass_PassWords1').val() == "") {
                merr += "Password is Required..\n";
            }
            if ($('#TfatPass_PassWords1').val() != $('#TfatPass_PassRead1').val()) {
                merr += "Confirmed Password Mismatch..\n";
            }
            if (merr != "") {
                $("#ErrorMessage").show();
                $("#ErrorMessage").text(merr);
                return;
            }
            $('.spinner').show();
            var ModelData = {};
            ModelData["TfatPass_Code"] = $("#TfatPass_Code1").val();
            ModelData["TfatPass_Name"] = $("#TfatPass_Name1").val();
            ModelData["TfatPass_Email"] = $("#TfatPass_Email1").val();
            ModelData["TfatPass_Mobile"] = $("#TfatPass_Mobile1").val();
            ModelData["TfatPass_PassWords"] = $("#TfatPass_PassWords1").val();
            var url = '@Url.Action("SaveNewUser")';
            $.ajax({
                type: "POST",
                dataType: "json",
                data: JSON.stringify({ Model: ModelData }),
                cache: false,
                url: url,
                contentType: "application/json; charset=utf-8",
                //beforeSend: function () {
                //    $('.spinner').show();
                //},
                success: function (data) {
                    $('.spinner').hide();
                    alert(data.Message);
                    if (data.Status == 'Success') {
                        $('#dialoguser').modal('hide');
                        $("#TfatPass_Code1").val('');
                        $("#TfatPass_Name1").val('');
                        $("#TfatPass_Email1").val('');
                        $("#TfatPass_Mobile1").val('');
                        $("#TfatPass_PassWords1").val('');
                        $("#TfatPass_PassRead1").val('');
                    }
                    else if (data.Status == 'Error') {
                        $("#ErrorMessage").text(data.Message);
                        $("#ErrorMessage").show();
                    }
                },
            });
        });
    });
</script>

<div class="modal-content" style="width:600px;padding-bottom:0px;">
    <div class="modal-header" style="background-color:#cccccc;padding-top:7px;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><b>New User Sign-up</b></h4>
    </div>
    <div class="modal-body" style="padding-top:15px;padding-bottom:5px;margin-left:15px;">
        <div id="ErrorMessage" name="ErrorMessage" class="alert alert-danger" style="display: none;padding:unset;margin-bottom:unset;"></div>
        <div class="form-horizontal" id="ItemListupdate">
            @*<div class="form-group">*@
            <div class="form-group">
                @*<div class="col-sm-2 control-label">User ID:</div>*@
                <div class="col-sm-3 control-label" style="text-align:left;">User ID:</div>
                <div class="col-sm-4">
                    @Html.TextBoxFor(x => x.TfatPass_Code, new { @MaxLength = 15, @class = "form-control", @id = "TfatPass_Code1", @Name = "TfatPass_Code", @Value = Model.TfatPass_Code, @style = "border-color:darkgray;color:black;font-weight:bolder;" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3 control-label" style="text-align:left;">User Name:</div>
                <div class="col-sm-8">
                    @Html.TextBoxFor(x => x.TfatPass_Name, new { @MaxLength = 40, @class = "form-control", @id = "TfatPass_Name1", @Name = "TfatPass_Name", @Value = Model.TfatPass_Name, @style = "border-color:darkgray;color:black;font-weight:bolder;" })
                </div>
            </div>
            <div class="form-group" style="margin-bottom:3px;">
                <div class="col-sm-3 control-label" style="text-align:left;">Email ID:</div>
                <div class="col-sm-8" style="margin-bottom:0px;">
                    @Html.TextBoxFor(x => x.TfatPass_Email, new { @MaxLength = 50, @class = "form-control", @id = "TfatPass_Email1", @Name = "TfatPass_Email", @Value = Model.TfatPass_Email, @style = "border-color:darkgray;color:black;font-weight:bolder;" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3"></div>
                <div class="col-sm-8 control-label" style="padding-top:0px;text-align:left;font-size:smaller;">An OTP will be sent to this Email, for verification</div>
            </div>
            <div class="form-group" style="margin-bottom:3px;">
                <div class="col-sm-3 control-label" style="text-align:left;">Mobile:</div>
                <div class="col-sm-4" style="margin-bottom:0px;">
                    @Html.TextBoxFor(x => x.TfatPass_Mobile, new { @MaxLength = 35, @class = "form-control", @id = "TfatPass_Mobile1", @Name = "TfatPass_Mobile", @Value = Model.TfatPass_Mobile, @style = "border-color:darkgray;color:black;font-weight:bolder;" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3"></div>
                <div class="col-sm-8 control-label" style="padding-top:0px;text-align:left;font-size:smaller;">An OTP will be sent to this Mobile Number, for verification</div>
            </div>
            <div class="form-group" style="margin-bottom:3px;">
                <div class="col-sm-3 control-label" style="text-align:left;">Password:</div>
                <div class="col-sm-4" style="margin-bottom:0px;">
                    @Html.TextBoxFor(x => x.TfatPass_PassWords, new { @Type = "Password", @MaxLength = 150, @class = "form-control", @id = "TfatPass_PassWords1", @Name = "TfatPass_PassWords", @Value = Model.TfatPass_PassWords, @style = "border-color:darkgray;color:black;font-weight:bolder;" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-3"></div>
                <div class="col-sm-9 control-label" style="padding-top:0px;text-align:left;font-size:smaller;">Requirement: Minimum 8 Chars, 1 Alpha, 1 Number and 1 Special character</div>
            </div>
            <div class="form-group">
                <div class="col-sm-3 control-label" style="text-align:left;">Confirm Password:</div>
                <div class="col-sm-4">
                    @Html.TextBoxFor(x => x.TfatPass_PassRead, new { @Type = "Password", @MaxLength = 150, @class = "form-control", @id = "TfatPass_PassRead1", @Name = "TfatPass_PassRead", @Value = Model.TfatPass_PassRead, @style = "border-color:darkgray;color:black;font-weight:bolder;" })
                </div>
            </div>
            @*<br />*@
            @*</div>*@
        </div>
    </div>
    <div class="modal-footer" style="background-color:#cccccc;height:42px;padding-bottom:5px;padding-top:5px;border-radius: 0px 0px 5px 5px;padding-right: 5px;padding-left: 5px;">
        <button type="button" class="btn btn-success" style="font-family:Verdana, Geneva, Tahoma, sans-serif" id="btnsave"><i class="fa fa-save"></i>&nbsp;&nbsp;Save</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" style="font-family:Verdana, Geneva, Tahoma, sans-serif"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Cancel</button>
    </div>
</div>