
@model ALT_ERP3.Areas.Vehicles.Models.NewVehiclesRatesVM

<script src="@Url.Content("~/Content/js/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/jquery.constrain.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#All").click(function () {
            $(".SingleChk").prop('checked', $(this).prop('checked'));
        });



        $('.item_Rate,.item_AdvRate,.item_Reporting').click(function () {

            var Row = $(this).closest('tr');
            var CheckBox = Row.find('.SingleChk').prop("checked");
            if (CheckBox) {
                var OriginalContent = $(this).text();
                $(this).addClass("cellEditing");
                $(this).html("<input type='text' value='" + OriginalContent + "' />");
                $(this).children().first().focus();
                $(this).children().first().keypress(function (e) {

                    if (e.which == 13) {
                        var newContent = $(this).val();
                        OriginalContent = newContent;
                        $(this).parent().text(newContent);
                        $(this).parent().removeClass("cellEditing");
                    }
                });
                $(this).children().first().blur(function () {

                    $(this).parent().text($(this).val());
                    $(this).parent().removeClass("cellEditing");
                });
            }
        });
        $('#btnKMPerHR').click(function () {
            debugger;
            event.preventDefault();
            var KmValue = parseInt($("#KMPERHR").val());
            if ($("#KMPERHR").val() != "") {
                $('#AllRates tbody tr').each(function () {

                    if ($(this).find('input[type=checkbox]').prop("checked") == true) {
                        var CurrentKm = $(this).closest("tr").find(".DistanceKM").text();
                        if (CurrentKm != "0" || CurrentKm != "") {
                            var NewTime = (parseFloat(CurrentKm) / parseFloat(KmValue));
                            $(this).closest("tr").find(".item_Reporting").text((NewTime.toFixed(2)));
                        }
                    }
                });
            }
            $("#KMPERHR").val("");
        });

       

    });
</script>




<table id="AllRates" class="zui-table editableTable example" style="width:100%;">
    <thead>
        <tr>
            <th colspan="3">@Model.VehicleNo_Category.ToString().ToUpper()</th>
            <th colspan="3"><span>From :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>@Model.FromName.ToString().ToUpper()</th>
        </tr>
        <tr>
            <th style="width: 35px;"><center><input type="checkbox" id="All" style="height: 16px;margin:0px -2px !important;width: 16px;padding: 0px !important;" /></center></th>
            <th hidden>Code</th>
            <th>To</th>
            <th>KM</th>
            <th>Rate</th>
            <th>AdvRate</th>
            <th>Reporting</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.VehiclesList)
        {
            <tr>
                <td style="width:6%;"><center><input type="checkbox" id="@item.To" value="@item.To" class="SingleChk" style="height: 16px;margin:0px -2px !important;width: 16px;padding: 0px !important;" /></center></td>
                <td hidden>@item.Code</td>
                <td style="text-transform:capitalize;width:20%;" id="@item.To">@item.ToName</td>
                <td class="DistanceKM" style="width:17%;">@item.KM</td>
                <td class="item_Rate" style="width:20%;">@item.Rate</td>
                <td class="item_AdvRate" style="width:20%;">@item.AdvRate</td>
                <td class="item_Reporting" style="width:17%;">@item.Reporting</td>
            </tr>
            @*<tr>
                    <td><center><input type="checkbox" id="@item.Code" class="SingleChk" style="height: 16px;margin:0px -2px !important;width: 16px;padding: 0px !important;" /></center></td>
                    <td hidden>@Html.TextBoxFor(x => item.Code, new { @class = "input-large-query form-control", @style = "width:100%;", @Value = item.Code })</td>
                    <td>@Html.TextBoxFor(x => item.ToName, new { @class = "input-large-query form-control", @style = "width:100%;text-transform:capitalize;", @readonly = "readonly", @Value = item.ToName })</td>
                    <td>@Html.TextBoxFor(x => item.KM, new { @class = "input-large-query form-control", @style = "width:100%;", @Value = item.KM, @readonly = "readonly" })</td>
                    <td>@Html.TextBoxFor(x => item.Rate, new { @class = "input-large-query form-control item_Rate", @style = "width:100%;", @Value = item.Rate })</td>
                    <td>@Html.TextBoxFor(x => item.AdvRate, new { @class = "input-large-query form-control item_AdvRate", @style = "width:100%;", @Value = item.AdvRate })</td>
                    <td>@Html.TextBoxFor(x => item.Reporting, new { @class = "input-large-query form-control", @style = "width:100%;", @Value = item.Reporting })</td>
                </tr>*@
        }
    </tbody>
</table>
