@model IEnumerable<ALT_ERP3.Areas.Logistics.Models.LoadConsignment>

@{
    Layout = null;
}
<script src="@Url.Content("~/Content/js/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/jquery.constrain.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function ()
    {
        $("#tblLoadConsignment > tbody  > tr").each(function () {
            if ($(this).find(".LrMode").text() == 'G')
            {
                $(this).find(".LrMode").html('');
                $(this).find(".LrMode").append('<center><span><svg width="25" height="25" ><circle cx="12" cy="12" r="10" stroke="black" stroke-width="4" fill="green" /></svg ></span></center>');
            }
            if ($(this).find(".LrMode").text() == 'R')
            {
                $(this).find(".LrMode").html('');
                $(this).find(".LrMode").append('<center><span><svg width="25" height="25" ><circle cx="12" cy="12" r="10" stroke="black" stroke-width="4" fill="red" /></svg ></span></center>');
            }
            if ($(this).find(".LrMode").text() == 'W')
            {
                $(this).find(".LrMode").html('');
                $(this).find(".LrMode").append('<center><span><svg width="25" height="25" ><circle cx="12" cy="12" r="10" stroke="black" stroke-width="4" fill="white" /></svg ></span></center>');
            }
        });

        $(".dltbtnConsignment").click(function () {
            var button = this; // Store the context
            var Row = $(this).closest('tr');
            var url = '@Url.Action("DeleteLoadedConsignment")';
            var ModelData = {};
            var Tablekey = Row.find('td:eq(0)').text();
            ModelData["Parentkey"] = Tablekey;
            ModelData["Document"] = $("#Document").val();
            var DTO = { mModel: ModelData };
            $.ajax({
                type: "POST",
                dataType: "json",
                data: JSON.stringify(DTO),
                cache: false,
                url: url,
                contentType: "application/json; charset=utf-8",
                beforeSend: function () {
                    $('.spinner').show();
                },
                success: function (data) {
                    debugger;
                    if (data.Status != "Success") {
                        alert(data.Message);
                    } else {
                        //$(this).closest('tr').remove();
                        $(button).closest('tr').remove(); // Use stored context
                    } 
                    $('.spinner').hide();
                },
            });
        });
    });
</script>
<style>
    .span6 {
        display: none !important;
    }
</style>
<div class="container-fluid" style="margin-top:8px;margin-left:-5px;">
    <div>
        <table id="tblLoadConsignment" class="table-bordered example" style="">
            <thead>
                <tr>
                    <th class="hidden">StockKey</th>
                    <th>Delete</th>
                    <th>LRNo</th>
                    <th>Book Date</th>
                    <th>Destination</th>
                    <th>Load Qty</th>
                    <th>Load Weight</th>
                    <th>Charge Weight</th>
                    <th>Charge Type</th>
                    <th>Unit</th>
                    <th>From</th>
                    <th>TO</th>
                    <th>Consigner</th>
                    <th>Consignee</th>
                    <th>LR Type</th>
                    <th>Delivery</th>
                    <th>Collection</th>
                    <th>Mode</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.Parentkey">
                        <td class="hidden StockTableky">@item.Parentkey</td>
                        <td>
                            <center>
                                <button class="btn btn-danger dltbtnConsignment" style="font-size: 13px;padding:3px 13px;" id="@(" btnDelete"+item.Parentkey)"><i class="glyphicon glyphicon-trash" style="font-size: 1.2em;"></i></button>
                            </center>
                        </td>
                        <td>@item.LRNO</td>
                        <td>@item.BookDate</td>
                        <td>@item.ConsignmentDest</td>
                        <td>@item.LoadQty</td>
                        <td>@item.LoadWeight.ToString("F2")</td>
                        <td>@item.ChgWT.ToString("F2")</td>
                        <td>@item.ChargeType</td>
                        <td>@item.Unit</td>
                        <td>@item.From</td>
                        <td>@item.To</td>
                        <td>@item.Consignor</td>
                        <td>@item.Consignee</td>
                        <td>@item.LRType</td>
                        <td>@item.Delivery</td>
                        <td>@item.Collection</td>
                        <td class="LrMode">@item.LRMode</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


</div>



