@model IEnumerable<ALT_ERP3.Areas.Logistics.Models.LRModal>
@{
    Layout = null;
}

<script src="@Url.Content("~/Content/js/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/jquery.constrain.js")" type="text/javascript"></script>

<style>
    td, th {
        padding: 4px !important;
    }

    .Ordertable {
        display: table;
    }

    .Ordertable-row {
        display: table-row;
        color: black;
    }

    .Ordertable-cell {
        display: table-cell;
        border: 1px solid black;
        padding: 5px;
        /*text-align: center;*/
    }


    .otherBranch {
        background-color: #d690aa;
    }

    .ClickrowColor {
        background-color: #71a1af !important;
        color: black;
    }

    /*.inputColor{
        color:black;
    }*/
    input[type=text] {
        color: black !important;
    }

    .span6 {
        display: none !important;
    }

    .LCDestination {
        color: blue;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        //$('#PendingMaterialtbl').DataTable();
        if (@Model.Count()>0) {
            $('#PendingMaterialtbl').dataTable({
                "iDisplayLength": -1
            });
        }
        
    });
</script>
@if (Model != null)
{
    <div class="container-fluid" style="margin-top:8px;margin-left:-5px;">
        <table id="PendingMaterialtbl" class="table-bordered example" style="width:100%!important;">
            <thead>

                <tr>
                    <th>Sr No</th>
                    <th>Lr No</th>
                    <th>Lr Date</th>
                    <th>Avl Qty</th>
                    <th>Weight</th>
                    <th>From</th>
                    <th>To</th>
                    <th>G-Qty</th>
                    <th>D-Qty</th>
                    <th>LC No</th>
                    <th>Lc From</th>
                    <th class="LCDestination">Lc TO</th>
                    <th>Charge Type</th>
                    <th>Consigner</th>
                    <th>Consignee</th>
                </tr>
            </thead>
            <tbody style="max-height:400px;min-height:400px;width:100%; overflow-x:hidden;overflow-y:auto">
                @{
                    int Count = 0, TotalQty = 0;
                    double TotalWeight = 0;
                    foreach (var item in Model)
                    {
                        Count += 1;
                        TotalQty += item.Qty;
                        TotalWeight += item.Weight;
                        <tr id="@item.recordkey">
                            <td>@Count</td>
                            <td>@item.Lrno</td>
                            <td>@item.Date</td>
                            <td>@item.Qty</td>
                            <td>@item.Weight</td>
                            <td>@item.From_Name</td>
                            <td>@item.To_Name</td>
                            <td>@item.loadGQty</td>
                            <td>@item.loadDQty</td>
                            <td>@item.Lcno</td>
                            <td>@item.LcFrom</td>
                            <td>@item.LCTo</td>
                            <td>@item.ChargeType</td>
                            <td>@item.Consignor</td>
                            <td>@item.Consignee</td>
                        </tr>
                    }
                    <tr style="color: black;font-weight: bold;">
                        <td colspan="3">Total :</td>
                        <td>@TotalQty</td>
                        <td>@TotalWeight</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}