@model GridOption
@using Common;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}
<link href="~/Content/js/jquery-multi-select/css/multi-select.css" rel="stylesheet" />
<script src="~/Content/js/jquery-multi-select/js/jquery.multi-select.js"></script>
<script src="~/Content/js/jquery-multi-select/js/jquery.quicksearch.js"></script>
<style>
    .select2-container-multi .select2-choices {
        width: 270px;
    }
</style>
<style>
    .ui-jqgrid tr.jqgrow td {
        /*white-space: pre-wrap !important;*/
        height: auto;
        vertical-align: text-top;
        font-family: Tahoma;
        font-size: 9pt;
    }

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        border: 1px solid lightgray;
    }

    .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
        border: 1px solid white;
    }

    .btncolor {
        background-color: olive;
        color: white;
    }

    .ui-widget-content {
        background: unset;
    }

    /*.ui-icon {
        background-color: darkgrey;
    }*/

    .ui-jqgrid .ui-pg-table td {
        font-size: 9pt;
        font-family: Tahoma;
    }

    .btn {
        font-size: 9pt;
        font-family: Tahoma;
        padding: 4px 12px;
    }

    h5 {
        font-size: 18px;
        margin-top: 5px;
    }

    .ui-jqgrid .ui-paging-info {
        font-size: 9pt;
        font-family: Tahoma;
    }

    .ui-jqgrid .ui-pg-input {
        font-size: 9pt;
        font-family: Tahoma;
    }

    .ui-jqgrid .ui-pg-selbox {
        font-size: 9pt;
        font-family: Tahoma;
    }
</style>
<style>
    .col-sm-2 {
        width: 10.666667%;
    }

    .form-group {
        margin-bottom: 8px;
    }

    .form-control {
        height: 28px;
        border: 1px solid #BBBABA;
        color: black;
    }

    .form-horizontal .control-label {
        padding-top: 5px;
        color: black;
    }

    .CodeSt {
        font-size: 18px;
    }

    .fixhead {
        text-transform: uppercase;
    }

    table {
        border-collapse: unset;
    }
</style>
<script type="text/javascript">

    $(document).ready(function () {

        $("#ReportQuery").hide();
        $("#indents").hide();
        $('#RStatus').hide();
        $('select').select2();
        $('#Fromdate').val('@Model.FromDate');
        $('#ToDate').val('@Model.ToDate');
        GetItem()
        GetStore()
        GetIndentNum()
        $('#btnrefresh').click(function () {
            $('#list1').jqGrid('clearGridData');
            $("#list1").jqGrid("GridUnload");
            $('#list1').trigger('reloadGrid');
            gridreload();

        });

        $('#btnexcel').click(function () {
            var Date = ($('#Fromdate').val() + '-' + $('#ToDate').val());
            var sUrlpath = window.open('@Url.Action("GetExcel")?Date=' + Date + '&Item=' + $('#hdnPurchArray').val() + '&Store=' + $('#hdnStoreName').val() + '&Code=' + '@Model.Code' + '&id=' + '@Model.ViewDataId' + '&Value1=' + $('#ReportQuery').val() + '&IndentNumber=' + $('#IndentNum').val())
        });

        $('#btnPrint').click(function () {
            var Date = ($('#Fromdate').val() + '-' + $('#ToDate').val());
            var sUrlpath = window.open('@Url.Action("GetPDF")?Date=' + Date + '&Item=' + $('#hdnPurchArray').val() + '&Store=' + $('#hdnStoreName').val() + '&Code=' + '@Model.Code' + '&id=' + '@Model.ViewDataId' + '&Value1=' + $('#ReportQuery').val() + '&IndentNumber=' + $('#IndentNum').val())
        });

        $("#btnpara").click(function (e) {
            event.preventDefault();
            $('#dialog1').modal('show');
        });
    });




    function gridreload() {
        event.preventDefault();
        //$('.selected').each(function () {
        //    $(this).attr('selected', true);
        //});
        //$('#hdnPurchArray').val($(".selected").val());
        //$('#hdnStoreName').val($(".selected").val());
        var ColName, Coldata;
        var lPath = window.location.pathname;
        var arrPath = lPath.split("/");
        var code = $("#btncode").val();
        var AccountNames = $('#Account').val();
        var Store = $('#hdnStoreName').val()
        var Item = $('#hdnPurchArray').val()
        var Value1 = $('#hdnReportQuery').val();
        var Date = ($('#Fromdate').val() + '-' + $('#ToDate').val());
        var sPathUrl = '@Url.Action("GetGridStructureRecords")?Date=' + Date + '&Item=' + $('#hdnPurchArray').val() + '&Store=' + $('#hdnStoreName').val() + '&Code=' + '@Model.Code' + '&id=' + '@Model.ViewDataId' + '&Value1=' + $('#ReportQuery').val() + '&IndentNumber=' + $('#IndentNum').val();
        var sUrlpath = '@Url.Action("GetGridData")?Date=' + Date + '&Item=' + $('#hdnPurchArray').val() + '&Store=' + $('#hdnStoreName').val() + '&Code=' + '@Model.Code' + '&id=' + '@Model.ViewDataId' + '&Value1=' + $('#ReportQuery').val() + '&IndentNumber=' + $('#IndentNum').val();
        $.ajax({
            url: sPathUrl,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                var obj = $.parseJSON(data);
                ColName = obj[0].split(",");
                Coldata = obj[1];
                $('#openb').text(obj[2]);
                $('#closeb').text(obj[3]);
                $('#tcredit').text(obj[4]);
                $('#tdebit').text(obj[5]);
                CreateGridData();
            },
            error: function () {
                alert("Error with AJAX callback");
            }
        });
        function CreateGridData() {
            $('#list1').jqGrid({
                url: sUrlpath,
                datatype: 'json',
                contentType: "application/json; charset=utf-8",
                mtype: 'POST',
                sortable: true,
                colNames: ColName,
                colModel: Coldata,
                pager: $('#pager'),
                rowNum: @Session["GridRows"],
                rowList: [10, 15, 20, 50, 100, 500, 1000, 5000, 10000],
                sortname: 'Purchase.Code',
                height: 400,
                frozen: false,
                sortorder: 'desc',
                gridview: true,
                viewrecords: true,
                scroll: false,
                //loadonce: true,
                //autowidth: true,
                //shrinkToFit: false,
                autoencode: true,
                search: true,
                beforeRequest: function () {
                    responsive_jqgridData($(".jqGrid"));
                },
                gridComplete: function () {
                    $('#header').show();
                    $('#footer').show();
                },
            });
            jQuery("#list1").jqGrid('navGrid', "#pager",
                { edit: false, add: false, del: false, search: false, refresh: false, searchtext: "Search", });
            jQuery("#list1").jqGrid("setFrozenColumns");
        };



        function buttonclick() {
            var ids = jQuery("#list1").jqGrid('getDataIDs');
            var colname = jQuery('#list1').jqGrid('getGridParam', 'colNames');
            for (var i = 0; i < ids.length; i++) {
                var rowId = ids[i];
                // var test = $("#list").getGridParam('selrow');
                var celValue = jQuery("#list1").jqGrid('getCell', 'Code');
                var selr = jQuery('#list1').jqGrid('getGridParam', 'selrow');
                var rowData = jQuery('#list1').jqGrid('getRowData', rowId);
                var abc = rowData.KeyCol;

            }
        }
        function responsive_jqgridData(jqgrid) {
            jqgrid.find('.ui-jqgrid').addClass('clear-margin span12').css('width', '');
            //jqgrid.find('.ui-jqgrid').addClass('ui-widget-content jqgrow ui-row-ltr ui-state-highlight').css('background', 'skyblue');
            jqgrid.find('.ui-jqgrid-view').addClass('clear-margin span12').css('width', '');
            jqgrid.find('.ui-jqgrid-view > div').eq(1).addClass('clear-margin span12').css('width', '').css('min-height', '0').css('display', 'grid');
            jqgrid.find('.ui-jqgrid-view > div').eq(2).addClass('clear-margin span12').css('width', '').css('min-height', '0').css('display', 'grid');
            jqgrid.find('.ui-jqgrid-sdiv').addClass('clear-margin span12').css('width', '');
            jqgrid.find('.ui-jqgrid-pager').addClass('clear-margin span12').css('width', '');
            jqgrid.find('#pager_right').css('width', '180px');
            jqgrid.find('.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default').css('background', ' #cccccc');
            jqgrid.find('.ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus .ui-state-hover').css('background', 'skyblue');
            jqgrid.find('.ui-jqgrid tr.jqgrow').css('font-family', 'Tahoma');
            jqgrid.find('.ui-jqgrid tr.jqgrow').css('font-size', '9pt');

        };
    }
</script>

<header class="header fixed-top" style="position:fixed;background-color:lightgray;padding:6px;width:100%;margin-top:3px;">
    <div class="fixhead">
        <div class="col-md-3" style="padding-left:unset;">
            <b class="CodeSt">Indent Details</b>
        </div>
        <div class="col-md-4 pull-right" style="padding-right:unset;">
            <div class="input-group input-large" data-date-format="dd/mm/yyyy">
                <input type="text" class="form-control dpd1" name="from" id="Fromdate" data-date-format="dd/mm/yyyy">
                <span class="input-group-addon">To</span>
                <input type="text" class="form-control dpd2" name="to" id="ToDate" data-date-format="dd/mm/yyyy">
            </div>
        </div>
        <div class="col-md-3">
            <button class="btn btn-info btn-sm" id="btnpara"><i class="fa fa-file-excel-o"></i>Options</button>
            <button class="btn btn-info btn-sm" id="btnrefresh" title='Refresh'><i class="fa fa-refresh"></i></button>
            <button class="btn btn-success btn-sm" id="btnexcel" title='Excel'><i class="fa fa-file-o"></i></button>
            <button class="btn btn-warning btn-sm" id="btnPrint" title='Print'><i class="fa fa-list"></i></button>
        </div>
    </div>
</header>
<section class="panel">
    <div class="panel-body" style="margin-top:34px;padding-left:6px;padding-right:6px;">
        <div id="page-contentgrid">
            <div class="jqGrid">
                <table id="list1" class="scroll" cellpadding="0" cellspacing="0"></table>
                <div id="pager" style="height:32px;"></div>
            </div>
        </div>
    </div>
</section>

<footer class="footer-section" style="position:fixed;background-color:#4B4A4A;padding:8px;color:white;height:33px;">
    <div class="col-sm-4"></div>
    <div class="col-sm-4" style="margin-top:0px;text-align:center;">
        T.FAT ERP-iX9 by Suchan Software Private Limited
    </div>
    <div class="col-sm-4"></div>
</footer>

<div class="example-modal">
    <div id="dialog1" class="modal modal-primary">
        <div class="modal-dialog" style="width:650px;">
            <div id="Dialog">
                @Html.Partial("Parameter")
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hdnPurchArray" />
<input type="hidden" id="hdnStoreName" />
@*<input type="hidden"id="hdnReportQuery" />*@
@Html.HiddenFor(x => x.Value1, new { @Id = "hdnReportQuery" })