@model IEnumerable<ALT_ERP3.Areas.Logistics.Models.ArrivalDispatchVM>
@{
    Layout = null;
}
<style>
    .span6 {
        display: none !important;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('#tblArrivalList').DataTable();
    });
</script>

@if (Model != null)
{
    <div class="container-fluid">
        <center>
            <table class="Ordertable table-bordered table-bordered example table-responsive-md" id="tblArrivalList" style="width:-webkit-fill-available;">
                <thead id="Head">
                    <tr>
                        <th class="Ordertable-cell">FmNo</th>
                        <th class="Ordertable-cell">Fm-Date</th>
                        <th class="Ordertable-cell">From</th>
                        <th class="Ordertable-cell">Route</th>
                        <th class="Ordertable-cell">To</th>
                        <th class="Ordertable-cell">VehicleNo</th>
                        @*<th class="Ordertable-cell">No-Of-LR</th>
                        <th class="Ordertable-cell">Total Weight</th>
                        <th class="Ordertable-cell">Total Qty</th>*@
                        <th class="Ordertable-cell">Arrival Date</th>
                        <th class="Ordertable-cell">Arrival Time</th>
                        <th class="Ordertable-cell">Arrival KM</th>
                        <th class="Ordertable-cell">Remark</th>
                        <th class="Ordertable-cell">Arrival Schedule Date</th>
                        <th class="Ordertable-cell">Arrival Schedule Time</th>
                        <th class="Ordertable-cell">Arrival Schedule KM</th>
                    </tr>
                </thead>
                <tbody id="LcCombo" style="max-height:300px;min-height:300px;width:100%;overflow:scroll;">
                    @foreach (var item in Model)
                    {
                        <tr class="Ordertable-row">
                            <td class="Ordertable-cell">@item.Fmno</td>
                            <td class="Ordertable-cell">@item.FMDate</td>
                            <td class="Ordertable-cell">@item.From</td>
                            <td class="Ordertable-cell">@item.Route</td>
                            <td class="Ordertable-cell">@item.To</td>
                            <td class="Ordertable-cell">@item.VehicleNo</td>
                            @*<td class="Ordertable-cell">@item.NoofLr</td>
                            <td class="Ordertable-cell">@item.TotalWeight</td>
                            <td class="Ordertable-cell">@item.TotalQty</td>*@
                            <td class="Ordertable-cell">@item.Date</td>
                            <td class="Ordertable-cell">@item.Time</td>
                            <td class="Ordertable-cell">@item.KM</td>
                            <td class="Ordertable-cell">@item.Remark</td>
                            <td class="Ordertable-cell">@item.ScheduleDate</td>
                            <td class="Ordertable-cell">@item.ScheduleTime</td>
                            <td class="Ordertable-cell">@item.ScheduleKM</td>
                        </tr>
                    }
                </tbody>

            </table>
        </center>
    </div>
    <br />
}