@model ALT_ERP3.PurchaseVM
@using Common;


<div class="modal-body">
    <div class="modal-content">
        <div class="modal-header" style="background-color:#cccccc;padding-top:5px;">
            <h4 class="modal-title"><b>Additional Charges - Discount</b></h4>
        </div>
        <div class="modal-body">

            <div class="grid" id="AddlDiscChargesTableEdt" style="max-height:350px;min-height:350px; width:100%; overflow: scroll;">
                <table id="addldiscchargesgridEdt" class="zui-table" style="width:100%;">
                    <thead>
                    </thead>
                    <tbody>
                        @if (Model.DiscChargeList != null)
                        {
                            foreach (var item in @Model.DiscChargeList.ToList())
                            {
                                <tr id="datacharge" style="font-family:Tahoma;font-size:9pt;border: solid 1px lightgray;">
                                    <td style="width:5%;" hidden="hidden">@item.tempid</td>
                                    <td style="width:5%;">@item.DiscCaption</td>
                                    <td style="width:15%;" contenteditable="true">@item.Disc</td>
                                    <td style="width:1%;">@item.AddLess</td>

                                    <td style="width:1%;">@item.CalcOn</td>
                                    <td hidden="hidden">@item.DiscAmt</td>
                                    <td hidden="hidden">@item.PerValue</td>
                                </tr>

                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer" style="background-color:#cccccc;height:42px;padding-bottom:5px;padding-top:5px;border-radius: 0px 0px 5px 5px;">
            <button type="button" class="btn btn-warning" id="dicchrgcalcEdt">Save</button>
            @*<button class="btn btn-danger" type="button" id="CloseDiscChg">Close</button>*@
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        //$('#CloseDiscChg').click(function (event) {
        //    event.preventDefault();
        //    $('#disccalcmodeledt').modal('hide');
        //});


        $("#dicchrgcalcEdt").click(function (event) {
            event.preventDefault();
            CalcAddlDiscChargesEdtFn();
           $("#hdnuAddDisChgSvd").val("1");
        });

    });

    function CalcAddlDiscChargesEdtFn() {
        var DCSerial = [];
        $('#addldiscchargesgridEdt tbody tr').each(function () {
            var tds = $(this).find('td');
            var myDets = {
                Disc: tds.eq(2).text(),
                DiscCaption: tds.eq(1).text(),
                AddLess: tds.eq(3).text(),
                CalcOn: tds.eq(4).text(),
                DiscAmt: tds.eq(5).text(),
                PerValue: tds.eq(6).text()
            }
            DCSerial.push(myDets);
        });
        var ModelData = {};
        ModelData["DiscChargeList"] = DCSerial;
        ModelData["MainType"] = $("#hdnMType").val();
        ModelData["Type"] = $("#hdnType").val();
        ModelData["Qty"] = $("#UpdateQty").val();
        ModelData["Rate"] = $("#UpdateRate").val();
        ModelData["RateOn2"] = $('#UpdateRateOn2').is(':checked');
        ModelData["Qty2"] = $('#UpdateQty2').val();
        ModelData["tempId"] = $('#hdnutempId').val();
        ModelData["Code"] = $('#UpdateCode').val();
        ModelData["Account"] = $('#Account').val();
        ModelData["SubType"] = $("#hdnSType").val();
        ModelData["NonStock"] = $("#NonStock").val();
        var DTO = { Model: ModelData };
        var url = '@Url.Action("CalDiscountChargesEdit")';
        $.ajax({
            type: "POST",
            dataType: "json",
            data: JSON.stringify(DTO),
            cache: false,
            url: url,
            contentType: "application/json;charset=utf-8",
            beforesend: function () {
                $('.spinner').show();
            },
            success: function (data) {
                $('.spinner').hide();
                if (data.Status == 'DiscNoAllow') {
                    alert('Discount Charges Not Allowed Save')
                    $('#disccalcmodeledt').modal('hide');
                }
                else {
                    $('#hdnuDiscChargeAmt').val(parseFloat(data.DiscAmt).toFixed(2))
                    Calculation1()
                    $('#disccalcmodeledt').modal('hide');
                }

            },
            error: function () {
                $('.spinner').hide();
                alert("error occured while processing your request.");
            }
        });
    }
</script>
