@model ALT_ERP3.PurchaseVM
@using Common;

<div class="modal-body">
    <div class="modal-content">
        <div class="modal-header" style="background-color:#cccccc;padding:7px;font-weight:bolder;">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
            <h4 class="modal-title">Pick from Source Document</h4>
        </div>
        <div class="modal-body">
            <div class="grid" id="PickTable" style="max-height:450px; min-height:450px;width:100%; overflow: scroll;">

                @if (Model.MileStoneReqd == true)
                {
                    <table id="tabledatapick" class="zui-table">
                        <thead>
                            <tr role="row">
                                <th></th>
                                <th style="width:1%">Sr.</th>
                                <th style="width:10%">Ord Date</th>
                                <th style="width:10%">Stage</th>
                                <th style="width:10%">MSTPer</th>
                                <th style="width:10%">PayStage</th>
                                <th style="width:10%">PayPercent</th>
                                <th style="width:5%">TableKey</th>
                                <th style="width:5%">ParentKey</th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.NewItemList != null)
                            {
                                foreach (var item in @Model.NewItemList.Where(x => x.tempIsDeleted == false).ToList())
                                {
                                    <tr style="font-family:Tahoma;font-size:9pt;border: solid 1px lightgray;">
                                        <td style="width:1%"><input id='rolemaster_AccessType" + rowId + "' type='radio' name='radAnswer' Class='example2' /></td>
                                        <td style="width:1%">@item.tempId</td>
                                        <td style="width:5%">@item.BillDate.ToString("dd/MM/yyyy")</td>
                                        <td hidden="hidden">@item.StageName</td>
                                        <td style="width:5%">@item.Stage</td>
                                        <td style="width:5%">@item.MSTPer</td>
                                        <td style="width:5%">@item.PayStage</td>
                                        <td style="width:5%">@item.PayPercent</td>
                                        <td style="width:5%">@item.TableKey</td>
                                        <td style="width:5%">@item.ParentKey</td>

                                        <td hidden="hidden">@item.MainType</td>
                                        <td hidden="hidden">@item.SubType</td>


                                        @*<td hidden="hidden">@item.IndKey</td>
                                <td hidden="hidden">@item.EnqKey</td>
                                <td hidden="hidden">@item.QtnKey</td>
                                <td hidden="hidden">@item.OrdKey</td>
                                <td hidden="hidden">@item.ChlnKey</td>
                                <td hidden="hidden">@item.InvKey</td>
                                <td hidden="hidden">@item.PKSKey</td>*@

                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                }
                else
                {

                    <label class="col-sm-1 control-label">Search By:</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="SearchPickupBy">
                            <option value="1">Type-Sno-Srl</option>
                            <option value="2">Bill/Order Date</option>
                            <option value="3">Bill/Order Number</option>
                            <option value="4">Product Code</option>
                            <option value="5">Product Name</option>
                            <option value="6">Project</option>
                        </select>
                    </div>

                    <label class="col-sm-1 control-label">Search :</label>
                    <div class="col-sm-2">
                        <input type="text" onkeyup="myPickUpFunction()" class="form-control" id="searchpickuptext" />
                    </div>
                        <table id="tabledatapick" class="zui-table">
                            <thead>
                                <tr role="row">
                                    <th></th>
                                    <th style="width:1%">Sr.</th>
                                    <th hidden="hidden">TableKey</th>
                                    <th hidden="hidden">ParentKey</th>
                                    <th style="width:10%">Type-Sno-Srl</th>
                                    <th style="width:5%"><label id="lblpickupbillno">Doc Date</label></th>
                                    <th style="width:5%"><label id="lblpickupbilldate">Ord Date</label></th>
                                    <th style="width:5%"><label id="lblpickupbillno">Bill Number</label></th>
                                    <th style="width:10%">Item Code</th>
                                    <th style="width:10%">Item Description</th>
                                    <th style="width:5%" class="pickupprop">Property1</th>
                                    <th style="width:5%" class="pickupprop">Property2</th>
                                    <th hidden="hidden">Store</th>
                                    <th style="width:5%;">Unit</th>
                                    <th hidden="hidden">HSN</th>
                                    <th hidden="hidden">GST Code</th>
                                    <th style="width:5%">Balance Qty</th>
                                    <th style="width:5%">Balance Qty2</th>
                                    <th style="width:5%">Qty</th>
                                    <th hidden="hidden">Factor</th>
                                    <th style="width:5%">Qty2</th>
                                    <th hidden="hidden">Unit2</th>
                                    <th hidden="hidden">RateOn2</th>
                                    <th style="width:5%">Rate</th>
                                    <th hidden="hidden">Disc%</th>
                                    <th hidden="hidden">Disc.Amt</th>
                                    <th hidden="hidden"><label id="igstvatrpostlbl">IGSTRate</label></th>
                                    <th hidden="hidden"><label id="cgstvatrpostlbl">CGSTRate</label></th>
                                    <th hidden="hidden"><label id="sgstvatrpostlbl">SGSTRate</label></th>
                                    <th hidden="hidden"><label id="igstvatapostlbl">IGSTAmt</label></th>
                                    <th hidden="hidden"><label id="cgstvatapostlbl">CGSTAmt</label></th>
                                    <th hidden="hidden"><label id="sgstvatapostlbl">SGSTAmt</label></th>
                                    <th hidden="hidden">Taxable</th>
                                    <th style="width:5%">Val1</th>

                                    <th style="width:10%">Narration</th>
                                    <th hidden="hidden">BinNumber</th>
                                    <th>Project</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.NewItemList != null)
                                {
                                    foreach (var item in @Model.NewItemList.Where(x => x.tempIsDeleted == false).ToList())
                                    {
                                        if (item != null)
                                        {
                                <tr style="font-family:Tahoma;font-size:9pt;border: solid 1px lightgray;">
                                    <td><input type="checkbox" id='rolemaster_AccessType' atr="@item.SrNo" value="@item.tempId" /></td>
                                    <td style="width:1%">@item.tempId</td>
                                    <td hidden="hidden">@item.TableKey</td>
                                    <td hidden="hidden">@item.ParentKey</td>
                                    <td style="width:10%">@item.Type-@item.Sno-@item.Srl</td>
                                    <td style="width:5%">@item.DocDate.ToString("dd/MM/yyyy")</td>
                                    <td style="width:5%">@item.BillDate.ToString("dd/MM/yyyy")</td>
                                    <td style="width:5%">@item.BillNumber</td>
                                    <td style="width:10%;">@item.Code</td>
                                    <td style="width:10%;">@item.ItemName</td>
                                    <td style="width:5%" class="pickupprop">@item.ClassValues1</td>
                                    <td style="width:5%" class="pickupprop">@item.ClassValues2</td>
                                    <td hidden="hidden">@item.Store</td>
                                    <td style="width:10%;">@item.Unit</td>
                                    <td hidden="hidden">@item.HSN</td>
                                    <td hidden="hidden">@item.GSTCode</td>
                                    <td style="width:10%;">@item.Pending</td>
                                    <td style="width:10%;">@item.Pending2</td>
                                    <td style="width:10%;">@item.Qty</td>
                                    <td hidden="hidden">@item.Factor</td>
                                    <td style="width:10%;">@item.Qty2</td>
                                    <td hidden="hidden">@item.Unit2</td>
                                    <td hidden="hidden">@item.RateOn2</td>
                                    <td style="width:10%;">@item.Rate</td>
                                    <td hidden="hidden">@item.Disc</td>
                                    <td hidden="hidden">@item.DiscAmt</td>
                                    <td hidden="hidden">@item.IGSTRate</td>
                                    <td hidden="hidden">@item.CGSTRate</td>
                                    <td hidden="hidden">@item.SGSTRate</td>
                                    <td hidden="hidden">@item.IGSTAmt</td>
                                    <td hidden="hidden">@item.CGSTAmt</td>
                                    <td hidden="hidden">@item.SGSTAmt</td>
                                    <td hidden="hidden">@item.Taxable</td>
                                    <td style="width:5%">@item.Val1</td>
                                    <td style="width:10%">@item.Narr</td>
                                    <td hidden="hidden">@item.BinNumber</td>
                                    <td hidden="hidden">@item.MainType</td>
                                    <td hidden="hidden">@item.SubType</td>
                                    <td hidden="hidden">@item.DiscPerAmt</td>

                                    <td hidden="hidden">@item.IndKey</td>
                                    <td hidden="hidden">@item.EnqKey</td>
                                    <td hidden="hidden">@item.QtnKey</td>
                                    <td hidden="hidden">@item.OrdKey</td>
                                    <td hidden="hidden">@item.ChlnKey</td>
                                    <td hidden="hidden">@item.InvKey</td>
                                    <td hidden="hidden">@item.PKSKey</td>
                                    <td hidden="hidden">@item.RateType</td>
                                    <td hidden="hidden">@item.RateCalcType</td>
                                    <td hidden="hidden">@item.DiscChargeAmt</td>
                                    <td hidden="hidden">@item.PendingFactor</td>
                                    <td hidden="hidden">@item.PriceDiscCode</td>
                                    <td hidden="hidden">@item.FreeQty</td>

                                    <td hidden="hidden">@item.PriceRateCode</td>
                                    <td>@item.ProjCode</td>
                                </tr>
                                        }

                                    }
                                }
                            </tbody>
                        </table>
                        }

                    </div>
                </div>
        <div class="modal-footer" style="background-color:#cccccc;">
            <button type="button" class="btn btn-success" id="pickrecord">Accept Data</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Discard</button>
        </div>
    </div>
</div>

<script src="@Url.Content("~/Content/js/jquery.constrain.js")" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        if ($('#hdnMileStoneReqd').val() == "False" || $('#hdnMileStoneReqd').val() == "false") {

            if ($("#RefDoc").val() == "Indents") {
                $('#lblpickupbilldate').html('Indent Date');
            }
            else if ($("#RefDoc").val() == "Enquiry" || $("#RefDoc").val() == "Sales Enquiry" || $("#RefDoc").val() == "Purchase Enquiry") {
                $('#lblpickupbilldate').html('Enq Date');
            }
            else if ($("#RefDoc").val() == "Quotation" || $("#RefDoc").val() == "Sales Quotation" || $("#RefDoc").val() == "Purchase Quotation") {
                $('#lblpickupbilldate').html('Qtn Date');
            }
            else if ($("#RefDoc").val() == "Orders" || $("#RefDoc").val() == "Purchase Orders" || $("#RefDoc").val() == "Sales Orders" || $("#RefDoc").val() == "PackingList") {
                $('#lblpickupbilldate').html('Ord Date');
            }
            else if ($("#RefDoc").val() == "Challans") {
                $('#lblpickupbilldate').html('Chln. Date:');
            }
            else if ($("#RefDoc").val() == "Inter Branch Doc" || $("#RefDoc").val() == "Invoice") {
                $('#lblpickupbilldate').html('Bill Date:');
            }
            else if ($("#RefDoc").val() == "Performa Invoice") {
                $('#lblpickupbilldate').html('PInv Date:');
            }
            else if ($("#RefDoc").val() == "PackingList") {
                $('#lblpickupbilldate').html('Pack Date');
            }


            if ($('#hdnIsItemClass').val() == "false" || $('#hdnIsItemClass').val() == "False") {
                $(".pickupprop").hide();
            }
            else {
                $(".pickupprop").show();
            }

        }
        if ($('#hdnVATGSTApp').val() == "V") {
            $('#igstvatrpostlbl').html('Tax Rate');
            $('#sgstvatrpostlbl').html('Surcharge Rate');
            $('#cgstvatrpostlbl').html('Addl.Tax Rate');
            $('#igstvatapostlbl').html('Tax Amt');
            $('#cgstvatapostlbl').html('Addl Tax Amt');
            $('#sgstvatapostlbl').html('Surcharge Amt');
        }

        if ($('#hdnMileStoneReqd').val() == "True" || $('#hdnMileStoneReqd').val() == "true") {
            $('#tabledatapick tbody tr').dblclick(function () {
                var tds = $(this).find('td');
                var ParentKey = tds.eq(9).text();
                $('#tabledatapick tbody tr').each(function () {
                    var tds2 = $(this).find('td');
                    var av = tds2.eq(9).text();
                    if (ParentKey.includes(av)) {
                        tds2.find('input[type="checkbox"]').prop("checked", true);
                    }
                })

            })
        }
        else {
            $('#tabledatapick tbody tr').dblclick(function () {
                var tds = $(this).find('td');
                var ParentKey = tds.eq(3).text();
                $('#tabledatapick tbody tr').each(function () {
                    var tds2 = $(this).find('td');
                    var av = tds2.eq(3).text();
                    if (ParentKey.includes(av)) {
                        tds2.find('input[type="checkbox"]').prop("checked", true);
                    }
                })

            })
        }

        $("#pickrecord").click(function (event) {
            event.preventDefault();
            var myTableArray = [];
            var refadjArray = [];
            var acheckmil = 0;
            if ($('#hdnMileStoneReqd').val() == "True") {

                $('#tabledatapick tr:not(:first)').each(function () {
                    var tds = $(this).find('td');
                    if (tds.find('input[type="radio"]').is(':checked')) {
                        acheckmil = parseInt(acheckmil) + parseInt(1);
                    }
                })
                if (parseInt(acheckmil) == parseInt(0)) {
                    alert('Select a Ledger to Pickup')
                    return;
                }

                $('#tabledatapick tr:not(:first)').each(function () {
                    var tds = $(this).find('td');
                    if (tds.find('input[type="radio"]').is(':checked')) {
                        var myDets = {
                            tempId: tds.eq(1).text(),
                            Stage: tds.eq(4).text(),
                            MSTPer: tds.eq(5).text(),
                            PayStage: tds.eq(6).text(),
                            PayPercent: tds.eq(7).text(),
                            TableKey: tds.eq(8).text(),
                            ParentKey: tds.eq(9).text()
                        }
                        myTableArray.push(myDets);
                    }
                })
                var ModelData = {};
                ModelData["PickUpList"] = myTableArray;
                ModelData["SubType"] = $("#hdnSType").val();
                ModelData["MainType"] = $("#hdnMType").val();
                ModelData["SourceDoc"] = $("#RefDoc").val();
                ModelData["Type"] = $("#hdnType").val();
                ModelData["ChangeLog"] = $('#hdnchangelog').val();
                ModelData["LocationCode"] = $('#LocationCode').val();
                ModelData["VATGSTApp"] = $('#hdnVATGSTApp').val();
                ModelData["MileStoneReqd"] = $('#hdnMileStoneReqd').val();
                ModelData["GSTType"] = $("#GSTType").val();
                ModelData["DelyCode"] =$("#DelyCode").val();
                ModelData["DelyAltAdd"] = $('#DelyAltAdd').val();
                ModelData["PlaceOfSupply"] = $("#PlaceOfSupply").val();
                ModelData["IsGstDocType"] = $('#IsGstDocType').val();
                var DTO = { Model: ModelData };
                var url = '@Url.Action("PostPickUp")';
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    data: JSON.stringify(DTO),
                    cache: false,
                    url: url,
                    contentType: "application/json;charset=utf-8",
                    beforeSend: function () {
                        $('.spinner').show();
                    },
                    success: function (data) {
                        if (data.Status == "Success") {
                            $('.spinner').hide();
                            $('#ErrorMessage').hide();
                            $('#pickuplist').modal('hide');
                            if ($('#hdnchangelog').val() == "Add") {
                                $('#ItemChargeMoreDiv').html(data.Html);
                                if ($("#hdnSType").val() != "PI") {
                                    $("#BillNumber").val(data.BillNumber);
                                    $('#OrdDate').val(data.OrdDate);
                                    if (data.OrdDate != null && data.OrdDate != "") {
                                        var bnewDate = data.OrdDate.split('-');
                                        $('#OrdDate').datepicker("setDate",new Date(bnewDate[1] + "/" + bnewDate[0] + "/" + bnewDate[2]));
                                    }
                                }
                                if ($('#hdnCurrConv').val() == "Y") {
                                    $('#CurrName').val(data.CurrName).attr("selected", "selected");
                                    $('#CurrRate').val(data.CurrRate).attr("selected", "selected");
                                }
                            }
                            if ($('#hdnchangelog').val() == "Edit") {
                                $('#ItemListTable').html(data.Html);
                            }
                            $('#txtf_F001').val(data.Taxable.toFixed(2));
                            $('#txtb_F001').val(data.Taxable.toFixed(2));
                            $('#txttotitemqty').val(data.TotalQty.toFixed(2));
                            $('#txttottxable').val(data.Taxable.toFixed(2));
                            //$('#txttotcgst').val(data.CGSTAmt.toFixed(2));
                            //$('#txttotsgst').val(data.SGSTAmt.toFixed(2));
                            //$('#txttotigst').val(data.IGSTAmt.toFixed(2));
                            $('#txtMLSPercent').val(parseFloat(data.MLSPercent).toFixed(2))
                            if ($('#hdnSType').val() == "RP") {
                                $('#TDSAble').val(data.Taxable.toFixed(2));
                            }
                            SetValuesInTable()
                            $('#divLedgerTable :input').prop('disabled', true);
                            $('#CrPeriod').prop('disabled', false);
                            //$('#CurrDiv :input').prop('disabled', true);
                            if ($('#hdnSType').val() == "RP") {
                                loadValuesTdsAble()
                            }
                            document.getElementById("Sales").click();
                        }
                        else if (data.Status == "Fail") {
                            alert(data.Message)
                        }

                    },
                    error: function (err) {
                        alert(JSON.stringify(err))
                        $('.spinner').hide();
                        alert("error occured while processing your request.");
                    }
                });
            }
            else {

                $('#tabledatapick tr:not(:first)').each(function () {
                    var tds = $(this).find('td');
                    if (tds.find('input[type="checkbox"]').is(':checked')) {
                        acheckmil = parseInt(acheckmil) + parseInt(1);
                    }
                })
                if (parseInt(acheckmil) == parseInt(0)) {
                    alert('Select a Ledger to Pickup')
                    return;
                }
                if ($("#RefDoc").val() == "Blanket Order") {
                    if (parseInt(acheckmil) > parseInt(1)) {
                        alert('Select only one Ledger to Pickup')
                        return;
                    }
                }
                $(':input[id="pickrecord"]').prop('disabled', true);

                $('#tabledatapick tr:not(:first)').each(function () {
                    var tds = $(this).find('td');
                    if (tds.find('input[type="checkbox"]').is(':checked')) {
                        var myDets = {
                            tempId: tds.eq(1).text(),
                            TableKey: tds.eq(2).text(),
                            ParentKey: tds.eq(3).text(),
                            Code: tds.eq(8).text(),
                            ItemName: tds.eq(9).text(),
                            ClassValues1: tds.eq(10).text(),
                            ClassValues2: tds.eq(11).text(),
                            Store: tds.eq(12).text(),
                            Unit: tds.eq(13).text(),
                            HSN: tds.eq(14).text(),
                            GSTCode: tds.eq(15).text(),
                            Qty: tds.eq(16).text(),//actally Pending
                            Qty2: tds.eq(17).text(),
                            Factor: tds.eq(19).text(),

                            Unit2: tds.eq(21).text(),
                            RateOn2: tds.eq(22).text(),
                            Rate: tds.eq(23).text(),
                            Disc: tds.eq(24).text(),
                            DiscAmt: tds.eq(25).text(),
                            IGSTRate: tds.eq(26).text(),
                            CGSTRate: tds.eq(27).text(),
                            SGSTRate: tds.eq(28).text(),
                            IGSTAmt: tds.eq(29).text(),
                            CGSTAmt: tds.eq(30).text(),
                            SGSTAmt: tds.eq(31).text(),
                            Taxable: tds.eq(32).text(),
                            Val1: tds.eq(33).text(),
                            Narr: tds.eq(34).text(),
                            BinNumber: tds.eq(35).text(),
                            MainType: tds.eq(36).text(),
                            SubType: tds.eq(37).text(),
                            DiscPerAmt: tds.eq(38).text(),
                            IndKey: tds.eq(39).text(),
                            EnqKey: tds.eq(40).text(),
                            QtnKey: tds.eq(41).text(),
                            OrdKey: tds.eq(42).text(),
                            ChlnKey: tds.eq(43).text(),
                            InvKey: tds.eq(44).text(),
                            PKSKey: tds.eq(45).text(),
                            RateType: tds.eq(46).text(),
                            RateCalcType: tds.eq(47).text(),
                            DiscChargeAmt: tds.eq(48).text(),
                            PendingFactor: tds.eq(49).text(),
                            PriceDiscCode:tds.eq(50).text(),
                            FreeQty: tds.eq(51).text(),

                            PriceRateCode: tds.eq(52).text(),

                        }
                        myTableArray.push(myDets);
                    }
                })


                if ($("#hdnSType").val() == "RP" || $("#hdnSType").val() == "CP" || $("#hdnSType").val() == "RS" || $("#hdnSType").val() == "CS" || $("#hdnSType").val() == "NS" || $("#hdnSType").val() == "NP") {
                   
                    $('#RefAdjdata tr:not(:first)').each(function () {
                        var tds = $(this).find('td');
                        
                            var myDets = {
                                tempId: tds.eq(0).text(),
                                Type: tds.eq(1).text(),
                                Prefix: tds.eq(2).text(),
                                Srl: tds.eq(3).text(),
                                Sno: tds.eq(4).text(),
                                BillNumber: tds.eq(5).text(),
                                StrBillDate: tds.eq(6).text(),
                                CurrName: tds.eq(7).text(),
                                BillAmt: tds.eq(8).text(),
                                BalanceAmt: tds.eq(9).text(),
                                OSAdjFlag: tds.find("input[class='rolemaster_AccessType']").is(':checked'),
                                AdjustAmt: tds.find("input[class='txtfvalue']").val(),
                                Narr: tds.eq(12).text(),
                                ParentKey: tds.eq(13).text(),
                                TableKey: tds.eq(14).text(),
                                MainType: tds.eq(15).text(),
                                SubType: tds.eq(16).text(),
                            }
                            refadjArray.push(myDets);
                        
                    })
                }
                var ModelData = {};
                ModelData["PickUpList"] = myTableArray;
                ModelData["SubType"] = $("#hdnSType").val();
                ModelData["MainType"] = $("#hdnMType").val();
                ModelData["SourceDoc"] = $("#RefDoc").val();
                ModelData["Type"] = $("#hdnType").val();
                ModelData["ChangeLog"] = $('#hdnchangelog').val();
                ModelData["LocationCode"] = $('#LocationCode').val();
                ModelData["VATGSTApp"] = $('#hdnVATGSTApp').val();
                ModelData["GSTType"] = $("#GSTType").val();
                ModelData["DelyCode"] =$("#DelyCode").val();
                ModelData["DelyAltAdd"] = $('#DelyAltAdd').val();
                ModelData["PlaceOfSupply"] = $("#PlaceOfSupply").val();
                ModelData["IsGstDocType"] = $('#IsGstDocType').val();
                ModelData["OSAdjList"] = refadjArray;
                var DTO = { Model: ModelData };
                var url = '@Url.Action("PostPickUp")';
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    data: JSON.stringify(DTO),
                    cache: false,
                    url: url,
                    contentType: "application/json;charset=utf-8",
                    beforeSend: function () {
                        $('.spinner').show();
                        $('#SaveData').prop('disabled', true);
                        $('#BothSaveEmail').prop('disabled', true);
                        $('#Print').prop('disabled', true);
                    },
                    success: function (data) {
                        $(':input[id="pickrecord"]').prop('disabled', false);
                        if (data.Status == "Duplicate") {
                            alert(data.Message)
                            $('.spinner').hide();
                        }
                        if (data.Status == "Success") {
                            $('.spinner').hide();
                            $('#ErrorMessage').hide();
                            $('#pickuplist').modal('hide');
                            if ($('#hdnchangelog').val() == "Add") {
                                $('#ItemChargeMoreDiv').html(data.Html);
                                if ($("#RefDoc").val() != "Indents") {
                                  $('#divLedgerTable').html(data.SalesHtml);
                                 }
                                $('#CrLimit').html(data.CrLimit);
                                if ($("#hdnSType").val() != "PI") {
                                    $("#BillNumber").val(data.BillNumber);
                                    $('#OrdDate').val(data.OrdDate);
                                    if (data.OrdDate != null && data.OrdDate != "") {
                                        var bnewDate = data.OrdDate.split('-');
                                        $('#OrdDate').datepicker("setDate",new Date(bnewDate[1] + "/" + bnewDate[0] + "/" + bnewDate[2]));
                                    }
                                }
                                if ($('#hdnCurrConv').val() == "Y") {
                                    $('#CurrName').val(data.CurrName).attr("selected", "selected");
                                    $('#CurrRate').val(data.CurrRate).attr("selected", "selected");
                                }
                            }
                            if ($('#hdnchangelog').val() == "Edit") {
                                $('#ItemListTable').html(data.Html);
                            }
                            $('#txtf_F001').val(data.Taxable.toFixed(2));
                            $('#txtb_F001').val(data.Taxable.toFixed(2));
                            $('#txttotitemqty').val(data.TotalQty.toFixed(2));
                            $('#txttottxable').val(data.Taxable.toFixed(2));
                            
                            
                            SetValuesInTable()
                            if ($("#RefDoc").val() != 'Indents') {
                                if ($('#hdnEnableParty').val() == "False" || $('#hdnEnableParty').val() == "false") {
                                    $('#divLedgerTable :input').prop('disabled', true);
                                }
                                else {
                                    $('#divLedgerTable :input').prop('disabled', true);
                                    $('#PlaceOfSDiv :input').prop("disabled", false);
                                    $('#DelyCode').prop("disabled", false);
                                    $('.select2-input').prop("disabled", false);
                                    $('#DelyAltAdd').prop("disabled", false);
                                    $('#DelyContact').prop("disabled", false);
                                }
                            }
                           

                            $('#CrPeriod').prop('disabled', false);
                            
                            document.getElementById("Sales").click();
                        }
                        else if (data.Status == "Fail") {
                            alert(data.Message)
                        }
                    },
                    error: function (err) {
                        alert(JSON.stringify(err))
                        $('.spinner').hide();
                        alert("error occured while processing your request.");
                    }
                });
            }

        });
    });
     function myPickUpFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
         input = document.getElementById("searchpickuptext");
        filter = input.value.toUpperCase();
         table = document.getElementById("tabledatapick");
        tr = table.getElementsByTagName("tr");
        
        // Loop through all table rows, and hide those who don't match the search query
         for (i = 0; i < tr.length; i++) {
            
            if ($('#SearchPickupBy').val() == '1') {
                td = tr[i].getElementsByTagName("td")[4];
            }
            else if ($('#SearchPickupBy').val() == '2') {
                td = tr[i].getElementsByTagName("td")[6];
            }
            else if ($('#SearchPickupBy').val() == '3') {
                td = tr[i].getElementsByTagName("td")[7];
            }
            else if ($('#SearchPickupBy').val() == '6') {
                td = tr[i].getElementsByTagName("td")[53];
            }
            else if ($('#SearchPickupBy').val() == '4') {
                td = tr[i].getElementsByTagName("td")[8];
            }
            else  {
                td = tr[i].getElementsByTagName("td")[9];
            }
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    
</script>