@model IEnumerable<ALT_ERP3.Areas.Logistics.Models.ArrivalDispatchVM>
@{
    Layout = null;
}
<style>
    .span6 {
        display: none !important;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('#tblLoadingList').DataTable();




        $(".btnFmLoadingDetails").click(function (event) {
             event.preventDefault();

            var url = '@Url.Action("GetFmWiseLoadingDetails")';
            var DTO = { Lcno: this.id };
            $.ajax({
                type: "POST",
                dataType: "json",
                data: JSON.stringify(DTO),
                cache: false,
                url: url,
                contentType: "application/json; charset=utf-8",
                beforeSend: function () {
                    $('.spinner').show();
                },
                success: function (data) {
                    var LoadDownLoadFiles = $("#LoadingLCLRList");
                    $("#ErrorMessage").hide();
                    $('.spinner').hide();
                    $('#LoadingLCmodal').modal('show');
                    LoadDownLoadFiles.html('');
                    LoadDownLoadFiles.html(data.Html);

                    $(".hideColumn").hide();
                    $("#Footer").hide();
                },
            });
        });
    });
</script>
@if (Model != null)
{
    <div class="container-fluid">
        <center>
            <table class="Ordertable table-bordered table-bordered example table-responsive-md" id="tblLoadingList" style="width:-webkit-fill-available;">
                <thead id="Head">
                    <tr>
                        <th class="Ordertable-cell">Loading Details</th>
                        <th class="Ordertable-cell">FmNo</th>
                        <th class="Ordertable-cell">Fm-Date</th>
                        <th class="Ordertable-cell">From</th>
                        <th class="Ordertable-cell">Route</th>
                        <th class="Ordertable-cell">To</th>
                        <th class="Ordertable-cell">VehicleNo</th>
                        <th class="Ordertable-cell">No-Of-LR</th>
                        <th class="Ordertable-cell">Total Weight</th>
                        <th class="Ordertable-cell">Total Qty</th>


                    </tr>
                </thead>
                <tbody id="LcCombo" style="max-height:300px;min-height:300px;width:100%;overflow:scroll;">
                    @foreach (var item in Model)
                    {
                        <tr class="Ordertable-row">
                            <td class="Ordertable-cell" style="width: inherit;">
                                <center><button class="btn btn-primary btnFmLoadingDetails" id="@item.LCno" style="font-size: 13px;padding:5px 12px;"><i class="glyphicon glyphicon-eye-open"></i></button></center>
                            </td>
                            <td class="Ordertable-cell" style="width: inherit;">@item.Fmno</td>
                            <td class="Ordertable-cell">@item.FMDate</td>
                            <td class="Ordertable-cell">@item.From</td>
                            <td class="Ordertable-cell">@item.Route</td>
                            <td class="Ordertable-cell">@item.To</td>
                            <td class="Ordertable-cell">@item.VehicleNo</td>
                            <td class="Ordertable-cell">@item.NoofLr</td>
                            <td class="Ordertable-cell">@item.TotalWeight</td>
                            <td class="Ordertable-cell">@item.TotalQty</td>


                        </tr>
                    }
                </tbody>

            </table>
        </center>
    </div>
    <br />
}



