@model ALT_ERP3.Areas.Vehicles.Models.TyreStockReportVM
@using Common;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}
<link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/Content/bootstrap-multiselect.js"></script>
<style>
    .disabled-link {
        pointer-events: none;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        GetMyFavorites('@Model.ViewDataId');
        LoadSavedParamentersType();
        $("#Submit").click(function () {

            document.getElementById("Details").click();

            $('#tblDetails').jqGrid('clearGridData');
            $("#tblDetails").jqGrid("GridUnload");
            $('#tblDetails').trigger('reloadGrid');

            $('#tblTruckLedgerSummary').jqGrid('clearGridData');
            $("#tblTruckLedgerSummary").jqGrid("GridUnload");
            $('#tblTruckLedgerSummary').trigger('reloadGrid');

            GridReload();

            //ParameterReset();
        });
        $(".ReportName").change(function (event) {
            event.preventDefault();
            debugger;
            if ($(".ReportName").val() != "" && $(".ReportName").val() != null) {
                $("#txtReportName").val($(".ReportName option:selected").text());
            } else {
                $("#txtReportName").val("");
                $("#btnReset").trigger("click");
            }

        });
        $('#btnReportParam').click(function (event) {
            event.preventDefault();
            $('.spinner').show();
            if ($("#txtReportName").val() == "" || $("#txtReportName").val() == null) {
                alert("Please Enter The Report Name....!");
                $('.spinner').hide();
                return;
            }

            var url = '@Url.Action("SaveParameter")';

            var ModelData = {};
            //ModelData["FromDate"] = $("#Fromdate").val();
            ModelData["ToDate"] = $("#ToDate").val();

            ModelData["ViewDataId"] = '@Model.ViewDataId';
            ModelData["ReportTypeL"] ='@Model.ViewDataId';
            ModelData["ReportName"] = $("#txtReportName").val();


            ModelData["StockAt"] = $("#StockAtL").val();
            ModelData["Vehicle"] = $("#Vehicle").val();
            ModelData["StockSerial"] = $("#StockSerial").val();

            var DTO = { Model: ModelData };
            $.ajax({
                type: "POST",
                dataType: "json",
                data: JSON.stringify(DTO),
                cache: false,
                url: url,
                contentType: "application/json;charset=utf-8",
                beforeSend: function () {
                    $('.spinner').show();
                },
                success: function (data) {
                    $("#ErrorMessage").hide();
                    $('.spinner').hide();
                    alert("Save Report Sucessfully..........");
                    $('#SaveReportName').modal('hide');
                    $("#btnReset").trigger("click");

                },
                error: function () {
                    alert("Error occured while processing your request.");
                }
            });

        });
        $('#btnDeleteReportParam').click(function (event) {
            event.preventDefault();
            $('.spinner').show();
            if ($("#txtReportName").val() == "" || $("#txtReportName").val() == null) {
                alert("Please Enter The Report Name....!");
                return;
            }

            var url = '@Url.Action("SaveParameter")';

            var ModelData = {};
            ModelData["ReportTypeL"] = '@Model.ViewDataId';
            ModelData["ReportName"] = $("#txtReportName").val();


            ModelData["ViewDataId"] = '@Model.ViewDataId';
            ModelData["Mode"] = "Delete";


            var DTO = { Model: ModelData };
            $.ajax({
                type: "POST",
                dataType: "json",
                data: JSON.stringify(DTO),
                cache: false,
                url: url,
                contentType: "application/json;charset=utf-8",
                beforeSend: function () {
                    $('.spinner').show();
                },
                success: function (data) {
                    $("#ErrorMessage").hide();
                    $('.spinner').hide();
                    alert("Delete Report Sucessfully..........");
                    $('#SaveReportName').modal('hide');
                    $("#btnReset").trigger("click");

                },
                error: function () {
                    alert("Error occured while processing your request.");
                }
            });

        });
        $("#btnReset").click(function (event) {
            event.preventDefault();
           $("#Submit").prop("disabled", true);

           $('#acledger').jqGrid("clearGridData");
           $("#acledger").jqGrid("GridUnload");
           $('#acledger').trigger("reloadGrid");

            var url = '@Url.Action("ParameterReset")';
            var ModelData = {};
           ModelData["ViewDataId"] = '@Model.ViewDataId';
           ModelData["ReportTypeL"] = '@Model.ViewDataId';
            var DTO = { Model: ModelData };
            $.ajax({
                type: "POST",
                dataType: "json",
                data: JSON.stringify(DTO),
                cache: false,
                url: url,
                contentType: "application/json; charset=utf-8",
                beforeSend: function () {
                    $('.spinner').show();
                },
                success: function (data) {
                    $('.spinner').hide();
                    $("#Submit").prop("disabled", false);

                    if (data.Status == "Success") {
                        var LoadDownLoadFiles = $("#ParameterDiv");
                        LoadDownLoadFiles.html('');
                        LoadDownLoadFiles.html(data.Html);
                        $('#Optionsmodal').modal('show');
                        LoadSavedParamentersType();
                    }
                    else {
                        alert("Some Error Occured...!");
                    }
                },
            });
        });
    });
    function GetSaveParameter()
    {
        if ($("#ReportName").val() == "" || $("#ReportName").val() == null) {
            alert("Please Select First Reports From The Combo....!");
            return;
        }

        var url = '@Url.Action("GetParameterAuto")';
        var ModelData = {};
        ModelData["ReportTypeL"] = '@Model.ViewDataId';
        ModelData["ReportName"] = $("#txtReportName").val();
        ModelData["ViewDataId"] = '@Model.ViewDataId';

        $("#GetReportParameter").val(false);
        if ($(".ReportName").val() != "" && $(".ReportName").val() != null) {
            $("#GetReportParameter").val(true);
        }
        var DTO = { Model: ModelData };
        $.ajax({
            type: "POST",
            dataType: "json",
            data: JSON.stringify(DTO),
            cache: false,
            url: url,
            contentType: "application/json; charset=utf-8",
            beforeSend: function () {
                $('.spinner').show();
            },
            success: function (data) {
                $('.spinner').hide();
                $("#Submit").prop("disabled", false);

                if (data.Status == "Success") {
                    debugger;
                    var LoadDownLoadFiles = $("#ParameterDiv");
                    LoadDownLoadFiles.html('');
                    LoadDownLoadFiles.html(data.Html);
                    $('#Optionsmodal').modal('show');
                }
                else {
                    alert("Some Error Occured...!");
                }
            },
        });
    }
    function LoadSavedParamentersType() {
        event.preventDefault();
        var url = '@Url.Action("PopulateSaveReports")';
        $.ajax({
            type: 'POST',
            url: url,
            dataType: 'json',
            data: { ViewDataId:'@Model.ViewDataId'},
            success: function (result) {
                $('#ReportName').empty();
                $('#ReportName').append($("<option></option>").attr("value", "").text(" -- Select Saved Reports -- "));
                $.each(result, function (i, item) {
                    $("#ReportName").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                });
                $('.spinner').hide();
            },
            error: function (ex) {
                alert("Error occured while processing your request." + ex);
            }
        });
        return false;
    };
    function clickPrint(mwhat) {
        debugger;
        var sUrlpath = window.open('@Url.Action("GetGridData")?page=' + $('#pager1') + '&rows= @Session["GridRows"]' + '&ViewDataId=@Model.ViewDataId&mWhat=' + mwhat, '_blank');
    };
    function PrintReport() {
        var mformat=$("#hdnformatname").val();
        var mDate = ($('#Fromdate').val() + ':' + $('#ToDate').val());
        var murl="/ReportViewerCommon/Index?Date=" + mDate + "&ViewDataId=@Model.ViewDataId &mopening="+ $('#openb').val()+"&mRunning=true&mParaString=Code^" + $('#Account').val()+ '&Code=' + $('#Account').val();
        window.open(murl,'_blank');
    };
    function clickRefresh() {

        document.getElementById("Details").click();
        $('#tblDetails').jqGrid('clearGridData');
        $("#tblDetails").jqGrid("GridUnload");
        $('#tblDetails').trigger('reloadGrid');

        $('#tblTruckLedgerSummary').jqGrid('clearGridData');
        $("#tblTruckLedgerSummary").jqGrid("GridUnload");
        $('#tblTruckLedgerSummary').trigger('reloadGrid');

        GridReload();
        
    }
    function GridReload()
    {
        debugger;
        event.preventDefault();
        $('.spinner').show();
        var ColName, Coldata;
        var mDate = ($('#Fromdate').val() + ':' + $('#ToDate').val());
        $("#hdnformatname").val($("#viewcode").val());

        var sPathUrl1 = '@Url.Action("GetGridStructureRecords")?Date=' + mDate + '&ViewDataId=TyreStockReport';
        var sUrlpath1 = '@Url.Action("GetGridData")?Fromdate=' + $("#Fromdate").val() + '&ViewDataId=TyreStockReport&StockAt=' + $("#StockAtL").val();

        var sPathUrl = '@Url.Action("GetGridStructureRecords")';
        var ModelData = {};
        ModelData["Fromdate"] = $("#Fromdate").val();
        ModelData["ViewDataId"] ="TyreStockReport";
        ModelData["ToDate"] = $("#ToDate").val();
        ModelData["Vehicle"] = $("#Vehicle").val();
        ModelData["StockSerial"] = $("#StockSerial").val();
        //ModelData["Days"] = Days;
        var DTO = { Model: ModelData };


        $.ajax({
            data: JSON.stringify(DTO),
            url: sPathUrl,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                $('.spinner').show();
                var obj = $.parseJSON(data);
                ColName = obj[0].split(",");
                Coldata = obj[1];
                $('#openb').val(obj[2]);
                $('#closeb').val(obj[3]);
                $('#tcredit').val(obj[4]);
                $('#tdebit').val(obj[5]);
                CreateGridData();
                $('.spinner').hide();
            },
            error: function () {
                alert("Error with AJAX callback");
            }
        });
        function CreateGridData() {
            $('#tblDetails').jqGrid({
                //data: JSON.stringify(DTO),
                url: sUrlpath1,
                datatype: 'json',
                contentType: "application/json; charset=utf-8",
                cellEdit: true,
                mtype: 'POST',
                sortable: true,
                colNames: ColName,
                colModel: Coldata,
                pager: $('#pager1'),
                rowNum: @Session["GridRows"],
                rowList: [10, 15, 20, 50, 100, 500, 1000, 5000, 10000],
                //sortname: 'Ledger.Docdate',
                height: $(window).height() - 245,
                frozen: false,
                sortorder: 'asc',
                gridview: true,
                viewrecords: true,
                scroll: false,
                autoencode: true,
                search: true,
                recordtext: "View {0} - {1} of <span style='font-weight:bold;font-size: 13px;'>{2}</span>",
                ondblClickRow: function (id) {
                    event.preventDefault();
                    var myGrid = $('#tblDetails');
                    var cellVal = myGrid.jqGrid('getCell', id, 'LrNo');
                    GetURL(cellVal);
                },
                beforeRequest: function () {
                    responsive_jqgridData($(".jqGrid"));
                },
                loadComplete: function () {
                    $('.spinner').hide();
                    $('#pager1').height = 5;
                },
            });
            jQuery("#tblDetails").jqGrid('navGrid', "#pager1",
                { edit: false, add: false, del: false, search: true, refresh: true, searchtext: "filter"});
            jQuery("#tblDetails").jqGrid("setFrozenColumns");
        };
        function responsive_jqgridData(jqgrid) {
            jqgrid.find('.ui-jqgrid').addClass('clear-margin span12').css('width', '');
            jqgrid.find('.ui-jqgrid-view').addClass('clear-margin span12').css('width', '');
            jqgrid.find('.ui-jqgrid-view > div').eq(1).addClass('clear-margin span12').css('width', '').css('min-height', '0').css('display', 'grid');
            jqgrid.find('.ui-jqgrid-view > div').eq(2).addClass('clear-margin span12').css('width', '').css('min-height', '0').css('display', 'grid');
            jqgrid.find('.ui-jqgrid-sdiv').addClass('clear-margin span12').css('width', '');
            jqgrid.find('.ui-jqgrid-pager').addClass('clear-margin span12').css('width', '');
            jqgrid.find('#pager_right').css('width', '180px');
            jqgrid.find('.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default').css('background', '#e7e4e4');
            jqgrid.find('.ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus .ui-state-hover').css('background', 'skyblue');
            jqgrid.find('.ui-jqgrid tr.jqgrow').css('font-family', 'Tahoma');
            jqgrid.find('.ui-jqgrid tr.jqgrow').css('font-size', '9pt');
        };
    }
    function GridReloadTyreHistorySummary()
    {
        debugger;
        event.preventDefault();
        $('.spinner').show();
        var ColName, Coldata;
        var mDate = ($('#Fromdate').val() + ':' + $('#ToDate').val());
        $("#hdnformatname").val($("#viewcode").val());
        
        var sPathUrl = '@Url.Action("GetGridStructureRecords")?Date=' + mDate + '&ViewDataId=TyreStockHistoryReport';
        var sUrlpath = '@Url.Action("GetGridData")?Fromdate=' + $("#Fromdate").val() + '&ViewDataId=TyreStockHistoryReport';

        $.ajax({
            //data: JSON.stringify(DTO),
            url: sPathUrl,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                debugger;
                var obj = $.parseJSON(data);
                ColName = obj[0].split(",");
                Coldata = obj[1];
                CreateGridData();
                $('.spinner').hide();
            },
            Error: function () {
                alert("Error with AJAX callback");
            }
        });
        function CreateGridData() {
            debugger;
            var mgroupby = "Vehicle";
            var misgroup = true;
            $('#tblTruckLedgerSummary').jqGrid({
                url: sUrlpath,
                datatype: 'json',
                contentType: "application/json; charset=utf-8",
                cellEdit: false,
                mtype: 'POST',
                sortable: false,
                colNames: ColName,
                colModel: Coldata,
                pager: $('#pager2'),
                rowNum: @Session["GridRows"],
                rowList: [500,1000,5000,10000],
                sortname: 'SerialNo,StockAt desc',
                height: $(window).height() - 280,
                //height: 400,
                frozen: true,
                sortorder: 'asc',
                gridview: true,
                viewrecords: true,
                scroll: true,
                autoencode: true,
                search: true,
                //recordtext: "View {0} - {1} of <span style='font-weight:bold;font-size: 13px;'>{2}</span>",
                grouping: misgroup,
                groupingView: {
                    groupField: [mgroupby],
                    groupColumnShow: [false],
                    groupText: ["<b>{0}</b>"],
                    groupCollapse: false,
                    groupOrder: ["asc"],
                    groupSummary: [false],
                    groupDataSorted: false,//Suresh ,
                    showSummaryOnHide: false,

                },
                footerrow: false,
                userDataOnFooter: false,
                beforeRequest: function () {
                    responsive_jqgridData($(".jqGrid"));
                },
                loadComplete: function () {
                    //var Pending = parseFloat($("#unadjledger").jqGrid('getCol', "Pending", false, 'sum')).toFixed(2);
                    //var BillAmt = parseFloat($("#unadjledger").jqGrid('getCol', "Bill Amt", false, 'sum')).toFixed(2);
                    //var UnAdjChqAmt = parseFloat($("#unadjledger").jqGrid('getCol', "UnAdj. Chq Amt.", false, 'sum')).toFixed(2);
                    //var UnAdjPending = parseFloat($("#unadjledger").jqGrid('getCol', "UnAdj. Pending", false, 'sum')).toFixed(2);
                    //var DueDays = $("#unadjledger").jqGrid('getCol', "Due Days", false, 'sum');
                    //$('#unadjledger').jqGrid('footerData', 'set', { "Bill Amt": BillAmt, "UnAdj. Chq Amt.": UnAdjChqAmt, "UnAdj. Pending": UnAdjPending, "Pending": Pending, "Due Days": DueDays });
                    $("#tblTruckLedgerSummary").setGridWidth($(window).width()-25);
                },
            });
            jQuery("#tblTruckLedgerSummary").jqGrid('navGrid', "#pager2",
                { edit: false, add: false, del: false, search: true, refresh: true, searchtext: "Search"});
            jQuery("#tblTruckLedgerSummary").jqGrid("setFrozenColumns");
        };

        function responsive_jqgridData(jqgrid) {
            jqgrid.find('.ui-jqgrid').addClass('clear-margin span12').css('width', '');
            //jqgrid.find('.ui-jqgrid').addClass('ui-widget-content jqgrow ui-row-ltr ui-state-highlight').css('background', 'skyblue');
            jqgrid.find('.ui-jqgrid-view').addClass('clear-margin span12').css('width', '');
            jqgrid.find('.ui-jqgrid-view > div').eq(1).addClass('clear-margin span12').css('width', '').css('min-height', '0').css('display', 'grid');
            jqgrid.find('.ui-jqgrid-view > div').eq(2).addClass('clear-margin span12').css('width', '').css('min-height', '0').css('display', 'grid');
            jqgrid.find('.ui-jqgrid-sdiv').addClass('clear-margin span12').css('width', '');
            jqgrid.find('.ui-jqgrid-pager').addClass('clear-margin span12').css('width', '');
            jqgrid.find('#pager_right').css('width', '180px');
            jqgrid.find('.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default').css('background', '#e7e4e4');
            jqgrid.find('.ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus .ui-state-hover').css('background', 'skyblue');
            jqgrid.find('.ui-jqgrid tr.jqgrow').css('font-family', 'Tahoma');
            jqgrid.find('.ui-jqgrid tr.jqgrow').css('font-size', '9pt');
        };
    }
    function ClickPara() {
        $('#Optionsmodal').modal('show');
    }
</script>

<header class="header fixed-top" id="infofooter" style="position:fixed;background-color:lightgray;padding:5px;width:100%;margin-top:0%;height:41px;">
    <div class="fixhead">
        <div class="col-md-3" style="padding-left:unset;padding:1px;width:auto;">
            <b class="CodeSt">@Model.Header</b>
        </div>
        <button class="fa fa-heart pull-right" type="submit" onclick="AddToFavorite('@Model.ViewDataId','@Model.OptionCode')" title="Add/Remove from My Favorites" id="MyFavorites" style="color: rgb(145,142,142); background-color: transparent; border: none; font-size: 20px; height: 27px; margin-right: 5px;margin-top:5px;" name="MyFavorites"></button>

        <div class="col-md-2 pull-right" style="padding-right:0px; padding-top:-3px;float:right;align-items:flex-end;">
            <div class="col-sm-1" style="padding-right:1px;font-family:Tahoma;padding-top:5px;font-size:9pt; width:unset;text-align:right">
                <a onclick="clickRefresh()" class="fa fa-refresh" style="font-size:20px;cursor:pointer" title="Refresh the Report"></a>
            </div>
            <div class="col-sm-1" style="padding-right:1px;font-family:Tahoma;padding-top:5px;padding-right:15px;font-size:9pt; width:unset;text-align:right">
                <a onclick="ClickPara()" class="fa fa-cogs" style="font-size:20px;cursor:pointer" title="Parameters"></a>
            </div>
            <div class="btn-group" style="float:left;">
                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button">Report  <span class="caret"></span></button>
                <ul class="dropdown-menu" style="font-family:Tahoma; border-left:1px thin;box-shadow:3px 3px 15px 1px rgba(0,0,0,0.2) !important; margin-top:2px;min-height:322px;padding-top:10px; max-height:322px;width:205px;left:-75px;background-color:whitesmoke;">
                    <li><a onclick="PrintReport()">&nbsp;&nbsp;&nbsp;Report Viewer</a></li>
                    <li><a onclick="clickPrint('RPDF')" class="disabled-link">&nbsp;&nbsp;&nbsp;Export to PDF-Portrait</a></li>
                    <li><a onclick="clickPrint('RPDL')" class="disabled-link">&nbsp;&nbsp;&nbsp;Export to PDF-Landscape</a></li>
                    <li><a onclick="clickPrint('RXLS')" class="disabled-link">&nbsp;&nbsp;&nbsp;Export to Excel</a></li>
                    <li><a onclick="clickPrint('RWRD')" class="disabled-link">&nbsp;&nbsp;&nbsp;Export to Word</a></li>
                    <li><a onclick="clickPrint('CRPDF')" class="disabled-link">&nbsp;&nbsp;&nbsp;Report to PDF-Crystal</a></li>
                    <li class="divider"></li>
                    <li><a onclick="clickPrint('PDF')">&nbsp;&nbsp;&nbsp;Export Data to PDF-Portrait</a></li>
                    <li><a onclick="clickPrint('PDL')">&nbsp;&nbsp;&nbsp;Export Data to PDF-Landscape</a></li>
                    <li><a onclick="clickPrint('XLS')">&nbsp;&nbsp;&nbsp;Export Data to Excel</a></li>
                    <li class="divider"></li>
                    <li><a onclick="clickPrint('EPDF')">&nbsp;&nbsp;&nbsp;Send PDF in Email</a></li>
                    <li><a onclick="clickPrint('EXLS')">&nbsp;&nbsp;&nbsp;Send Excel in Email</a></li>
                    <li><a onclick="clickPrint('EWRD')">&nbsp;&nbsp;&nbsp;Send Word in Email</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<section class="panel">
    <div class="panel-body" style="margin-top:2%;height:500px;padding-left:0px;padding-right:5px;">
        <div class="tab">
            <button class="tablinks" style="width:150px;" onclick="openTab(event, 'divLedgerTable')" id="Details">Stock Details</button>
            <button class="tablinks" style="width:150px;" onclick="openTab(event, 'divLedgerTable2')">Stock History</button>
        </div>
        <div id="divLedgerTable" class="tabcontent" style="height:100%;padding:0px 0px 0px 0px;overflow:scroll;">
            <div class="jqGrid" style="padding-left:0px;padding-right:0px;width:100%;">
                <table id="tblDetails" class="scroll" cellpadding="0" cellspacing="0" style="border-collapse:unset;margin-top:0px;overflow:scroll;"></table>
                <div id="pager1" style="height:32px;width:100%;"></div>
            </div>
        </div>
        <div id="divLedgerTable2" class="tabcontent" style="height:100%;padding:0px 0px 0px 0px;overflow:scroll;">
            <div class="jqGrid" style="padding-left:0px;padding-right:0px;width:100%;">
                <table id="tblTruckLedgerSummary" class="scroll" cellpadding="0" cellspacing="0" style="border-collapse:unset;margin-top:0px;overflow:scroll;"></table>
                <div id="pager2" style="height:32px;width:100%;"></div>
            </div>
        </div>
        
        <script>
            function openTab(evt, tabName) {
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                document.getElementById(tabName).style.display = "block";
                evt.currentTarget.className += " active";
                if (tabName == "divLedgerTable1")
                {
                    //$('#tblDetails').jqGrid('clearGridData');
                    //$("#tblDetails").jqGrid("GridUnload");
                    //$('#tblDetails').trigger('reloadGrid');
                    GridReload();
                }
                else if (tabName == "divLedgerTable2")
                {
                    //$('#tblTruckLedgerSummary').jqGrid('clearGridData');
                    //$("#tblTruckLedgerSummary").jqGrid("GridUnload");
                    //$('#tblTruckLedgerSummary').trigger('reloadGrid');
                    GridReloadTyreHistorySummary();
                }
            }
            document.getElementById("Details").click();

            function ParameterReset() {
                var url = '@Url.Action("ParameterReset")';
                var ModelData = {};
                var DTO = { Model: ModelData };
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    data: JSON.stringify(DTO),
                    cache: false,
                    url: url,
                    contentType: "application/json; charset=utf-8",
                    beforeSend: function () {
                        $('.spinner').show();
                    },
                    success: function (data) {
                        $('.spinner').hide();
                        var AttachDoc = $("#ParameterDiv");
                        AttachDoc.html('');
                        AttachDoc.html(data.Html);
                    },
                });
            }
        </script>
    </div>
</section>
<div id="myfooter" class="footer-section" style="position:fixed;background-color:rgb(235, 235, 235);padding:2px;color:unset;height:30px;border:solid 1px black;">
    <center><label class="col-sm-12 control-label" style="padding-top:2px;color:black;">ALT AIR-3.0, Shruham Software</label></center>

</div>
<div class="modal fade" id="Optionsmodal" style="z-index:auto;" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-sm modal-xl" role="document" style="width: 70%;margin: auto;margin-top: 8%;">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#cccccc;padding-top:5px;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="col-md-4">
                </div>
                <div class="col-md-3">
                    <h4 class="modal-title">
                        <b>Report Query Options</b>
                    </h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="grid" id="FormatTable" style="max-height:350px;min-height:350px; width:100%;overflow:auto;">
                    <div id="" class="" style="width:100%;">
                        <div class="col-md-12" id="ParameterDiv">
                            @Html.Partial("_OptionsView", Model)
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="background-color:#cccccc;height:42px;padding-bottom:5px;padding-top:5px;border-radius: 0px 0px 5px 5px;">
                <button class="btn btn-danger" style="float:left; font-size: 13px;padding:3px 12px;" id="btnReset">Reset</button>
                <div class="col-sm-offset-2 col-sm-5" style="display:flex;">

                    @Html.DropDownListFor(m => m.ReportName, DropdownHelper.EmptyList(), new { @class = "form-control ReportName", @Name = "ReportName", @Id = "ReportName" })
                    <a onclick="GetSaveParameter();" class="btn btn-warning" style="padding:4px 10px;">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </a>
                </div>
                <button class="btn btn-success" style="font-size: 13px;padding:3px 12px;" id="SubmitSaveReport">Save Report</button>
                <button class="btn btn-success" style="font-size: 13px;padding:3px 12px;" id="Submit" data-dismiss="modal">GetReport</button>
                <button data-dismiss="modal" class="btn btn-danger" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="example-modal">
    <div id="SaveReportName" class="modal modal-default">
        <div class="modal-dialog" style="width:1000px;">
            <div id="SaveReportNameDiv">
                <div class="modal-body">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color:#cccccc;padding-top:5px;">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title"><b>Save Report Format</b></h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="col-sm-2">
                                    <label class=" ModalLabel  control-label" style="width:auto;">Report Name :</label>
                                </div>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(x => x.ReportName, new { @maxlength = "100", @class = "form-control", @id = "txtReportName", @style = "display: inline-table;float: initial;" })
                                </div>
                            </div>
                            <br />

                        </div>
                        <div class="modal-footer" style="background-color:#cccccc;height:42px;padding-bottom:5px;padding-top:5px;border-radius: 0px 0px 5px 5px;">
                            <button id="btnDeleteReportParam" class="btn btn-danger" type="button">Delete</button>
                            <button id="btnReportParam" class="btn btn-success" type="button">Update</button>
                            <button data-dismiss="modal" class="btn btn-danger" type="button">Close</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hdnformatname" />
@Html.HiddenFor(x => x.Document)
@Html.HiddenFor(x => x.Vehicle)
@Html.HiddenFor(x => x.StockSerial)