@model ALT_ERP3.Areas.Accounts.Models.MasterVM
@using Common;

<style>
    input[name=EditMail]:active {
        color: green;
    }
</style>
<style>
    /*.col-sm-2 {
        width: 15.666667%;
    }*/

    .form-group {
        margin-bottom: 8px;
    }

    /*.form-control {
        height: 28px;
        border: 1px solid #BBBABA;
        color: black;
    }*/

    .form-horizontal .control-label {
        padding-top: 5px;
        color: black;
    }

    .CodeSt {
        font-size: 18px;
    }

    .fixhead {
        text-transform: uppercase;
    }

    .red {
        color: red;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $('#ContactType').val('@Model.ContactType').attr("selected", "selected");
        loadContactType()
        $('#AddmailInfo').click(function () {
            var url = '@Url.Action("ADDMailData")';
            var ModelData = {};
            var DTO = { Model: ModelData };
            $.ajax({
                type: "POST",
                dataType: "json",
                data: JSON.stringify(DTO),
                cache: false,
                url: url,
                contentType: "application/json; charset=utf-8",
                beforeSend: function () {
                    $('.spinner').show();
                },
                success: function (data) {
                    $('.spinner').hide();
                    $("#maildetail").html(data.Html);
                },

            });
        });

        $('#Savemailsinformation').click(function (event) {
            event.preventDefault();
            var url = '@Url.Action("SaveMailInfo")';
            var ModelData = {};
            var DTO = { Model: ModelData };
            $.ajax({
                type: "POST",
                dataType: "json",
                data: JSON.stringify(DTO),
                cache: false,
                url: url,
                contentType: "application/json; charset=utf-8",
                beforeSend: function () {
                    $('.spinner').show();
                },
                success: function (data) {
                    $('.spinner').hide();
                    $("#maildetail").html(data.Html);
                    //alert("Result save successfully.");
                },

            });
        });

        $('#EditMail').click(function (event) {
            event.preventDefault();
            var url = '@Url.Action("EditMailData")';

            if ($('#ContactType').val() == "0") {
                alert('Select Contact Type')
                return;
            }

            var ModelData = {};
            ModelData["AName"] = $("#AName").val();
            ModelData["CorpID"] = $("#CorpID").val();
            ModelData["Person"] = $("#Person").val();
            ModelData["Adrl1"] = $("#Adrl1").val();
            ModelData["Country"] = $("#Country").val();
            ModelData["Adrl2"] = $("#Adrl2").val();
            ModelData["State"] = $("#State").val();
            ModelData["Adrl3"] = $("#Adrl3").val();
            ModelData["City"] = $("#City").val();
            ModelData["Pin"] = $("#Pin").val();
            ModelData["Area"] = $("#Area").val();
            ModelData["Tel1"] = $("#Tel1").val();
            ModelData["Fax"] = $("#Fax").val();
            ModelData["Mobile"] = $("#Mobile").val();
            ModelData["www"] = $("#www").val();
            ModelData["Email"] = $("#Email").val();
            ModelData["MailingCategory"] = $("#MailingCategory").val();
            ModelData["UserID"] = $("#UserID").val();
            ModelData["www"] = $("#www").val();
            ModelData["CorrespondenceType"] = $("#CorrespondenceType").val();
            ModelData["Password"] = $("#Password").val();
            ModelData["Source"] = $("#Source").val();
            ModelData["Segment"] = $("#Segment").val();
            ModelData["STaxCode"] = $("#STaxCode").val();
            ModelData["PTaxCode"] = $("#PTaxCode").val();
            ModelData["Licence1"] = $("#Licence1").val();
            ModelData["Licence2"] = $("#Licence2").val();
            ModelData["PanNo"] = $("#PanNo").val();
            ModelData["GSTNo"] = $("#GSTNo").val();
            ModelData["CSTNo"] = $("#CSTNo").val();
            ModelData["VATReg"] = $("#VATReg").val();
            ModelData["TINNo"] = $("#TINNo").val();
            ModelData["Designation"] = $("#Designation").val();
            ModelData["Language"] = $("#Language").val();
            ModelData["Dept"] = $("#Dept").val();
            ModelData["Religion"] = $("#Religion").val();
            ModelData["Division"] = $("#Division").val();
            ModelData["Budate"] = $("#Budate").val();
            ModelData["StrAnndate"] = $("#StrAnndate").val();
            ModelData["SpouseName"] = $("#SpouseName").val();
            ModelData["SpouseBudate"] = $("#SpouseBudate").val();
            ModelData["ChildName"] = $("#ChildName").val();
            ModelData["StrChildBdate"] = $("#StrChildBdate").val();
            ModelData["ContactType"] = $("#ContactType").val();
            ModelData["GSTType"] = $("#GSTType").val();
            ModelData["DealerType"] = $("#DealerType").val();
            ModelData["DefaultCGst"] = $("#DefaultCGst").val();
            ModelData["DefaultSGst"] = $("#DefaultSGst").val();
            ModelData["DefaultIGst"] = $("#DefaultIGst").val();
            ModelData["AadharNo"] = $("#AadharNo").val();
            ModelData["PoisonLicense"] = $("#PoisonLicense").val();
            ModelData["ReraNo"] = $("#ReraNo").val();
            ModelData["AssistEmail"] = $("#AssistEmail").val();
            ModelData["AssistName"] = $("#AssistName").val();
            ModelData["AssistMobile"] = $("#AssistMobile").val();
            ModelData["AssistTel"] = $("#AssistTel").val();
            ModelData["SrNo"] = $("#hdnSrNo1").val();
            ModelData["Tel2"] = $("#Tel2").val();
            ModelData["Tel3"] = $("#Tel3").val();
            var DTO = { Model: ModelData };
            $.ajax({
                type: "POST",
                dataType: "json",
                data: JSON.stringify(DTO),
                cache: false,
                url: url,
                contentType: "application/json; charset=utf-8",
                beforeSend: function () {
                    $('.spinner').show();
                },
                success: function (data) {
                    $('.spinner').hide();
                    $("#maildetail").html(data.Html);
                },
            });
        });

        $('button[action|="GetSavedMail"]').click(function (event) {
            event.preventDefault(event);
            var ModelData = {};
            ModelData["SrNo"] = $(this).val();
            var DTO = { Model: ModelData };
            var url = '@Url.Action("GetMailInfo")';
            $.ajax({
                type: "POST",
                dataType: "json",
                data: JSON.stringify(DTO),
                cache: false,
                url: url,
                contentType: "application/json;charset=utf-8",
                beforeSend: function () {
                    $('.spinner').show();
                },
                success: function (data) {
                    $('.spinner').hide();
                    $("#maildetail").html(data.Html);
                    xyz = $('#hdnSrNo1').val()
                    console.log(xyz);
                    if ($('#hdnSrNo1').val() != '') {
                        $('#' + xyz).css('background-color', '#FF8E2B');
                    } else {
                        $('#' + xyz).css('background-color', '#27AE60');
                    }
                },
                error: function () {
                    alert("Error occured while processing your request.");
                }
            });
        });
    });

    function loadContactType() {
        event.preventDefault();
        var url = '@Url.Action("GetContactType")';
        $.ajax({
            type: 'POST',
            url: url,
            dataType: 'json',
            data: {},
            success: function (result) {
                $.each(result, function (i, item) {
                    $("#ContactType").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                });
                $('#ContactType').val('@Model.ContactType').attr("selected", "selected");
                $('.spinner').hide();
            },
            error: function (ex) {
                alert("Error occured while processing your request." + ex);
            }
        });
        return false;
    };
</script>

<div id="maildetail">
    <div class="form-horizontal" method="get" id="frmmailinginfo" role="form">
        <div class="form-group">
            <div class="col-sm-8">
                <table class="table table-striped table-bordered" style="width:5%;margin-bottom:0px;">
                    <thead>
                        <tr>
                            <th style="width:34%;"><button class="btn btn-info btn-xs" id="Savemailsinformation" name="Savemailsinformation">Add Contacts</button></th>
                            @if (Model.MailList != null)
                            {
                                foreach (var item in Model.MailList)
                                {
                                    <th style="width:10%;"><button type="button" class="btn btn-info" action="GetSavedMail" id="@item.SrNo" value="@item.SrNo" style="padding:1px 6px;">@item.SrNo</button></th>
                                }
                            }
                        </tr>
                    </thead>
                </table>
            </div>
            @if (Model.SrNo != null)
            {<div class="col-sm-4">
                    <div class="pull-right">
                        <button class="btn btn-warning" id="EditMail">Save Contacts @Model.SrNo</button>
                    </div>
                </div>
            }
        </div>

        <div id="MailAddDetail" class="form-group" style="margin-left:-10px;">
            <label class="col-sm-1 control-label">Contact Name:<span class="red">*</span></label>
            <div class="col-sm-3">
                @Html.TextBoxFor(x => x.AName, new { @class = "form-control", @Name = "AName", @Id = "AName", @style = "font-weight:bolder;", @Value = Model.AName, @MaxLength = "70" })
            </div>
            <label class="col-sm-1 control-label" style="width:unset;">Contact Person:<span class="red">*</span></label>
            <div class="col-sm-2">
                @Html.TextBoxFor(x => x.Person, new { @class = "form-control", @Name = "Person", @Id = "Person", @Value = Model.Person, @MaxLength = "50" })
            </div>
            <label class="col-sm-1 control-label">Contact Type:<span class="red">*</span></label>
            <div class="col-sm-2">
                @Html.DropDownListFor(m => m.ContactType, DropdownHelper.EmptyList(), new { @class = "form-control", @Name = "ContactType", @Id = "ContactType" })
            </div>
            <label class="col-sm-1 control-label">Corporate ID:</label>
            <div class="col-sm-2">
                @Html.TextBoxFor(x => x.CorpID, new { @class = "form-control", @Name = "CorpID", @Id = "CorpID", @Value = Model.CorpID })
            </div>
        </div>
        <div id="MailDetailTab" class="panel" style="height:300px;">
            <div class="tab">
                <button class="innertablinks2" onclick="inneropenCity2(event, 'divLedgerTable6')" id="innerSales2">Contact Details</button>
                <button class="innertablinks2" onclick="inneropenCity2(event, 'divLedgerTable7')">Tax Details</button>
                <button class="innertablinks2" onclick="inneropenCity2(event, 'divLedgerTable8')">Personal Info</button>
                <button class="innertablinks2" onclick="inneropenCity2(event, 'divLedgerTable9')">Assistant</button>
            </div>
            <div id="divLedgerTable6" class="innertabcontent2" style="overflow:scroll;height:325px;">
                @Html.Partial("Contactdetails", Model)
            </div>
            <div id="divLedgerTable7" class="innertabcontent2" style="overflow:scroll;height:325px;">
                @Html.Partial("Taxdetails", Model)
            </div>
            <div id="divLedgerTable8" class="innertabcontent2" style="overflow:scroll;height:325px;">
                @Html.Partial("PersonalInfo", Model)
            </div>
            <div id="divLedgerTable9" class="innertabcontent2" style="overflow:scroll;height:325px;">
                @Html.Partial("Assistant", Model)
            </div>
        </div>
    </div>
</div>
<script>
    function inneropenCity2(evt, cityName) {
        var i, innertabcontent2, tablinks;
        innertabcontent2 = document.getElementsByClassName("innertabcontent2");
        for (i = 0; i < innertabcontent2.length; i++) {
            innertabcontent2[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("innertablinks2");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace("active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
    document.getElementById("innerSales2").click();
</script>
@Html.HiddenFor(x => x.SrNo, new { @id = "hdnSrNo1", @name = "hdnSrNo1" })
