@model IEnumerable<ALT_ERP3.Areas.Logistics.Models.EwayBillVM>
@using Common;
@{
    Layout = null;
}
<script src="@Url.Content("~/Content/js/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/jquery.constrain.js")" type="text/javascript"></script>
<style>
    .span6 {
        display: none !important;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        //$('button[action|="DeleteLedger"]').click(function (event) {
        //    debugger;
        //    var Row = $(this).closest('tr');
        //    $(this).closest('tr').remove();
        //});
        $('button[action|="DeleteLedger"]').click(function (event) {
            event.preventDefault(event);
            debugger;
            var ModelData = {};
            ModelData["LREwayNo"] = $(this).val();
            $(this).closest('tr').remove();
            var DTO = { Model: ModelData };
            var url = '@Url.Action("DeleteConsoleEway")';
            $.ajax({
                type: "POST",
                dataType: "json",
                data: JSON.stringify(DTO),
                cache: false,
                url: url,
                contentType: "application/json;charset=utf-8",
                beforeSend: function () {
                    $('.spinner').show();
                },
                success: function (data) {
                    $('.spinner').hide();
                    $('#ErrorMessage').hide();
                    
                },
                error: function () {
                    alert("Error occured while processing your request.");
                }
            });
        });
    });

</script>

<div class="fixTableHead" id="" style="max-height:250px; width: auto; overflow: auto;">
    <table id="CONEwayexample" class="zui-table" style="border-color:gray;">
        <thead>
            <tr role="row" style="font-family:Tahoma;font-size:9pt;">
                <th class="hidden" style="width: 0%;vertical-align:inherit;">EWBNo</th>
                <th style="width:5%;vertical-align:inherit;">Delete</th>
                <th style="width:5%;vertical-align:inherit;">EWBNO</th>
                <th style="width:7%;vertical-align:inherit;">ValidUpto</th>
                <th style="width:5%;vertical-align:inherit;">LRNo</th>
                <th style="width:4%;vertical-align:inherit;">LRDate</th>
                <th style="width:14%;vertical-align:inherit;">Consingor</th>
                <th style="width:14%;vertical-align:inherit;">Consignee</th>
                <th style="width:14%;vertical-align:inherit;">From</th>
                <th style="width:14%;vertical-align:inherit;">To</th>
                <th class="hidden" style="width:8%;vertical-align:inherit;">LRrefKey</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in @Model.ToList())
                {
                    <tr style="font-family:Tahoma;font-size:9pt;">
                        <td class="hidden">@item.LREwayNo</td>
                        <td style="vertical-align:inherit;">
                            <center><button type="button" action="DeleteLedger" style="padding:2px 8px;" class="btn btn-danger btn-sm" value="@item.LREwayNo" title="Delete"><i class="fa fa-trash-o"></i></button></center>
                        </td>
                        <td style="vertical-align:inherit;">@item.LREwayNo</td>
                        <td style="vertical-align:inherit;">@item.LREwayValid</td>
                        <td style="vertical-align:inherit;">@item.LRno</td>
                        <td style="vertical-align:inherit;">@item.LRDate</td>
                        <td style="vertical-align:inherit;">@item.Consingor</td>
                        <td style="vertical-align:inherit;">@item.Consignee</td>
                        <td style="vertical-align:inherit;">@item.From </td>
                        <td style="vertical-align:inherit;">@item.To </td>
                        <td style="vertical-align:inherit;" class="hidden">@item.LRrefKey</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>



