
@model ALT_ERP3.Areas.Logistics.Models.LorryReceiptQueryVM
@using Common
<script type="text/javascript">
    $(document).ready(function () {
        $('#ConsoleLCtabledata > tbody  > tr').dblclick(function () {
            var Row = $(this).closest('tr');
            GetLorryChallanDetails(Row.find('td:eq(0)').text());
        });
    });
</script>
<div class="modal-dialog" style="width:unset;">
    <div class="modal-content">
        <div class="modal-header" style="background-color:#cccccc">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" style="color: black;font-weight: bold;">Multi Document</h4>
        </div>
        <div class="modal-body" style="padding:unset;min-height:450px;max-height:450px;overflow:auto;color: black;">
            <div class="panel-body">
                <table id="ConsoleLCtabledata" class="zui-tableww" style="width:100%;text-align: center;">
                    <thead style="background-color:#3ccf9d;">
                        <tr>
                            <td class="hidden">Lorry Challan Tablekey</td>
                            <td style="border-right: solid 1px dimgray;border-bottom: solid 1px dimgray;">LC NO</td>
                            <td style="border-right: solid 1px dimgray;border-bottom: solid 1px dimgray;">Branch</td>
                            <td style="border-right: solid 1px dimgray;border-bottom: solid 1px dimgray;">Date</td>
                            <td style="border-right: solid 1px dimgray;border-bottom: solid 1px dimgray;">Qty</td>
                            <td style="border-right: solid 1px dimgray;border-bottom: solid 1px dimgray;">From</td>
                            <td style="border-right: solid 1px dimgray;border-bottom: solid 1px dimgray;">To</td>
                        </tr>
                    </thead>
                    <tbody style="background-color: #bfa27d !important;">
                        @if (Model.ValueList != null)
                        {
                            foreach (var item in @Model.ValueList.ToList())
                            {
                                <tr style="font-family:Tahoma;font-size:9pt;">
                                    <td class="hidden" style="width:1%">@item.ConsignmentKey</td>
                                    <td style="vertical-align:inherit;width:1%;">@item.Lrno</td>
                                    <td style="vertical-align:inherit;width:1%;">@item.LRBranch</td>
                                    <td style="vertical-align:inherit;width:1%;">@item.LrDate.ToShortDateString()</td>
                                    <td style="vertical-align:inherit;width:1%;">@item.LrQty</td>
                                    <td style="vertical-align:inherit;width:1%;">@item.LrFrom</td>
                                    <td style="vertical-align:inherit;width:1%;">@item.LrTo</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer" style="background-color:#cccccc">
            <input type="submit" value="Close" class="btn btn-danger" data-dismiss="modal" />
        </div>
    </div>
</div>



