@model ALT_ERP3.Areas.Accounts.Models.TransactionUserRightsVM
@using Common;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}


<script>
    $(document).ready(function () {
        //loadSearchList()
        

        @*$('#Submit').click(function (event) {
            event.preventDefault();
            var myTableArray = [];
            $('#tabledatapick2 tbody tr').each(function () {
                var tds = $(this).find('td');
                var myDets = {
                    UserRightsTrx_Code: tds.find("input[id='UserRightsTrx_Code']").val(),
                    UserRightsTrx_xCess: tds.find("input[id='UserRightsTrx_xCess']").is(':checked'),
                    UserRightsTrx_xAdd: tds.find("input[id='UserRightsTrx_xAdd']").is(':checked'),
                    UserRightsTrx_xEdit: tds.find("input[id='UserRightsTrx_xEdit']").is(':checked'),
                    UserRightsTrx_xDelete: tds.find("input[id='UserRightsTrx_xDelete']").is(':checked'),
                    UserRightsTrx_xPrint: tds.find("input[id='UserRightsTrx_xPrint']").is(':checked'),
                    UserRightsTrx_xBackDated: tds.find("input[id='UserRightsTrx_xBackDated']").is(':checked'),
                    UserRightsTrx_xLimit: tds.find("input[id='UserRightsTrx_xLimit']").val()
                }
                myTableArray.push(myDets);
            })
            var ModelData = {};
            ModelData["mRightList"] = myTableArray;
            ModelData["UserRightsTrx_Type"] = $("#UserRightsTrx_Type").val();
            var DTO = { mModel: ModelData };
            var url = '@Url.Action("SaveData")';
            $.ajax({
                type: "POST",
                dataType: "json",
                data: JSON.stringify(DTO),
                cache: false,
                url: url,
                contentType: "application/json;charset=utf-8",
                beforesend: function () {
                    $('.spinner').show();
                },
                success: function (data) {
                    $('.spinner').hide();
                },
                error: function () {
                    $('.spinner').hide();
                    alert("error occured while processing your request.");
                }
            });
        });*@
    });
    function myFunction() {
        var ModelData = {};
        ModelData["SearchContent"] = $('#myInput').val();
        ModelData["SearchBy"] = "Name";
        var DTO = { mModel: ModelData };
        var url = '@Url.Action("GetLeftGrid")';
        $.ajax({
            type: "POST",
            dataType: "json",
            data: JSON.stringify(DTO),
            cache: false,
            url: url,
            contentType: "application/json;charset=utf-8",
            beforesend: function () {
                $('.spinner').show();
            },
            success: function (data) {
                $('.spinner').hide();
                $('#TransactionTypesdiv').html(data.Html);

            },
            error: function () {
                $('.spinner').hide();
                alert("error occured while processing your request.");
            }
        });

    }
    function loadSearchList() {
        var url = '@Url.Action("GetSearchList")'
        $.ajax({
            type: "GET",
            dataType: "json",
            cache: false,
            url: url,
            contentType: "application/json;charset=utf-8",
            beforeSend: function () {
                $('.spinner').show();
            },
            success: function (result) {
                $.each(result, function (i, item) {
                    $("#SearchBy").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                });

                $('.spinner').hide();
            },

            error: function () {
                $('.spinner').hide();
                alert("An error occurred while processing the request.");
            }
        });
    }
</script>

<header class="header fixed-top" style="position:fixed;background-color:lightgray;padding:6px;width:100%;margin-top:0%;">
    <div class="fixhead">
        <b class="CodeSt">Transaction User Rights</b>
        <span class="tools pull-right">
            <a href="~/DashBoard/SetUP" class="btn btn-danger" style="color:white;font-weight:bolder;font-size:13px;padding:3px 10px;" id="Cancel2">X</a>
        </span>
    </div>
</header>

<section class="panel">
    <div class="panel-body">
        <form class="form-horizontal " id="TransactionUserRightsFrm" role="form" style="margin-top:1%;margin-left:0px">
            <div id="ErrorMessage" name="ErrorMessage" class="alert alert-danger" style="display: none"></div>
            <br />
            <div class="panel-body" style="min-height:375px;max-height:375px;padding-top:0px;">
                <div class="col-sm-4" style="border-right:solid;">
                    <div class="form-group">
                        @*<label class="col-sm-2 control-label" style="font-size: 15px;">Types:</label>*@

                        <label class="col-sm-2 control-label" style="font-size: 15px;">Search:</label>
                        @*<div class="col-sm-3">
                            @Html.DropDownListFor(m => m.SearchBy, DropdownHelper.EmptyList(), new { @class = "form-control", @Id = "SearchBy", @Name = "SearchBy" })
                        </div>*@
                        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search..">
                    </div>
                    <div id="TransactionTypesdiv" style="min-height:440px;max-height:440px;overflow:scroll">
                        @Html.Partial("PartialTypeView")
                    </div>


                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <b class="CodeSt" style="font-size:15px;font-weight:bolder;">
                                User Rights:
                            </b>
                        </div>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(x => x.UserRightsTrx_Type, new { @id = "UserRightsTrx_Type", @Name = "UserRightsTrx_Type", @style = "font-size:14px;font-weight:bolder;", @class = "form-control", @disabled = "disabled" })
                        </div>
                    </div>
                    <div id="TransactionUserRightsdiv" style="min-height:430px;max-height:430px;overflow:scroll">
                        @Html.Partial("TransactionUserRightsPartial")
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<footer class="footer-section" style="height:33px;position:fixed;background-color:#4B4A4A;padding:3px;color:white;">
    <div class="row">
        <div class="col-sm-5"></div>
        <div class="col-sm-3" style="margin-top:4px;color:white;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
            ALT.air.3 by Shruham Software
        </div>
        <div class="col-sm-4">
            <div class="pull-right">
                @*<button class="btn btn-success" style="font-size:13px;padding:3px 12px;" id="Submit">Save</button>*@
                <a href="~/DashBoard/SetUP" class="btn btn-danger" style="font-size: 13px;padding:3px 12px;" id="Cancel">Cancel</a>
            </div>
        </div>
    </div>
</footer>
@*
    Code Auto Generated on Mon 04-Mar-2019 01:45 PM
    Engine: iX9Generator, ver: 3.7 Revision: 11
    by Team Shruham Software *@
