@model ALT_ERP3.Areas.Logistics.Models.ExternalAttachmentVM

<script type="text/javascript">
    $(document).ready(function ()
    {

    });
</script>

<table class="zui-tableww" id="" style="width:90%;">
    <thead>
        <tr>
            <th style="width:10%;">Date</th>
            <th style="width:20%;">Name</th>
            <th style="width:5%;" hidden>Delete</th>
            <th style="width:5%;">Download</th>
            <th style="width:5%;">Image</th>
            <th style="width:20%;">Attach Ref.</th>
            <th style="width:20%;">Doc Type</th>
            <th style="width:5%;">Attach By</th>
        </tr>
    </thead>
    <tbody>

        @if (Model.OLdDocumentList != null)
        {
            foreach (var fName in Model.OLdDocumentList.ToList())
            {

                <tr>
                    <td>@fName.DocDate</td>
                    <td>@fName.FileName</td>
                    @if (fName.AUTHIDS == "N")
                    {
                        <td class="hidden"></td>
                    }
                    else
                    {
                        <td class="hidden">
                            <center><button type="button" action="Delete" value="@fName.tempId" style="padding: 4px 8px;all:unset;cursor:pointer;" title="Delete"><i class="glyphicon glyphicon-trash" style="color: red;font-size:30px;"></i></button></center>
                        </td>
                    }
                    <td>
                        <center>@Html.ActionLink(" ", "Download", "ExternalAttachment", new { Area = "Logistics", tempId = fName.tempId }, new { @class = "glyphicon glyphicon-download", @tooltip = "Download", @style = "color: blueviolet;font-size:35px;" })</center>

                    </td>
                    <td hidden="hidden">
                        @fName.ImageStr
                    </td>
                    <td hidden="hidden">
                        @fName.tempId
                    </td>
                    <td>
                        @{
                            string imageSrc = string.Format("data:image/gif;base64,{0}", fName.ImageStr);
                            <a class="btnShow" id="@fName.tempId"><img src="@imageSrc" alt=@fName.FileName class="img-thumbnail" onclick="big_image(this.src,4)" style="height:50px;width:100px;" /></a>
                        }
                    </td>
                    <td>
                        @fName.RefType
                    </td>
                    <td>
                        @fName.DocType
                    </td>
                    <td>
                        @fName.ENTEREDBY
                    </td>
                </tr>
            }
        }
    </tbody>
</table>












