@model ALT_ERP3.Areas.Accounts.Models.TDSMasterVM
@{
    ViewBag.Title = "";
    Layout = null;
}

<script>

    $(document).ready(function () {
        $('#TDSRates_EffDate').datepicker({
            format:'dd-mm-yyyy',
            autoclose: true,
        });
        $("#btnAddtoTable").click(function (event) {
            event.preventDefault();
            var ModelData = {};
            ModelData["TDSRates_Sno"] = $('#TDSRates_Sno').val();
            ModelData["TDSRates_EffDate"] = $('#TDSRates_EffDate').val();
            ModelData["TDSRates_LimitFrom"] = $('#TDSRates_LimitFrom').val();
            ModelData["TDSRates_LimitTo"] = $('#TDSRates_LimitTo').val();
            ModelData["TDSRates_TDSRate"] = $('#TDSRates_TDSRate').val();
            ModelData["TDSRates_Cess"] = $('#TDSRates_Cess').val();
            ModelData["TDSRates_SHECess"] = $('#TDSRates_SHECess').val();
            ModelData["TDSRates_SurCharge"] = $('#TDSRates_SurCharge').val();
            ModelData["TDSRates_Tax"] = $('#TDSRates_Tax').val();
            var DTO = { Model: ModelData };
            var url = '@Url.Action("AddToTable")';
            $.ajax({
                type: "POST",
                dataType: "json",
                data: JSON.stringify(DTO),
                cache: false,
                url: url,
                contentType: "application/json;charset=utf-8",
                beforesend: function () {
                    $('.spinner').show();
                },
                success: function (data) {
                    $('.spinner').hide();
                    $('#ErrorMessage').hide();
                    $('#griddatatable').html(data.Html);
                },
                error: function () {
                    $('.spinner').hide();
                    alert("error occured while processing your request.");
                }
            });
        });

        $('button[action|="editgriddatarow"]').click(function (event) {
            event.preventDefault(event);
            var ModelData = {};
            ModelData["tEmpID"] = $(this).val();
            var DTO = { Model: ModelData };
            var url = '@Url.Action("PickFromTable")';
            $.ajax({
                type: "POST",
                dataType: "json",
                data: JSON.stringify(DTO),
                cache: false,
                url: url,
                contentType: "application/json;charset=utf-8",
                beforeSend: function () {
                    $('.spinner').show();
                },
                success: function (data) {
                    $('.spinner').hide();
                    $('#griddatatable').html(data.Html);
                },
                error: function () {
                    alert("Error occured while processing your request.");
                }
            });
        });

        $("#btnSaveEdit").click(function (event) {
            event.preventDefault();
            var ModelData = {};
            ModelData["tEmpID"] = $('#tEmpID').val();
            ModelData["TDSRates_Sno"] = $('#TDSRates_Sno').val();
            ModelData["TDSRates_EffDate"] = $('#TDSRates_EffDate').val();
            ModelData["TDSRates_LimitFrom"] = $('#TDSRates_LimitFrom').val();
            ModelData["TDSRates_LimitTo"] = $('#TDSRates_LimitTo').val();
            ModelData["TDSRates_TDSRate"] = $('#TDSRates_TDSRate').val();
            ModelData["TDSRates_Cess"] = $('#TDSRates_Cess').val();
            ModelData["TDSRates_SHECess"] = $('#TDSRates_SHECess').val();
            ModelData["TDSRates_SurCharge"] = $('#TDSRates_SurCharge').val();
            ModelData["TDSRates_Tax"] = $('#TDSRates_Tax').val();
            var DTO = { Model: ModelData };
            var url = '@Url.Action("AddToTableEdit")';
            $.ajax({
                type: "POST",
                dataType: "json",
                data: JSON.stringify(DTO),
                cache: false,
                url: url,
                contentType: "application/json;charset=utf-8",
                beforesend: function () {
                    $('.spinner').show();
                },
                success: function (data) {
                    $('.spinner').hide();
                    $('#ErrorMessage').hide();
                    $('#griddatatable').html(data.Html);
                },
                error: function () {
                    $('.spinner').hide();
                    alert("Error occured while processing your request.");
                }
            });
        });

        $('button[action|="deletegriddatarow"]').click(function (event) {
            event.preventDefault(event);
            var url = '@Url.Action("DeleteTableRow")?tEmpID=' + $(this).val();
            $.ajax({
                type: "GET",
                dataType: "json",
                cache: false,
                url: url,
                contentType: "application/json;charset=utf-8",
                beforeSend: function () {
                    $('.spinner').show();
                },
                success: function (data) {
                    $('.spinner').hide();
                    $('#ErrorMessage').hide();
                    $('#griddatatable').html(data.Html);
                },
                error: function () {
                    alert("Error occured while processing your request.");
                }
            });
        });
    });
</script>

<div class="grid" id="griddatatable" style="max-height: 350px; width: auto; overflow: auto;">
    <table id="gridtable" class="zui-table">
        <thead>
            <tr role="row" style="font-family:Verdana;font-size:10pt;">
                <th style="width: 4%;vertical-align:inherit;">Sr.</th>
                <th style="width: 13%;vertical-align:inherit;">Eff. Date</th>
                <th style="width: 12%;vertical-align:inherit;">Limit From</th>
                <th style="width: 12%;vertical-align:inherit;">Limit To</th>
                <th style="width: 8%;vertical-align:inherit;">TDS Rate</th>
                <th style="width: 9%;vertical-align:inherit;">Cess</th>
                <th style="width: 9%;vertical-align:inherit;">SHE.Cess</th>
                <th style="width: 10%;vertical-align:inherit;">Sur.Charge</th>
                <th style="width: 10%;vertical-align:inherit;">Tax</th>
                <th style="width: 3%;"></th>
                <th style="width: 3%;"></th>
            </tr>
            <tr style="background-color:gainsboro">
                <td>
                    @Html.TextBoxFor(x => x.tEmpID, new { @class = "form-control", @readonly = "readonly", @style = "text-align:right;", @Name = "tEmpID", @Id = "tEmpID" })
                </td>
                <td style="text-align:center;">
                    @Html.TextBoxFor(x => x.EffDateVM, new { @type = "text", @class = "form-control", @Name = "TDSRates_EffDate", @id = "TDSRates_EffDate", @Value = DateTime.Now.ToString("dd/MM/yyyy") })
                </td>
                <td style="text-align:right;">
                    @Html.TextBoxFor(x => x.TDSRates_LimitFrom, new { @class = "form-control", @style = "text-align:right;", @Name = "TDSRates_LimitFrom", @Id = "TDSRates_LimitFrom" })
                </td>
                <td style="text-align:right;">
                    @Html.TextBoxFor(x => x.TDSRates_LimitTo, new { @class = "form-control", @style = "text-align:right;", @Name = "TDSRates_LimitTo", @Id = "TDSRates_LimitTo" })
                </td>
                <td style="text-align:right;">
                    @Html.TextBoxFor(x => x.TDSRates_TDSRate, new { @class = "form-control", @style = "text-align:right;", @Name = "TDSRates_TDSRate", @Id = "TDSRates_TDSRate" })
                </td>
                <td style="text-align:right;">
                    @Html.TextBoxFor(x => x.TDSRates_Cess, new { @class = "form-control", @style = "text-align:right;", @Name = "TDSRates_Cess", @Id = "TDSRates_Cess" })
                </td>
                <td style="text-align:right;">
                    @Html.TextBoxFor(x => x.TDSRates_SHECess, new { @class = "form-control", @style = "text-align:right;", @Name = "TDSRates_SHECess", @Id = "TDSRates_SHECess" })
                </td>
                <td style="text-align:right;">
                    @Html.TextBoxFor(x => x.TDSRates_SurCharge, new { @class = "form-control", @style = "text-align:right;", @Name = "TDSRates_SurCharge", @Id = "TDSRates_SurCharge" })
                </td>
                <td style="text-align:right;">
                    @Html.TextBoxFor(x => x.TDSRates_Tax, new { @class = "form-control", @style = "text-align:right;", @Name = "TDSRates_Tax", @Id = "TDSRates_Tax" })
                </td>
                <td style="vertical-align:inherit;" colspan="1">
                    <button type="button" id="btnAddtoTable" class="btn btn-primary btn-sm" title="Add" style="margin-left:7px;width:25px;height:25px;border:1px solid black;"><i class="fa fa-plus" style="color:black;"></i></button>
                </td>
                <td>
                    <button type="button" id="btnSaveEdit" class="btn btn-primary btn-sm" title="Save" style="margin-left:7px;width:25px;height:25px;border:1px solid black;"><i class="fa fa-save" style="color:black;"></i></button>
                </td>
            </tr>
        </thead>
        <tbody>
            @if (Model.GridDataVM != null)
            {
                foreach (var item in @Model.GridDataVM.Where(x => x.tempIsDeleted == false).ToList())
                {
                    <tr style="font-family:Verdana;font-size:10pt;">
                        <td style="vertical-align:inherit;">@item.tEmpID</td>
                        <td style="text-align:center;vertical-align:inherit;">@item.TDSRates_EffDate</td>
                        <td style="text-align:right;vertical-align:inherit;">@item.TDSRates_LimitFrom</td>
                        <td style="text-align:right;vertical-align:inherit;">@item.TDSRates_LimitTo</td>
                        <td style="text-align:right;vertical-align:inherit;">@item.TDSRates_TDSRate</td>
                        <td style="text-align:right;vertical-align:inherit;">@item.TDSRates_Cess</td>
                        <td style="text-align:right;vertical-align:inherit;">@item.TDSRates_SHECess</td>
                        <td style="text-align:right;vertical-align:inherit;">@item.TDSRates_SurCharge</td>
                        <td style="text-align:right;vertical-align:inherit;">@item.TDSRates_Tax</td>
                        <td>
                            <button type="button" action="editgriddatarow" style="margin-left:7px;width:80%;height:23px;border:1px solid black;" class="btn btn-warning btn-sm" value="@item.tEmpID" title="Edit"><i class="fa fa-edit"></i></button>
                        </td>
                        <td>
                            <button type="button" action="deletegriddatarow" style="margin-left:7px;width:80%;height:23px;border:1px solid black;" class="btn btn-danger btn-sm" value="@item.tEmpID" title="Delete"><i class="fa fa-trash-o"></i></button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@* Code Auto Generated on Wed 27-Feb-2019 05:05 PM
    Engine: iX6Generator, ver: 3.7 Revision: 9
    by Team Shruham Software *@

