@model ALT_ERP3.Areas.Vehicles.Models.TripSheetVM
@using Common

<script>
    $(document).ready(function () {
        $("#CCLedgertabledata tbody").on('change', '.CutTripDedChk', function () {
            CalculateNetAmount();
        });
    });
</script>

<div class="fixTableHead" id="LedgerSelectedledgerTable" style="max-height:290px;min-height:290px; width: auto; overflow: auto;">
    <table id="CCLedgertabledata" class="zui-table" style="border-color:gray;width:100%;">
        <thead>
            <tr role="row" style="font-family:Tahoma;font-size:9pt;">

                <th colspan="1" style="width: 5%;vertical-align:inherit;">Adjust Only</th>
                <th colspan="1" style="width: 5%;vertical-align:inherit;">Cut From Trip</th>
                <th style="width: 7%;">DocDate</th>
                <th style="width: 10%;">Branch</th>
                <th style="width: 7%;">Amount</th>
                <th style="width: 14%;">Paid From Ac</th>
                <th style="width: 14%;">Other Ac</th>
                <th style="width: 5%;">Diesel Ltr.</th>
                <th style="width: 10%;">Approver</th>
                <th style="width: 5%;">Aprroved Diesel</th>
                <th style="width: 28%;">Narr</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model.CCledgers != null)
                {
                    foreach (var item in @Model.CCledgers.ToList())
                    {
                        var Amount = item.Debit + item.Credit;
                        <tr style="font-family:Tahoma;font-size:9pt;border: solid 1px lightgray;" id="@item.Branch@item.TableKey">

                            <td>
                                @if (item.TDSFlag)
                                {
                                    <center><input type="checkbox" class="DedChk" checked value="@item.Branch@item.TableKey" /></center>
                                }
                                else
                                {
                                    <center><input type="checkbox" class="DedChk" value="@item.Branch@item.TableKey" /></center>
                                }
                            </td>
                            <td>
                                @if (item.Reminder)
                                {
                                    <center><input type="checkbox" class="CutTripDedChk" checked value="@item.Branch@item.TableKey" /></center>
                                }
                                else
                                {
                                    <center><input type="checkbox" class="CutTripDedChk" value="@item.Branch@item.TableKey" /></center>
                                }
                            </td>
                            <td style="">@item.DocDate.ToShortDateString()</td>
                            <td style="">@item.Party</td>
                            <td style="">@Amount.Value.ToString("F2") </td>
                            <td style="">@item.AltCode</td>
                            <td style="">@item.Code</td>
                            <td style="">@item.RefDoc</td>
                            <td style="">@item.AUTHORISE</td>
                            <td style="">@item.AUTHIDS</td>
                            <td style="">@item.Narr</td>
                            <td class="hidden" style="">@item.TableKey</td>
                            <td class="hidden" style="">@item.Branch</td>
                        </tr>
                    }
                }
            }
        </tbody>
        <tfoot>
            @{
                var Amount1 = Model.CCledgers == null ? 0 : Model.CCledgers.Sum(x => x.Debit.Value + x.Credit.Value);
                <tr>
                    <td colspan="4">Total :-</td>
                    <td>@Amount1.ToString("F2")</td>
                    <td colspan="8"></td>
                </tr>
            }
        </tfoot>
    </table>
</div>

