@model ALT_ERP3.Areas.Vehicles.Models.TripSheetVM
@using Common
<div class="modal-body">
    <div class="modal-content">
        <div class="modal-header" style="background-color:#cccccc;padding:7px;font-weight:bolder;">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
            <h4 class="modal-title">Source Document Narration</h4>
        </div>
        <div class="modal-body">
            <div class="grid" id="PickTable" style="max-height:450px; min-height:450px;overflow: scroll;">
                <table id="tblFmCombo" class="zui-table" style="width:100%; ">
                    <thead>
                        <tr role="row">
                            <th style="width: 5%;">Sr.</th>
                            <th style="width: 10%;">Doc No</th>
                            <th style="width: 10%;">Branch</th>
                            <th style="width: 10%;">Particular</th>
                            <th style="width: 65%;">Narr</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                            if (Model.FMNarrDetailList != null)
                            {
                                foreach (var item in @Model.FMNarrDetailList.ToList())
                                {
                                    <tr style="font-family:Tahoma;font-size:9pt;border: solid 1px lightgray;">
                                        <td style="">@i</td>
                                        <td style="">@item.FMno</td>
                                        <td style="">@item.Branch</td>
                                        <td style="">@item.Description</td>
                                        <td style="">@Html.TextAreaFor(x => item.Narr, new { @id = "addNarrStr", @name = "addNarrStr", @maxlength = "100", @cols = 80, @rows = 2,  @Value = item.Narr ,@disabled="disabled"})</td>
                                    </tr>
                                    ++i;
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer" style="background-color:#cccccc;">
            @*<button type="button" class="btn btn-success" id="pickrecord">Accept Data</button>*@
            <button type="button" class="btn btn-danger" data-dismiss="modal">Discard</button>
        </div>
    </div>
</div>
