@model ALT_ERP3.Areas.Vehicles.Models.TripSheetVM
@using Common


@if (Model.LRMaster == null)
{
    <table id="tblFMDocDetails" class="zui-table" style="width:100%;background: linear-gradient(#e2dddd,#afafaf);">
        <thead>
        </thead>
        <tbody>
            @{
                <tr style="font-family:Tahoma;font-size:9pt;border: solid 1px lightgray;">
                    <td style="">Date :- @Model.FMMaster.Date.ToShortDateString()</td>
                    <td style="">Vehicle Category :- @Model.FMMaster.VehicleCategory</td>
                </tr>
                <tr style="font-family:Tahoma;font-size:9pt;border: solid 1px lightgray;">
                    <td style="">From :- @Model.FMMaster.FromBranch</td>
                    <td style="">To :- @Model.FMMaster.ToBranch</td>
                </tr>
                <tr style="font-family:Tahoma;font-size:9pt;border: solid 1px lightgray;">
                    <td style="">Driver :- @Model.FMMaster.Driver</td>
                    <td style="">Vehicle :- @Model.FMMaster.TruckNo</td>
                </tr>
            }
        </tbody>
    </table>
}
else if (Model.FMMaster == null)
{
    <table id="tblLRDocDetails" class="zui-table" style="width:100%;background: linear-gradient(#e2dddd,#afafaf);">
        <thead>
        </thead>
        <tbody>
            @{
                <tr style="font-family:Tahoma;font-size:9pt;border: solid 1px lightgray;">
                    <td style="">Date :- @Model.LRMaster.BookDate.ToShortDateString()</td>
                    <td style="">Qty :- @Model.LRMaster.TotQty</td>
                </tr>
                <tr style="font-family:Tahoma;font-size:9pt;border: solid 1px lightgray;">
                    <td style="">Act WT :- @Model.LRMaster.ActWt</td>
                    <td style="">Chrg WT :- @Model.LRMaster.ChgWt</td>
                </tr>
                <tr style="font-family:Tahoma;font-size:9pt;border: solid 1px lightgray;">
                    <td style="">From :- @Model.LRMaster.Source</td>
                    <td style="">To :- @Model.LRMaster.Dest</td>
                </tr>
                <tr style="font-family:Tahoma;font-size:9pt;border: solid 1px lightgray;">
                    <td style="">Consignor :- @Model.LRMaster.RecCode</td>
                    <td style="">Consignee :- @Model.LRMaster.SendCode</td>
                </tr>
            }
        </tbody>
    </table>
}



