@model ALT_ERP3.Areas.Vehicles.Models.TripSheetVM
@using Common
<div class="modal-body">
    <div class="modal-content">
        <div class="modal-header" style="background-color:#cccccc;padding-top:5px;">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"><b>Schedule OF (@Model.FMNumber) </b></h4>
        </div>
        <div class="modal-body">
            <div class="grid" id="FormatTable" style="max-height:350px;min-height:350px; width:100%; overflow: scroll;">
                <table id="" class="zui-table ">
                    <thead>
                        <tr>
                            <th style="width: 35px;">Branch</th>
                            <th style="width: 120px;" colspan="1">Arrival Schedule</th>
                            <th style="width: 120px;" colspan="1">Arrival Data</th>
                            <th style="width: 85px;" colspan="1">Reform</th>
                            <th style="width: 120px;" colspan="1">Arrival Re-Schedule</th>
                            <th style="width: 120px;" colspan="1">Dispatch Schedule</th>
                            <th style="width: 120px;" colspan="1">Dispatch Data</th>
                            <th style="width: 85px;" colspan="1">Reform</th>
                            <th style="width: 120px;" colspan="1">Dispatch Re-Schedule</th>
                        </tr>
                    </thead>
                    <tbody>

                        @{
                            if (Model.ScheduleDetails != null)
                            {
                                foreach (var item in Model.ScheduleDetails)
                                {
                                    <tr style="font-family:Tahoma;font-size:9pt;border: solid 1px lightgray;">
                                        <td>@item.Branch</td>
                                        <td>
                                            <table id="" class="zui-table editableTable" style="width:100%;">
                                                <thead>
                                                    <tr>
                                                        <th>Date</th>
                                                        <th>Time</th>
                                                        <th>KM</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>@item.ArrivalSchDate</td>
                                                        <td>@item.ArrivalSchTime</td>
                                                        <td>@item.ArrivalSchKm</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td>
                                            <table id="" class="zui-table editableTable" style="width:100%;">
                                                <thead>
                                                    <tr>
                                                        <th>Date</th>
                                                        <th>Time</th>
                                                        <th>KM</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>@item.ArrivalDate</td>
                                                        <td>@item.ArrivalTime</td>
                                                        <td>@item.ArrivalKM</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td>

                                            <table id="" class="zui-table editableTable" style="width:100%;">
                                                <thead>
                                                    <tr>
                                                        <th>Time</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td> @item.ArrivalLateTime</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>

                                        <td>
                                            <table id="" class="zui-table editableTable" style="width:100%;">
                                                <thead>
                                                    <tr>
                                                        <th>Date</th>
                                                        <th>Time</th>
                                                        <th>KM</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>@item.ArrivalReSchDate</td>
                                                        <td>@item.ArrivalReSchTime</td>
                                                        <td>@item.ArrivalReSchKm</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td>
                                            <table id="" class="zui-table editableTable" style="width:100%;">
                                                <thead>
                                                    <tr>
                                                        <th>Date</th>
                                                        <th>Time</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>@item.DispatchSchDate</td>
                                                        <td>@item.DispatchSchTime</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td>
                                            <table id="" class="zui-table editableTable" style="width:100%;">
                                                <thead>
                                                    <tr>
                                                        <th>Date</th>
                                                        <th>Time</th>
                                                        <th>KM</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>@item.DispatchDate</td>
                                                        <td>@item.DispatchTime</td>
                                                        <td>@item.DispatchKM</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td>
                                            <table id="" class="zui-table editableTable" style="width:100%;">
                                                <thead>
                                                    <tr>
                                                        <th>Time</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>@item.DispatchLateTime</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>

                                        <td>
                                            <table id="" class="zui-table editableTable" style="width:100%;">
                                                <thead>
                                                    <tr>
                                                        <th>Date</th>
                                                        <th>Time</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>@item.DispatchReSchDate</td>
                                                        <td>@item.DispatchReSchTime</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>

                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer" style="background-color:#cccccc;height:42px;padding-bottom:5px;padding-top:5px;border-radius: 0px 0px 5px 5px;">
            <button data-dismiss="modal" class="btn btn-danger" type="button">Close</button>
        </div>
    </div>
</div>
