@model ALT_ERP3.Areas.Logistics.Models.AlertNoteVM
@using Common;
@{
    ViewBag.Title = "Alert Note";
    Layout = null;
}
<script src="@Url.Content("~/Content/js/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/jquery.constrain.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function ()
    {
        $('#chkAllAlert').change(function (event) {
            event.preventDefault();
            if (this.checked)
            {
                $("#chkAllStopAlert").prop("disabled", false);
                $('#ALerttbl > tbody  > tr').each(function () {
                    debugger;
                    var Row = $(this).closest('tr');
                    Row.find('.chkfvalue').prop("checked", true);
                    Row.find('.chkfvalueStop').prop("disabled", false);
                });
            }
            else
            {
                $("#chkAllStopAlert").prop("checked", false);
                $("#chkAllStopAlert").prop("disabled", true);
                
                $('#ALerttbl > tbody  > tr').each(function () {
                    var Row = $(this).closest('tr');
                    Row.find('.chkfvalue').prop("checked", false);
                    Row.find('.chkfvalueStop').prop("checked", false);
                    Row.find('.chkfvalueStop').prop("disabled", true);
                });
            }
        });
        $('#chkAllStopAlert').change(function (event) {
            event.preventDefault();
            if (this.checked)
            {
                $('#ALerttbl > tbody  > tr').each(function () {
                    debugger;
                    var Row = $(this).closest('tr');
                    Row.find('.chkfvalueStop').prop("checked", true);
                });
            }
            else
            {
                $('#ALerttbl > tbody  > tr').each(function () {
                    var Row = $(this).closest('tr');
                    Row.find('.chkfvalueStop').prop("checked", false);
                });
            }
        });

        $(".chkfvalue").click(function (event)
        {
            debugger;
            var Fl = true;
            var Row = $(this).closest('tr');
            var CheckBox = Row.find('.chkfvalue').prop("checked");
            if (CheckBox)
            {
                Row.find('.chkfvalueStop').prop("disabled",false);
            }
            else
            {
                $("#chkAllAlert").prop("checked", false);
                Row.find('.chkfvalueStop').prop("checked", false);
                Row.find('.chkfvalueStop').prop("disabled", true);
            }


            $('#ALerttbl > tbody  > tr').each(function () {
                var Row = $(this).closest('tr');
                debugger;
                if (Row.find('.chkfvalue').prop("checked") == false) {
                    Fl = false;
                }
            });
            if (Fl)
            {
                $("#chkAllAlert").prop("checked", true);
            }
        });
    });
</script>


@if (Model.RefersType != null)
{<table id="ALerttbl" class="zui-table" style="width:100%;">
        <thead>
            <tr>
                <th style="width:50%;">Activity Module</th>
                <th style="width:25%;"><input type="checkbox" id="chkAllAlert" style="height:20px;width:20px;float: left;margin-left: 5px;" />Alert</th>
                <th style="width:25%;"><input type="checkbox" id="chkAllStopAlert" style="height:20px;width:20px;float: left;margin-left: 5px;" disabled />Stop Activity</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.RefersType != null)
            {
                foreach (var item in @Model.RefersType.ToList())
                {
                    <tr id="datacharge" style="font-family:Tahoma;font-size:9pt;">
                        <td class=" bold  control-label" style="vertical-align:inherit;">@item.Name</td>
                        <td hidden="hidden">@item.Code</td>
                        <td class="">@Html.CheckBoxFor(x => item.select, new { @class = "form-control chkfvalue", @style = "height:20px;width:20px;", @Value = item.select })</td>
                        <td class=" ">@Html.CheckBoxFor(x => item.stop, new { @class = "form-control chkfvalueStop", @style = "height:20px;width:20px;", @Value = item.stop,@disabled="disabled" })</td>
                    </tr>
                }
            }
        </tbody>
    </table>

    
}
