@model ALT_ERP3.Areas.Accounts.Models.OtherTransactModel
@using Common


<table id="tblTyreDocDetails" class="zui-table" style="width:100%;background: linear-gradient(#e2dddd,#afafaf);">
    <thead>
        <tr style="font-family:Tahoma;font-size:9pt;border: solid 1px lightgray;">
            <th colspan="2">
                Tyre Previous Details
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.TyreStockList != null)
        {
            foreach (var mstate in @Model.TyreStockList.ToList())
            {
        <tr style="font-family:Tahoma;font-size:9pt;border: solid 1px lightgray;">
            <td hidden="hidden">@mstate.TableKey</td>
            <td hidden="hidden">@mstate.Code</td> @*vehicle*@
            <td hidden="hidden">@mstate.Srl</td>  @*serialno*@
            <td hidden="hidden">@mstate.DocuDate</td> @*Value1*@
            <td hidden="hidden">@mstate.ActWt</td>   @*Value2*@
            <td hidden="hidden">@mstate.FEndDate</td>   @*Value3*@
            <td hidden="hidden">@mstate.ChgWt</td>  @*Value4*@
            <td hidden="hidden">@mstate.Name</td>  @*TruckNo*@
            <td hidden="hidden">@mstate.StockAt</td>
            <td hidden="hidden">@mstate.TyreNo</td>
            <td hidden="hidden">@mstate.StepneeNo</td>
            <td hidden="hidden">@mstate.IsActive</td>
            <td>
                <ul>
                    <li>Vehicle :- @mstate.Name</li>
                    @if (mstate.StepneeNo == null)
                    {
                        <li>Tyre No: @mstate.TyreNo</li>
                    }
                    else
                    {
                        <li>Stepnee No: @mstate.StepneeNo</li>
                    }

                    <li>Serial No :- @mstate.Srl</li>
                    <li>Install Date :- @mstate.DocuDate</li>
                    <li>Install Km :- @mstate.ActWt</li>
                    <li>Exp Date :- @mstate.FEndDate</li>
                    <li>Exp Km :- @mstate.ChgWt</li>
                    <li>StockAt :- @mstate.StockAt</li>
                    <li>IsActive :- @mstate.IsActive</li>
                </ul>
            </td>
            <td>
                <div>
                    Stock Transfer To
                    @if (mstate.AuthLock)
                    {
                        <select class="tyretxtfvalue" id="txtf_@mstate.TableKey" alt="@mstate.TableKey" style="width:100%" disabled>
                            @foreach (var item2 in "Remould^Stock^Scrap^Sale^OutOfStock".Split('^').ToList())
                            {
                                <option value="@item2" @(item2 == mstate.ApplCode ? "selected" : "" )>@item2</option>
                            }
                        </select>
                    }
                    else
                    {
                        <select class="tyretxtfvalue" id="txtf_@mstate.TableKey" alt="@mstate.TableKey" style="width:100%">
                            @foreach (var item2 in "Remould^Stock^Scrap^Sale^OutOfStock".Split('^').ToList())
                            {
                                <option value="@item2" @(item2 == mstate.ApplCode ? "selected" : "" )>@item2</option>
                            }
                        </select>
                    }


                </div>
            </td>
            <td hidden="hidden">@mstate.ParentKey</td>
            <td hidden="hidden">@mstate.Branch</td>
        </tr>
            }
        }

    </tbody>
</table>