@model ALT_ERP3.Areas.Logistics.Models.DifferenceFmParameters
@using Common;
@{
    ViewBag.Title = "DifferenceFmParameters";
    Layout = null;
}
<script src="@Url.Content("~/Content/js/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/jquery.constrain.js")" type="text/javascript"></script>


<script type="text/javascript">

    $(document).ready(function () {
        LoadNewVehiclePostAc();
        LoadOldVehiclePostAc();
        LoadNewDriverPostAc();
        LoadOldDriverPostAc();
    });
    function LoadNewVehiclePostAc() {
        var url = '@Url.Action("GetPostAc")'
        $('#NewVehiclePosting').select2({
            minimumInputLength: 0,
            placeholder: 'Search',
            ajax: {
                url: url,
                dataType: 'json',
                quietMillis: 100,
                enableFiltering: true,
                allowClear: true,
                minimumInputLength: 0,
                multiple: true,
                width: 300,
                data: function (term, page) {
                    return {
                        types: ["exercise"],
                        limit: -1,
                        term: term
                    };
                },
                results: function (data, page) {
                    clientObj = JSON.stringify(data);
                    return {
                        results: $.map(data, function (item) {
                            return {
                                text: item.Name,
                                id: item.Code
                            }
                        })
                    };
                }
            },
            initSelection: function (element, callback) {
                var data = { id: '@Model.NewVehiclePosting', text: '@Model.NEwVehiclePostingN' };
                callback(data);
            },
            formatResult: function (exercise) {
                return "<div class='row-fluid'><div class=''><span class='span1'><div style='color:" + exercise.alias + "'>" + exercise.text +
                    "</div></span></div></div>";
            },
            formatSelection: function (exercise) {
                return "<div class='row-fluid'><div class=''><span class='span1'><div style='color:" + exercise.alias + "'>" + exercise.text +
                    "</div></span></div></div>";
            },
        })
    }; function LoadOldVehiclePostAc() {
        var url = '@Url.Action("GetPostAc")'
        $('#OldVehiclePosting').select2({
            minimumInputLength: 0,
            placeholder: 'Search',
            ajax: {
                url: url,
                dataType: 'json',
                quietMillis: 100,
                enableFiltering: true,
                allowClear: true,
                minimumInputLength: 0,
                multiple: true,
                width: 300,
                data: function (term, page) {
                    return {
                        types: ["exercise"],
                        limit: -1,
                        term: term
                    };
                },
                results: function (data, page) {
                    clientObj = JSON.stringify(data);
                    return {
                        results: $.map(data, function (item) {
                            return {
                                text: item.Name,
                                id: item.Code
                            }
                        })
                    };
                }
            },
            initSelection: function (element, callback) {
                var data = { id: '@Model.OldVehiclePosting', text: '@Model.OldVehiclePostingN' };
                callback(data);
            },
            formatResult: function (exercise) {
                return "<div class='row-fluid'><div class=''><span class='span1'><div style='color:" + exercise.alias + "'>" + exercise.text +
                    "</div></span></div></div>";
            },
            formatSelection: function (exercise) {
                return "<div class='row-fluid'><div class=''><span class='span1'><div style='color:" + exercise.alias + "'>" + exercise.text +
                    "</div></span></div></div>";
            },
        })
    };
    function LoadNewDriverPostAc() {
        var url = '@Url.Action("GetPostAc")'
        $('#NewDriverPosting').select2({
            minimumInputLength: 0,
            placeholder: 'Search',
            ajax: {
                url: url,
                dataType: 'json',
                quietMillis: 100,
                enableFiltering: true,
                allowClear: true,
                minimumInputLength: 0,
                multiple: true,
                width: 300,
                data: function (term, page) {
                    return {
                        types: ["exercise"],
                        limit: -1,
                        term: term
                    };
                },
                results: function (data, page) {
                    clientObj = JSON.stringify(data);
                    return {
                        results: $.map(data, function (item) {
                            return {
                                text: item.Name,
                                id: item.Code
                            }
                        })
                    };
                }
            },
            initSelection: function (element, callback) {
                var data = { id: '@Model.NewDriverPosting', text: '@Model.NEwDriverPostingN' };
                callback(data);
            },
            formatResult: function (exercise) {
                return "<div class='row-fluid'><div class=''><span class='span1'><div style='color:" + exercise.alias + "'>" + exercise.text +
                    "</div></span></div></div>";
            },
            formatSelection: function (exercise) {
                return "<div class='row-fluid'><div class=''><span class='span1'><div style='color:" + exercise.alias + "'>" + exercise.text +
                    "</div></span></div></div>";
            },
        })
    };
    function LoadOldDriverPostAc() {
        var url = '@Url.Action("GetPostAc")'
        $('#OldDriverPosting').select2({
            minimumInputLength: 0,
            placeholder: 'Search',
            ajax: {
                url: url,
                dataType: 'json',
                quietMillis: 100,
                enableFiltering: true,
                allowClear: true,
                minimumInputLength: 0,
                multiple: true,
                width: 300,
                data: function (term, page) {
                    return {
                        types: ["exercise"],
                        limit: -1,
                        term: term
                    };
                },
                results: function (data, page) {
                    clientObj = JSON.stringify(data);
                    return {
                        results: $.map(data, function (item) {
                            return {
                                text: item.Name,
                                id: item.Code
                            }
                        })
                    };
                }
            },
            initSelection: function (element, callback) {
                var data = { id: '@Model.OldDriverPosting', text: '@Model.OldDriverPostingN' };
                callback(data);
            },
            formatResult: function (exercise) {
                return "<div class='row-fluid'><div class=''><span class='span1'><div style='color:" + exercise.alias + "'>" + exercise.text +
                    "</div></span></div></div>";
            },
            formatSelection: function (exercise) {
                return "<div class='row-fluid'><div class=''><span class='span1'><div style='color:" + exercise.alias + "'>" + exercise.text +
                    "</div></span></div></div>";
            },
        })
    };




</script>

<table id="" class="zui-table editableTable" style="width:100%;">
    <thead>
        <tr>
            <th style="width: 35px;">Parameter</th>
            <th style="width: 35px;">Old-Fm Data</th>
            <th style="width: 35px;">New-FM Data</th>

        </tr>
    </thead>
    <tbody>
        @{
            if (Model != null)
            {

                <tr style="font-family:Tahoma;font-size:9pt;border: solid 1px lightgray;">
                    <td>Fm Posting Req </td>
                    <td>
                        @Html.CheckBoxFor(x => x.OldFmPosting, new { @class = "form-control", @style = "width: 21px;height: 21px; ", @Value = Model.OldFmPosting })
                    </td>
                    <td>
                        @Html.CheckBoxFor(x => x.NewFmPosting, new { @class = "form-control", @style = "width: 21px;height: 21px; ", @Value = Model.NewFmPosting })
                    </td>
                </tr>
                <tr style="font-family:Tahoma;font-size:9pt;border: solid 1px lightgray;">
                    <td>Maintain Driver AC </td>
                    <td>
                        @Html.CheckBoxFor(x => x.OldMaintainDriverAc, new { @class = "form-control", @style = "width: 21px;height: 21px; ", @Value = Model.OldMaintainDriverAc })
                    </td>
                    <td>
                        @Html.CheckBoxFor(x => x.NewMaintainDriverAc, new { @class = "form-control", @style = "width: 21px;height: 21px; ", @Value = Model.NewMaintainDriverAc })
                    </td>
                </tr>
                <tr style="font-family:Tahoma;font-size:9pt;border: solid 1px lightgray;">
                    <td>Maintain Creditor Pay Records</td>
                    <td>
                        @Html.CheckBoxFor(x => x.OldMaintainCreditorPayRecord, new { @class = "form-control", @style = "width: 21px;height: 21px; ", @Value = Model.OldMaintainCreditorPayRecord })
                    </td>
                    <td>
                        @Html.CheckBoxFor(x => x.NewMaintainCreditorPayRecord, new { @class = "form-control", @style = "width: 21px;height: 21px; ", @Value = Model.NewMaintainCreditorPayRecord })
                    </td>
                </tr>
                <tr style="font-family:Tahoma;font-size:9pt;border: solid 1px lightgray;">
                    <td>Vehicle Post Ac</td>
                    <td>
                        @Html.TextBoxFor(x => x.OldVehiclePosting, new { @class = "input-large-query", @style = "width:100%;", @Value = Model.OldVehiclePosting })
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.NewVehiclePosting, new { @class = "input-large-query", @style = "width:100%;", @Value = Model.NewVehiclePosting })
                    </td>
                </tr>
                <tr style="font-family:Tahoma;font-size:9pt;border: solid 1px lightgray;">
                    <td>Driver Post Ac</td>
                    <td>
                        @Html.TextBoxFor(x => x.OldDriverPosting, new { @class = "input-large-query", @style = "width:100%;", @Value = Model.OldDriverPosting })
                    </td>
                    <td>
                        @Html.TextBoxFor(x => x.NewDriverPosting, new { @class = "input-large-query", @style = "width:100%;", @Value = Model.NewDriverPosting })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

