@model IEnumerable<ALT_ERP3.Areas.Logistics.Models.LoadingToDispatchVM>
@{
    /**/
    Layout = null;
}

<script src="@Url.Content("~/Content/js/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/jquery.constrain.js")" type="text/javascript"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $('button[action|="DeleteNarr"]').click(function (event) {
            debugger;
            event.preventDefault();
            debugger;
            $('.spinner').show();
            var url = '@Url.Action("DeleteNarr")';
            var ModelData = {};
            ModelData["NarrSno"] = $(this).val();
            ModelData["FMNO"] = $("#Srl").val();
            ModelData["Mode"] = $("#hdnMode").val();

            var DTO = { mModel: ModelData };
            $.ajax({
                type: "POST",
                dataType: "json",
                data: JSON.stringify(DTO),
                cache: false,
                url: url,
                contentType: "application/json; charset=utf-8",
                beforeSend: function () {
                    $('.spinner').show();
                },
                success: function (data) {
                    debugger;
                    $('.spinner').hide();
                    var LoadDownLoadFiles = $("#notemodelRemark");
                    LoadDownLoadFiles.html('');
                    LoadDownLoadFiles.html(data.Html);
                    $("#notemodelRemark,#btnAddNarr").removeClass("hidden");
                    $("#notemodel,#btnNarrList,#btnNarrSave").addClass("hidden");
                    $("#addNarrStr").val("");
                },
            });
        });

    });
</script>

<div class="grid" id="PickTable" style="max-height:450px; min-height:450px;overflow: scroll;">
    <table id="tblFmCombo" class="zui-table" style="width:100%; ">
        <thead>
            <tr role="row">
                <th style="width: 3%;">Sr.</th>
                <th style="width: 7%;">Doc No</th>
                <th style="width: 10%;">Branch</th>
                <th style="width: 10%;">Descr.</th>
                <th style="width: 55%;">Narr</th>
                <th style="width: 10%;">Delete</th>
                <th style="width: 10%;">ENTEREDBY</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
                if (Model != null)
                {
                    foreach (var item in @Model.ToList())
                    {
                        <tr style="font-family:Tahoma;font-size:9pt;border: solid 1px lightgray;">
                            <td style="">@i</td>
                            <td style="">@item.FMNO</td>
                            <td style="">@item.AppBranch</td>
                            <td style="">@item.PayLoadL</td>
                            <td style="">@Html.TextAreaFor(x => item.NarrStr, new { @disabled = "disabled", @id = "", @name = "", @maxlength = "100", @cols = 100, @rows = 2, @Value = item.NarrStr })</td>
                            <td style="">
                                @if (item.AUTHIDS == "N")
                                {


                                }
                                else
                                {
                                    <center><button type="button" action="DeleteNarr" value="@item.NarrSno" style="padding: 4px 8px;all:unset;cursor:pointer;" title="Delete"><i class="glyphicon glyphicon-trash" style="color: red;font-size:30px;"></i></button></center>

                                }
                            </td>
                            <td style="">@item.ENTEREDBY</td>
                        </tr>
                        ++i;
                    }
                }
            }
        </tbody>
    </table>
</div>


