@model ALT_ERP3.Areas.Accounts.Models.PaymentTermsVM
@using Common;
@{
    ViewBag.Title = "Payment Terms";
    Layout = null;
}

<script type="text/javascript">
    $(document).ready(function () {
        if ('@Model.Mode' == "Delete") {
            $('.form-group :input').prop("disabled", true);
        }

        @* iX9: Validation rules for the fields where AllowBlank is False in Definition *@
        $('#PaymentTerms').validate({
            onfocusout: false,
            errorLabelContainer: $('#ErrorMessage'),
            wrapper: "li",
            rules: {
                PaymentTerms_Code: {required: true,},
                PaymentTerms_Name: {required: true,},
               },
            messages: {
                PaymentTerms_Code: {required: 'Code is Required',},
                PaymentTerms_Name: {required: 'Name is Required',},
            }
        });

        @* iX9: Input Contraints to limit the inputs to required Input Type i.e. String, Numeric etc. *@
        $("#PaymentTerms_Code").constrain({ allow: { regex: "[0-9.-]" } });
        $("#PaymentTerms_CrPeriod").constrain({ allow: { regex: "[0-9.-]" } });
        $("#PaymentTerms_Name").constrain({ allow: { regex: "[a-zA-Z0-9()#!%$*,.\/:-+<>; ]" } });
        $("#PaymentTerms_EarlyDay1").constrain({ allow: { regex: "[0-9.-]" } });
        $("#PaymentTerms_EarlyPerc1").constrain({ allow: { regex: "[0-9.-]" } });
        $("#PaymentTerms_EarlyDay2").constrain({ allow: { regex: "[0-9.-]" } });
        $("#PaymentTerms_EarlyPerc2").constrain({ allow: { regex: "[0-9.-]" } });
        $("#PaymentTerms_EarlyDay3").constrain({ allow: { regex: "[0-9.-]" } });
        $("#PaymentTerms_EarlyPerc3").constrain({ allow: { regex: "[0-9.-]" } });
        $("#PaymentTerms_EarlyDay4").constrain({ allow: { regex: "[0-9.-]" } });
        $("#PaymentTerms_EarlyPerc4").constrain({ allow: { regex: "[0-9.-]" } });
        $("#PaymentTerms_EarlyDay5").constrain({ allow: { regex: "[0-9.-]" } });
        $("#PaymentTerms_EarlyPerc5").constrain({ allow: { regex: "[0-9.-]" } });
        $("#PaymentTerms_LateDay1").constrain({ allow: { regex: "[0-9.-]" } });
        $("#PaymentTerms_LatePerc1").constrain({ allow: { regex: "[0-9.-]" } });
        $("#PaymentTerms_LateDay2").constrain({ allow: { regex: "[0-9.-]" } });
        $("#PaymentTerms_LatePerc2").constrain({ allow: { regex: "[0-9.-]" } });
        $("#PaymentTerms_LateDay3").constrain({ allow: { regex: "[0-9.-]" } });
        $("#PaymentTerms_LatePerc3").constrain({ allow: { regex: "[0-9.-]" } });
        $("#PaymentTerms_LateDay4").constrain({ allow: { regex: "[0-9.-]" } });
        $("#PaymentTerms_LatePerc4").constrain({ allow: { regex: "[0-9.-]" } });
        $("#PaymentTerms_LateDay5").constrain({ allow: { regex: "[0-9.-]" } });
        $("#PaymentTerms_LatePerc5").constrain({ allow: { regex: "[0-9.-]" } });

        @* iX9: Executed when Save/Submit button is Pressed *@
        $('#Submit').click(function (event) {
            event.preventDefault();
            //if ($("#PaymentTerms").validate().form() == false)
            //    return;

            if ($("#PaymentTerms_Code").val() == null || $("#PaymentTerms_Code").val() == 0)
            {
                $("#ErrorMessage").show();
                $("#ErrorMessage").text('Code is Required..');
                return;
            }
            if ($("#PaymentTerms_Name").val() == null || $("#PaymentTerms_Name").val() == '')
            {
                $("#ErrorMessage").show();
                $("#ErrorMessage").text('Name is Required..');
                return;
            }
            var url = '@Url.Action("SaveData")';
            @* iX9: Data from individual field is passed on to the Model and then to Controller for Saving *@
            var ModelData = {};
            ModelData["PaymentTerms_Code"] = $("#PaymentTerms_Code").val();
            ModelData["PaymentTerms_CrPeriod"] = $("#PaymentTerms_CrPeriod").val();
            ModelData["PaymentTerms_Name"] = $("#PaymentTerms_Name").val();
            ModelData["PaymentTerms_EarlyDay1"] = $("#PaymentTerms_EarlyDay1").val();
            ModelData["PaymentTerms_EarlyPerc1"] = $("#PaymentTerms_EarlyPerc1").val();
            ModelData["PaymentTerms_EarlyDay2"] = $("#PaymentTerms_EarlyDay2").val();
            ModelData["PaymentTerms_EarlyPerc2"] = $("#PaymentTerms_EarlyPerc2").val();
            ModelData["PaymentTerms_EarlyDay3"] = $("#PaymentTerms_EarlyDay3").val();
            ModelData["PaymentTerms_EarlyPerc3"] = $("#PaymentTerms_EarlyPerc3").val();
            ModelData["PaymentTerms_EarlyDay4"] = $("#PaymentTerms_EarlyDay4").val();
            ModelData["PaymentTerms_EarlyPerc4"] = $("#PaymentTerms_EarlyPerc4").val();
            ModelData["PaymentTerms_EarlyDay5"] = $("#PaymentTerms_EarlyDay5").val();
            ModelData["PaymentTerms_EarlyPerc5"] = $("#PaymentTerms_EarlyPerc5").val();
            ModelData["PaymentTerms_LateDay1"] = $("#PaymentTerms_LateDay1").val();
            ModelData["PaymentTerms_LatePerc1"] = $("#PaymentTerms_LatePerc1").val();
            ModelData["PaymentTerms_LateDay2"] = $("#PaymentTerms_LateDay2").val();
            ModelData["PaymentTerms_LatePerc2"] = $("#PaymentTerms_LatePerc2").val();
            ModelData["PaymentTerms_LateDay3"] = $("#PaymentTerms_LateDay3").val();
            ModelData["PaymentTerms_LatePerc3"] = $("#PaymentTerms_LatePerc3").val();
            ModelData["PaymentTerms_LateDay4"] = $("#PaymentTerms_LateDay4").val();
            ModelData["PaymentTerms_LatePerc4"] = $("#PaymentTerms_LatePerc4").val();
            ModelData["PaymentTerms_LateDay5"] = $("#PaymentTerms_LateDay5").val();
            ModelData["PaymentTerms_LatePerc5"] = $("#PaymentTerms_LatePerc5").val();
            ModelData["PaymentTerms_Narr"] = $("#PaymentTerms_Narr").val();
            ModelData["Mode"] = '@Model.Mode';
            var DTO = { mModel: ModelData };
            $.ajax({
                type: "POST",
                dataType: "json",
                data: JSON.stringify(DTO),
                cache: false,
                url: url,
                contentType: "application/json; charset=utf-8",
                beforeSend: function () {
                    $('.spinner').show();
                },
                success: function (data) {
                    if (data.Status == 'Success') {
                        $('.spinner').hide();
                        window.location.href = "/Accounts/MasterGrid/Index?ViewDataId=@Model.ViewDataId&Module=@Model.Module&TableName=@Model.TableName&OptionType=@Model.OptionType&OptionCode=@Model.OptionCode&Header=@Model.Header&Controller2=@Model.Controller2&MainType=@Model.MainType";
                        $("#ErrorMessage").hide();
                    }
                    else {
                        $('.spinner').hide();
                        alert(data.Message);                    }
                },
            });
        });

        $("#btnAddNote").click(function (event) {
            event.preventDefault();
            var url = '@Url.Action("AddNote")?mCode=' + '@Model.PaymentTerms_Code';
            $.ajax({
                async: false,
                cache: false,
                url: url,
                type: "POST",
                dataType: "json",
                cache: false,
                contentType: "application/json; charset=utf-8",
                beforeSend: function () {
                    $('.spinner').show();
                },
                success: function (data) {
                    $('.spinner').hide();
                    $('#dialog1').modal('show');
                    $('#controllername').val(data.Controller);
                },
            });
        });
    });
</script>

@* iX9: Form Design *@
<header class="header fixed-top" style="position:fixed;background-color:lightgray;padding:6px;width:100%;margin-top:0%;">
    <div class="fixhead">
        <b class="CodeSt">@Model.Header</b>
        <span class="tools pull-right">
            <a href="~/Accounts/MasterGrid/Index?ViewDataId=@Model.ViewDataId&Module=@Model.Module&TableName=@Model.TableName&OptionType=@Model.OptionType&OptionCode=@Model.OptionCode&Header=@Model.Header&Controller2=@Model.Controller2&MainType=@Model.MainType" class="btn btn-danger" style="color:white;font-weight:bolder;font-size:13px;padding:3px 10px;" id="Cancel2">X</a>
        </span>
        <span class="tools pull-right">
            <b class="CodeSt">@Model.Mode Mode</b>
        </span>
    </div>
</header>

<section class="panel" style="margin-bottom:0px;">
    <div class="panel-body">
        <div class="form-horizontal " id="PaymentTerms" role="form" style="margin-top:3%;">
            <div id="ErrorMessage" name="ErrorMessage" class="alert alert-danger" style="display: none"></div>
            <br />
            @* iX9: -- Code for Header Starts -- *@
            @* iX9: Tab Body Panels *@
            <div class="form-group">
                <label class="col-sm-1 control-label">Code:</label>
                <div class="col-sm-1">
                    @Html.TextBoxFor(x => x.PaymentTerms_Code, new { @maxlength = "10", @class = "form-control", @style = "width:100px;text-align:right;", @Name = "PaymentTerms_Code", @Value = Model.PaymentTerms_Code, @Id = "PaymentTerms_Code" })
                </div>
                <div class="col-sm-2"></div>
                <label class="col-sm-1 control-label">Cr. Period:</label>
                <div class="col-sm-1">
                    @Html.TextBoxFor(x => x.PaymentTerms_CrPeriod, new { @maxlength = "10", @class = "form-control", @style = "width:100px;text-align:right;", @Name = "PaymentTerms_CrPeriod", @Value = Model.PaymentTerms_CrPeriod, @Id = "PaymentTerms_CrPeriod" })
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">Name:</label>
                <div class="col-sm-3">
                    @Html.TextBoxFor(x => x.PaymentTerms_Name, new { @maxlength = "35", @class = "form-control", @Name = "PaymentTerms_Name", @Value = Model.PaymentTerms_Name, @Id = "PaymentTerms_Name" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" style="font-size:13px;text-decoration: underline;font-weight:bold;">discounts if early</label>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">upto days - 1:</label>
                <div class="col-sm-1">
                    @Html.TextBoxFor(x => x.PaymentTerms_EarlyDay1, new { @maxlength = "10", @class = "form-control", @style = "width:100px;text-align:right;", @Name = "PaymentTerms_EarlyDay1", @Value = Model.PaymentTerms_EarlyDay1, @Id = "PaymentTerms_EarlyDay1" })
                </div>
                <div class="col-sm-2"></div>
                <label class="col-sm-1 control-label">%:</label>
                <div class="col-sm-1">
                    @Html.TextBoxFor(x => x.PaymentTerms_EarlyPerc1, "{0:n2}", new { @maxlength = "12", @class = "form-control", @style = "width:100px;text-align:right;", @Name = "PaymentTerms_EarlyPerc1", @Value = Model.PaymentTerms_EarlyPerc1, @Id = "PaymentTerms_EarlyPerc1" })
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">upto days - 2:</label>
                <div class="col-sm-1">
                    @Html.TextBoxFor(x => x.PaymentTerms_EarlyDay2, new { @maxlength = "10", @class = "form-control", @style = "width:100px;text-align:right;", @Name = "PaymentTerms_EarlyDay2", @Value = Model.PaymentTerms_EarlyDay2, @Id = "PaymentTerms_EarlyDay2" })
                </div>
                <div class="col-sm-2"></div>
                <label class="col-sm-1 control-label">%:</label>
                <div class="col-sm-1">
                    @Html.TextBoxFor(x => x.PaymentTerms_EarlyPerc2, "{0:n2}", new { @maxlength = "12", @class = "form-control", @style = "width:100px;text-align:right;", @Name = "PaymentTerms_EarlyPerc2", @Value = Model.PaymentTerms_EarlyPerc2, @Id = "PaymentTerms_EarlyPerc2" })
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">upto days - 3:</label>
                <div class="col-sm-1">
                    @Html.TextBoxFor(x => x.PaymentTerms_EarlyDay3, new { @maxlength = "10", @class = "form-control", @style = "width:100px;text-align:right;", @Name = "PaymentTerms_EarlyDay3", @Value = Model.PaymentTerms_EarlyDay3, @Id = "PaymentTerms_EarlyDay3" })
                </div>
                <div class="col-sm-2"></div>
                <label class="col-sm-1 control-label">%:</label>
                <div class="col-sm-1">
                    @Html.TextBoxFor(x => x.PaymentTerms_EarlyPerc3, "{0:n2}", new { @maxlength = "12", @class = "form-control", @style = "width:100px;text-align:right;", @Name = "PaymentTerms_EarlyPerc3", @Value = Model.PaymentTerms_EarlyPerc3, @Id = "PaymentTerms_EarlyPerc3" })
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">upto days - 4:</label>
                <div class="col-sm-1">
                    @Html.TextBoxFor(x => x.PaymentTerms_EarlyDay4, new { @maxlength = "10", @class = "form-control", @style = "width:100px;text-align:right;", @Name = "PaymentTerms_EarlyDay4", @Value = Model.PaymentTerms_EarlyDay4, @Id = "PaymentTerms_EarlyDay4" })
                </div>
                <div class="col-sm-2"></div>
                <label class="col-sm-1 control-label">%:</label>
                <div class="col-sm-1">
                    @Html.TextBoxFor(x => x.PaymentTerms_EarlyPerc4, "{0:n2}", new { @maxlength = "12", @class = "form-control", @style = "width:100px;text-align:right;", @Name = "PaymentTerms_EarlyPerc4", @Value = Model.PaymentTerms_EarlyPerc4, @Id = "PaymentTerms_EarlyPerc4" })
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">upto days - 5:</label>
                <div class="col-sm-1">
                    @Html.TextBoxFor(x => x.PaymentTerms_EarlyDay5, new { @maxlength = "10", @class = "form-control", @style = "width:100px;text-align:right;", @Name = "PaymentTerms_EarlyDay5", @Value = Model.PaymentTerms_EarlyDay5, @Id = "PaymentTerms_EarlyDay5" })
                </div>
                <div class="col-sm-2"></div>
                <label class="col-sm-1 control-label">%:</label>
                <div class="col-sm-1">
                    @Html.TextBoxFor(x => x.PaymentTerms_EarlyPerc5, "{0:n2}", new { @maxlength = "12", @class = "form-control", @style = "width:100px;text-align:right;", @Name = "PaymentTerms_EarlyPerc5", @Value = Model.PaymentTerms_EarlyPerc5, @Id = "PaymentTerms_EarlyPerc5" })
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" style="font-size:13px;text-decoration: underline;font-weight:bold;">interest if late</label>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">upto days - 1:</label>
                <div class="col-sm-1">
                    @Html.TextBoxFor(x => x.PaymentTerms_LateDay1, new { @maxlength = "10", @class = "form-control", @style = "width:100px;text-align:right;", @Name = "PaymentTerms_LateDay1", @Value = Model.PaymentTerms_LateDay1, @Id = "PaymentTerms_LateDay1" })
                </div>
                <div class="col-sm-2"></div>
                <label class="col-sm-1 control-label">%:</label>
                <div class="col-sm-1">
                    @Html.TextBoxFor(x => x.PaymentTerms_LatePerc1, "{0:n2}", new { @maxlength = "12", @class = "form-control", @style = "width:100px;text-align:right;", @Name = "PaymentTerms_LatePerc1", @Value = Model.PaymentTerms_LatePerc1, @Id = "PaymentTerms_LatePerc1" })
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">upto days - 2:</label>
                <div class="col-sm-1">
                    @Html.TextBoxFor(x => x.PaymentTerms_LateDay2, new { @maxlength = "10", @class = "form-control", @style = "width:100px;text-align:right;", @Name = "PaymentTerms_LateDay2", @Value = Model.PaymentTerms_LateDay2, @Id = "PaymentTerms_LateDay2" })
                </div>
                <div class="col-sm-2"></div>
                <label class="col-sm-1 control-label">%:</label>
                <div class="col-sm-1">
                    @Html.TextBoxFor(x => x.PaymentTerms_LatePerc2, "{0:n2}", new { @maxlength = "12", @class = "form-control", @style = "width:100px;text-align:right;", @Name = "PaymentTerms_LatePerc2", @Value = Model.PaymentTerms_LatePerc2, @Id = "PaymentTerms_LatePerc2" })
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">upto days - 3:</label>
                <div class="col-sm-1">
                    @Html.TextBoxFor(x => x.PaymentTerms_LateDay3, new { @maxlength = "10", @class = "form-control", @style = "width:100px;text-align:right;", @Name = "PaymentTerms_LateDay3", @Value = Model.PaymentTerms_LateDay3, @Id = "PaymentTerms_LateDay3" })
                </div>
                <div class="col-sm-2"></div>
                <label class="col-sm-1 control-label">%:</label>
                <div class="col-sm-1">
                    @Html.TextBoxFor(x => x.PaymentTerms_LatePerc3, "{0:n2}", new { @maxlength = "12", @class = "form-control", @style = "width:100px;text-align:right;", @Name = "PaymentTerms_LatePerc3", @Value = Model.PaymentTerms_LatePerc3, @Id = "PaymentTerms_LatePerc3" })
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">upto days - 4:</label>
                <div class="col-sm-1">
                    @Html.TextBoxFor(x => x.PaymentTerms_LateDay4, new { @maxlength = "10", @class = "form-control", @style = "width:100px;text-align:right;", @Name = "PaymentTerms_LateDay4", @Value = Model.PaymentTerms_LateDay4, @Id = "PaymentTerms_LateDay4" })
                </div>
                <div class="col-sm-2"></div>
                <label class="col-sm-1 control-label">%:</label>
                <div class="col-sm-1">
                    @Html.TextBoxFor(x => x.PaymentTerms_LatePerc4, "{0:n2}", new { @maxlength = "12", @class = "form-control", @style = "width:100px;text-align:right;", @Name = "PaymentTerms_LatePerc4", @Value = Model.PaymentTerms_LatePerc4, @Id = "PaymentTerms_LatePerc4" })
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">upto days - 5:</label>
                <div class="col-sm-1">
                    @Html.TextBoxFor(x => x.PaymentTerms_LateDay5, new { @maxlength = "10", @class = "form-control", @style = "width:100px;text-align:right;", @Name = "PaymentTerms_LateDay5", @Value = Model.PaymentTerms_LateDay5, @Id = "PaymentTerms_LateDay5" })
                </div>
                <div class="col-sm-2"></div>
                <label class="col-sm-1 control-label">%:</label>
                <div class="col-sm-1">
                    @Html.TextBoxFor(x => x.PaymentTerms_LatePerc5, "{0:n2}", new { @maxlength = "12", @class = "form-control", @style = "width:100px;text-align:right;", @Name = "PaymentTerms_LatePerc5", @Value = Model.PaymentTerms_LatePerc5, @Id = "PaymentTerms_LatePerc5" })
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">Narr:</label>
                <div class="col-sm-3">
                    @Html.TextBoxFor(x => x.PaymentTerms_Narr, new { @maxlength = "10", @class = "form-control", @Name = "PaymentTerms_Narr", @Value = Model.PaymentTerms_Narr, @Id = "PaymentTerms_Narr" })
                </div>
            </div>
            @* iX9: -- Code for Header Ends -- *@
        </div>
    </div>
</section>

<footer class="footer-section" style="height:33px;position:fixed;background-color:#4B4A4A;padding:3px;color:white;">
    <div class="row">
        <div class="col-sm-5">
            <div class="pull-left">
                <button class="btn btn-info" type="submit" style="font-size: 13px;padding:3px 12px;" id="btnAddNote" name="Command">Note</button>
            </div>
        </div>
        <div class="col-sm-3" style="margin-top:4px;color:white;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
            ALT.air.3, Shruham Software
        </div>
        <div class="col-sm-4">
            <div class="pull-right">
                @if (Model.Mode != "View")
                {
                    <button class="btn btn-success" style="font-size: 13px;padding:3px 12px;" id="Submit">Save</button>
                }
                <a href="~/Accounts/MasterGrid/Index?ViewDataId=@Model.ViewDataId&Module=@Model.Module&TableName=@Model.TableName&OptionType=@Model.OptionType&OptionCode=@Model.OptionCode&Header=@Model.Header&Controller2=@Model.Controller2&MainType=@Model.MainType" class="btn btn-danger" style="font-size: 13px;padding:3px 12px;" id="Cancel">Cancel</a>
            </div>
        </div>
    </div>
</footer>

<div class="example-modal">
    <div id="dialog1" class="modal modal-primary">
        <div class="modal-dialog" style="width:650px;">
            <div id="Dialog2">
                @Html.Partial("AddNote")
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="controllername" />
@*
    Code Auto Generated on Thu 11-Apr-2019 07:33 PM
    Engine: iX9Generator, ver: 3.7 Revision: 25
    by Team Shruham Software *@

