@model ALT_ERP3.Areas.Vehicles.Models.TyreStockTransferVM
@using Common;


<script type="text/javascript">


    $(document).ready(function () {
        loadPreviousStatus1();
        if ('@Model.NPreviousblockDocument'=="True")
            {
            $('#NPreviousTransferToStock').prop('disabled', true);
        } else {
            $('#NPreviousTransferToStock').prop('disabled', false);
        }

    });

    function loadPreviousStatus1()
    {
        var url = '@Url.Action("PopulateUpdateOldVehicleStock")';
        $.ajax({
            type: "GET",
            dataType: "json",
            cache: false,
            url: url,
            contentType: "application/json;charset=utf-8",
            beforeSend: function () {

            },
            success: function (result)
            {
                $.each(result, function (i, item) {
                    $("#NPreviousTransferToStock").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                });
                $('#NPreviousTransferToStock').val('@Model.NPreviousTransferToStock').attr("selected", "selected");
            },
            error: function ()
            {
                $('.spinner').hide();
                alert("An error occurred while processing the request.");
            }
        });

    };


</script>
@if (Model.NPreviousStockAt != "" && Model.NPreviousStockAt != null)
{
    <div class="form-group" style="font-weight: bold;color: #f34b0a;padding-left: 37px;">
        <label>Update Previous Vehicle Tyre Stock</label>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label" style="font-weight: bold;">Status :</label>
        <div class="col-sm-4">
            @Html.DropDownListFor(m => m.NPreviousTransferToStock, DropdownHelper.EmptyList(), new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" style="font-weight: bold;">Serail NO :</label>
        <div class="col-sm-4">
            @Html.TextBoxFor(x => x.NPreviousStockSerial, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" style="font-weight: bold;">Install Date :</label>
        <div class="col-sm-4">
            @Html.TextBoxFor(x => x.NPreviousInstallDate, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" style="font-weight: bold;">Install KM :</label>
        <div class="col-sm-4">
            @Html.TextBoxFor(x => x.NPreviousInstallKM, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" style="font-weight: bold;">Expiry Date :</label>
        <div class="col-sm-4">
            @Html.TextBoxFor(x => x.NPreviousExpirtDate, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" style="font-weight: bold;">Expiry KM :</label>
        <div class="col-sm-4">
            @Html.TextBoxFor(x => x.NPreviousExpiryKM, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" style="font-weight: bold;">Stock In :</label>
        <div class="col-sm-4">
            @Html.TextBoxFor(x => x.NPreviousStockAt, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" style="font-weight: bold;">Active :</label>
        <div class="col-sm-4">
            @Html.TextBoxFor(x => x.NPreviousIsActive, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label" style="font-weight: bold;">TKEy :</label>
        <div class="col-sm-4">
            @Html.TextBoxFor(x => x.NPreviousTablekey, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" style="font-weight: bold;">Branch :</label>
        <div class="col-sm-4">
            @Html.TextBoxFor(x => x.NPreviousBranch, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
}

