@model ALT_ERP3.Areas.Logistics.Models.BillQueryVM
@using Common
<script type="text/javascript">
    $(document).ready(function () {
        $('#FreightMemotabledata > tbody  > tr').dblclick(function () {
            var Row = $(this).closest('tr');
            GetConsignmentDetails(Row.find('td:eq(0)').text(), Row.find('td:eq(1)').text(), Row.find('td:eq(2)').text());
        });
    });
</script>
<div class="modal-dialog" style="width:unset;">
    <div class="modal-content">
        <div class="modal-header" style="background-color:#cccccc">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" style="color: black;font-weight: bold;">Multi Document</h4>
        </div>
        <div class="modal-body" style="padding:unset;min-height:450px;max-height:450px;overflow:auto;color: black;">
            <div class="panel-body">
                <table id="FreightMemotabledata" class="zui-tableww" style="width:100%;text-align: center;">
                    <thead style="background-color:#3ccf9d;">
                        <tr>
                            <td style="border-right: solid 1px dimgray;border-bottom: solid 1px dimgray;">Opening</td>
                            <td style="border-right: solid 1px dimgray;border-bottom: solid 1px dimgray;">Branch</td>
                            <td style="border-right: solid 1px dimgray;border-bottom: solid 1px dimgray;">Date</td>
                            <td style="border-right: solid 1px dimgray;border-bottom: solid 1px dimgray;">Customer</td>
                            <td style="border-right: solid 1px dimgray;border-bottom: solid 1px dimgray;">Cust Group</td>
                            <td style="border-right: solid 1px dimgray;border-bottom: solid 1px dimgray;">Amount</td>
                            <td style="border-right: solid 1px dimgray;border-bottom: solid 1px dimgray;">EnteredBy</td>
                        </tr>
                    </thead>
                    <tbody style="background-color: #bfa27d !important;">
                        @if (Model.ValueList != null)
                        {
                            foreach (var item in @Model.ValueList.ToList())
                            {
                                var Opeing = item.FindOpening == true ? "Yes" : "No";
                                <tr style="font-family:Tahoma;font-size:9pt;">
                                    <td class="hidden" style="width:1%">@item.Tablekey</td>
                                    <td class="hidden" style="width:1%">@item.FindOpening</td>
                                    <td class="hidden" style="width:1%">@item.Parentkey</td>
                                    <td style="vertical-align:inherit;width:1%;">@Opeing</td>
                                    <td style="vertical-align:inherit;width:1%;">@item.BillBranch</td>
                                    <td style="vertical-align:inherit;width:1%;">@item.BillDate.ToShortDateString()</td>
                                    <td style="vertical-align:inherit;width:1%;">@item.Customer</td>
                                    <td style="vertical-align:inherit;width:1%;">@item.BMaster</td>
                                    <td style="vertical-align:inherit;width:1%;">@item.TotAmt</td>
                                    <td style="vertical-align:inherit;width:1%;">@item.ENTEREDBY</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer" style="background-color:#cccccc">
            <input type="submit" value="Close" class="btn btn-danger" data-dismiss="modal" />
        </div>
    </div>
</div>


