@model IEnumerable<ALT_ERP3.Areas.Logistics.Models.MultiDeliveryVM>
@{
    Layout = null;
}
<script src="@Url.Content("~/Content/js/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/jquery.constrain.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".deletebtn").click(function () {
            var Row = $(this).closest('tr');
            var url = '@Url.Action("DeleteConsignment")';
            var ModelData = {};
            var Tablekey = Row.find('td:eq(0)').text();
            ModelData["StockTablekey"] = Tablekey;
            var DTO = { mModel: ModelData };
            $.ajax({
                type: "POST",
                dataType: "json",
                data: JSON.stringify(DTO),
                cache: false,
                url: url,
                contentType: "application/json; charset=utf-8",
                beforeSend: function () {
                    $('.spinner').show();
                },
                success: function (data) {
                    $('.spinner').hide();
                },
            });
            $(this).closest('tr').remove();
        });
    });
</script>
<style>
    .span6 {
        display: none !important;
    }
</style>
<div class="container-fluid" style="margin-top:8px;margin-left:-5px;">
    <div>
        <table id="example" class="table-bordered example" style="">
            <thead>
                <tr>
                    <th class="hidden">StockKey</th>
                    <th class="hidden">ConsignmentKey</th>
                    <th>Delete</th>
                    <th>Delivery Date</th>
                    <th class="hidden">Delivery Narr</th>
                    <th>LRNo</th>
                    <th>Book Date</th>
                    <th>Stock Branch</th>
                    <th>Stock Type</th>
                    <th>Total Qty</th>
                    <th>Stock Qty</th>
                    <th>Charge Weight</th>
                    <th>Actual Weight</th>
                    <th>Charge Type</th>
                    <th>Unit</th>
                    <th>From</th>
                    <th>TO</th>
                    <th>Consigner</th>
                    <th>Consignee</th>
                    <th>LR Type</th>
                    <th>Delivery</th>
                    <th>Collection</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr id="@item.StockTablekey">
                    <td class="hidden StockTableky">@item.StockTablekey</td>
                    <td class="hidden">@item.Tablekey</td>
                    <td>
                        <center>
                            <button class="btn btn-danger deletebtn" style="font-size: 13px;padding:3px 13px;" id="@(" btnDelete"+item.StockTablekey)"><i class="glyphicon glyphicon-trash" style="font-size: 1.2em;"></i></button>
                        </center>
                    </td>
                    <td>@item.DeliveryDate</td>
                    <td class="hidden">@item.DeliveryRemark</td>
                    <td>@item.Lrno</td>
                    <td>@item.BookDate.ToShortDateString()</td>
                    <td>@item.StockBranch</td>
                    <td>@item.StockType</td>
                    <td>@item.TotQty</td>
                    <td>@item.StockQty</td>
                    <td>@item.ChgWt</td>
                    <td>@item.ActWt</td>
                    <td>@item.ChgTypeName</td>
                    <td>@item.UnitName</td>
                    <td>@item.FromName</td>
                    <td>@item.ToName</td>
                    <td>@item.ConsignerName</td>
                    <td>@item.ConsigneeName</td>
                    <td>@item.LRtypeName</td>
                    <td>@item.Delivery</td>
                    <td>@item.Colln</td>
                </tr>
                }
            </tbody>
        </table>
    </div>


</div>



