@model GridOption
@using Common;
<div class="form-horizontal" id="" role="form">
    <section class="panel">
        <div class="tab">
            <button class="tablinksemp" id="employees" onclick="opentabemp(event, 'tabemployee')">Employee</button>
            <button class="tablinksemp" id="empmore" onclick="opentabemp(event, 'tabempmore')">More</button>
        </div>
        <div id="tabemployee" class="tabcontentemp" style="height:340px;padding:0px 0px 0px 30px;">
            <div class="row" style="margin-top:5px;">
                <div class="col-sm-6" style="width:450px;">
                    <div class="form-group">
                        <div class="col-sm-1" style="padding-left:20px;width:30px;" id="isempdiv">
                            <input type="checkbox" id="isemp" name="isemp" style="width:17px;height:17px;" />
                        </div>
                        <label class="col-sm-3 control-label">Employee:</label>
                        <div class="col-sm-6" style="width:450px;">
                            <div id="empdiv" style="overflow-y:scroll;min-height:375px;max-height:375px;padding:10px;font-size:12px;border:solid 1px;">
                                @Html.DropDownListFor(x => x.Item, DropdownHelper.EmptyList(), new { @Multiple = "multiple", @Id = "emplist", @style = "height:100%;width:100%" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" style="width:450px;">
                    <div class="form-group">
                        <div class="col-sm-1" style="padding-left:20px;width:30px;" id="isuserdiv">
                            <input type="checkbox" id="isuser" name="isuser" style="width:17px;height:17px;" />
                        </div>
                        <label class="col-sm-3 control-label">Users:</label>
                        <div class="col-sm-6" style="width:450px;">
                            <div id="userlistdiv" style="overflow-y:scroll;min-height:375px;max-height:375px;padding:10px;font-size:12px;border:solid 1px;">
                                @Html.DropDownListFor(x => x.Item, DropdownHelper.EmptyList(), new { @Multiple = "multiple", @Id = "userlist", @style = "height:100%;width:100%" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tabempmore" class="tabcontentemp" style="height:340px;padding:0px 0px 0px 30px;">
            <div class="row" style="margin-top:5px;">
                <div class="col-sm-6" style="width:450px;">
                    <div class="form-group">
                        <div class="col-sm-1" style="padding-left:20px;width:30px;" id="isempgradediv">
                            <input type="checkbox" id="isempgrade" name="isempgrade" style="width:17px;height:17px;" />
                        </div>
                        <label class="col-sm-2 control-label">Grade:</label>
                        <div class="col-sm-6" style="width:450px;">
                            <div id="empgradelistdiv" style="overflow-y:scroll;min-height:175px;max-height:175px;padding:10px;font-size:12px;border:solid 1px;">
                                @Html.DropDownListFor(x => x.Item, DropdownHelper.EmptyList(), new { @Multiple = "multiple", @Id = "empgradelist", @style = "height:100%;width:100%" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-1" style="padding-left:20px;width:30px;" id="isempcatdiv">
                            <input type="checkbox" id="isempcat" name="isempcat" style="width:17px;height:17px;" />
                        </div>
                        <label class="col-sm-2 control-label">Category:</label>
                        <div class="col-sm-6" style="width:450px;">
                            <div id="empcatlistdiv" style="overflow-y:scroll;min-height:175px;max-height:175px;padding:10px;font-size:12px;border:solid 1px;">
                                @Html.DropDownListFor(x => x.Item, DropdownHelper.EmptyList(), new { @Multiple = "multiple", @Id = "empcatlist", @style = "height:100%;width:100%" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" style="width:450px;">
                    <div class="form-group">
                        <div class="col-sm-1" style="padding-left:20px;width:30px;" id="isdeptdiv">
                            <input type="checkbox" id="isdept" name="isdept" style="width:17px;height:17px;" />
                        </div>
                        <label class="col-sm-3 control-label">Department:</label>
                        <div class="col-sm-6" style="width:450px;">
                            <div id="deptlistdiv" style="overflow-y:scroll;min-height:175px;max-height:175px;padding:10px;font-size:12px;border:solid 1px;">
                                @Html.DropDownListFor(x => x.Item, DropdownHelper.EmptyList(), new { @Multiple = "multiple", @Id = "deptlist", @style = "height:100%;width:100%" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-1" style="padding-left:20px;width:30px;" id="ispostdiv">
                            <input type="checkbox" id="ispost" name="ispost" style="width:17px;height:17px;" />
                        </div>
                        <label class="col-sm-3 control-label">Posts:</label>
                        <div class="col-sm-6" style="width:450px;">
                            <div id="postlistdiv" style="overflow-y:scroll;min-height:175px;max-height:175px;padding:10px;font-size:12px;border:solid 1px;">
                                @Html.DropDownListFor(x => x.Item, DropdownHelper.EmptyList(), new{ @Multiple = "multiple", @Id = "postlist", @style="height:100%;width:100%" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    function opentabemp(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontentemp");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinksemp");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }
    document.getElementById("employees").click();
</script>