@model GridOption
@using Common;
<div class="form-horizontal" id="searchpanel" role="form" style="margin-top:3px;">
    <div class="form-group" style="margin-left:0px;margin-right:0px;margin-bottom:3px;">
        <div class="col-sm-1 control-label" style="text-align:left;padding-top:2px;">Search Column:</div>
        <div class="col-sm-2" style="padding-left:0px;">
            @Html.DropDownListFor(x => x.searchField, DropdownHelper.EmptyList(), new { @class = "form-control", @id = "searchField", @Name = "searchField", @style = "width:100%;margin-bottom:2px;height:22px;padding:0px 2px 0px 6px;" })
        </div>
        <div class="col-sm-2" style="padding-left:0px;width:170px;">
            <select id="searchOper" name="searchOper" class="form-control" style="background-color:#e4e4e4;height:22px;padding:0px 2px 0px 6px;">
                <option value="eq">Equals to</option>
                <option value="ne">Not Equal to</option>
                <option value="bw">Begins With</option>
                <option value="bn">Does not Begin With</option>
                <option value="ew">Ends With</option>
                <option value="en">Does not End With</option>
                <option value="cn" selected="selected">Contains</option>
                <option value="nc">Does not Contain</option>
                <option value="in">Is in</option>
                <option value="ni">Is Not in</option>
            </select>
        </div>
        <div class="col-sm-1 control-label" style="width:100px;text-align:left;padding-left:5px;padding-top:2px;">Search Text:</div>
        <div class="col-sm-2" style="padding-left:0px;">
            @Html.TextBoxFor(x => x.searchString, new { @MaxLength = 100, @class = "form-control", @id = "searchString", @Name = "searchString", @Value = Model.searchString, @style = "border-color:darkgray;color:black;font-weight:bolder;height:22px;padding:0px 2px 0px 6px;" })
        </div>
        <div class="col-sm-1" style="padding-right:5px;padding-left:3px;font-family:Verdana;padding-top:0px;font-size:9pt; width:unset;text-align:right">
            <a onclick="ClearSearch()" class="fa fa-times" style="color:red;font-size:20px;cursor:pointer" title="Clear Search"></a>
        </div>
        <div class="col-sm-1" style="padding-right:5px;padding-left:3px;font-family:Verdana;padding-top:0px;font-size:9pt; width:unset;text-align:right">
            <a onclick="clickRefresh()" class="fa fa-search" style="font-size:20px;cursor:pointer" title="Apply Search Criteria to View"></a>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        GetColumnsList('@Model.ViewDataId');
    });
    function GetColumnsList(mformat) {
        $('#searchField').empty();
        $.ajax({
            type: "GET",
            dataType: "json",
            cache: false,
            url: '@Url.Action("GetColumnsList")?mformat=' + mformat,
            contentType: "application/json;charset=utf-8",
            success: function (result) {
                $.each(result, function (i, item) {
                    $("#searchField").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                });
                $('#searchField').val('@Model.searchField').attr("selected", "selected");
            },
            error: function () {
                $('.spinner').hide();
                alert("An error occurred while Processing the request.");
            }
        });
    };

    function ClearSearch() {
        $('#searchString').val("");
    };
</script>