@model ALT_ERP3.Areas.Logistics.Models.PODReceivedVM
@using Common;
@{
    ViewBag.Title = "Delivery Master";
    Layout = null;
}

<script src="@Url.Content("~/Content/js/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/jquery.constrain.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //$('#example').DataTable();
        $('#example').dataTable({
            "iDisplayLength": -1
        });
        $(".deletebtn").click(function () {

            var Row = $(this).closest('tr');
            var tds = Row.find('td');
            var Edit = tds.eq(11).text();
            if (Edit != "True") {
                 $(this).closest('tr').remove();
                var url = '@Url.Action("DeleteLRFromTempData")';
                var DTO = { TableKey: tds.eq(0).text() };
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    data: JSON.stringify(DTO),
                    cache: false,
                    url: url,
                    contentType: "application/json; charset=utf-8",
                    beforeSend: function () {
                        $('.spinner').show();
                    },
                    success: function (data) {
                        $("#ErrorMessage").hide();
                        $('.spinner').hide();
                    },
                });

            } else {
                alert("Cannot Delete This Row This Pod Received By Branch...!");
            }


        });

    });

</script>
<style>
    .span6 {
        display: none !important;
    }
</style>




@if (Model.PODPendingReceiveList != null)
{
    <div>
        <table id="example" class="table-bordered example" >
            <thead>
                <tr>
                    <th class="hidden">Reco</th>
                    <th>Delete</th>
                    <th class="hidden">PODNo</th>
                    <th>LRNo</th>
                    <th>Manual Narr</th>
                    <th>LRDate</th>
                    <th>LRTime</th>
                    <th>Consingor</th>
                    <th>Consignee</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Remark</th>
                    <th class="hidden">Remark</th>
                    <th class="hidden">Remark</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.PODPendingReceiveList)
                {
                <tr>

                    <td class="hidden RecordeKey">@item.PODRefTablekey</td>
                    <td>
                        <center>
                            <button class="btn btn-danger deletebtn" style="font-size: 13px;padding:3px 13px;" id="@("btnDelete"+item.PODRefTablekey)"><i class="glyphicon glyphicon-trash" style="font-size: 1.2em;"></i></button>
                        </center>
                    </td>
                    <td class="hidden"></td>
                    <td>@item.Lrno</td>
                    <td>@Html.TextAreaFor(x => item.RecePODRemark, new { @class = "form-control", @Value = item.RecePODRemark, @rows = "1", @maxlength = "250" })</td>
                    <td>@item.LRDate</td>
                    <td>@item.LRTime</td>
                    <td>@item.ConsignerName</td>
                    <td>@item.ConsigneeName</td>
                    <td>@item.FromName</td>
                    <td>@item.ToName</td>
                    <td>@item.Remark</td>
                    <td class="hidden">@item.CheckBox</td>
                    <td class="hidden">@item.LRRefTablekey</td>

                </tr>
                }
            </tbody>
        </table>
    </div>
}
