@model GridOption
@using Common;
<div class="form-horizontal" id="" role="form">
    <section class="panel">
        <div class="tab">
            <button class="tablinksacc" id="accgrp" onclick="openTabacc(event, 'tabaccgrp')">Grp/Accounts</button>
            <button class="tablinksacc" id="acccat" onclick="openTabacc(event, 'tabacccat')">Category</button>
            <button class="tablinksacc" id="ccpc" style="width:130px;" onclick="openTabacc(event, 'tabccpc')">Cost/Profit Centre</button>
            <button class="tablinksacc" id="sman" style="width:130px;" onclick="openTabacc(event, 'tabsman')">Salesman/Broker</button>
        </div>
        <div id="tabaccgrp" class="tabcontentacc" style="height:340px;padding:0px 0px 0px 30px;">
            <div class="row" style="margin-top:5px;">
                <div class="form-group">
                    <div class="col-sm-1" style="padding-left:20px;width:30px;" id="isacgroupsdiv">
                        <input type="checkbox" id="isacgroups" name="isacgroups" style="width:17px;height:17px;" />
                    </div>
                    <label class="col-sm-2 control-label">Account Groups:</label>
                    <div class="col-sm-3">
                    </div>
                    <div class="col-sm-1" style="padding-left:20px;width:30px;" id="isaccountsdiv">
                        <input type="checkbox" id="isaccounts" name="isaccounts" style="width:17px;height:17px;" />
                    </div>
                    <label class="col-sm-2 control-label">Accounts:</label>
                </div>
                <div class="form-group">
                    <div class="col-sm-6" style="width:450px;">
                        <div id="accgroupslist" style="width:400px;overflow-y:scroll;min-height:340px;max-height:340px;padding:10px;font-size:12px;border:solid 1px;">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div id="acclistdiv" style="overflow-y:scroll;min-height:340px;max-height:340px;padding:10px;font-size:12px;border:solid 1px;">
                            <div class="col-sm-12">
                                @Html.DropDownListFor(x => x.Item, DropdownHelper.EmptyList(), new { @Multiple = "multiple", @Id = "acclist", @style = "height:100%;width:100%" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-8">
                        <button class="btn btn-success" style="font-size: 13px;padding:3px 12px;" id="expandaccgrp">Expand All</button>
                        <button class="btn btn-success" style="font-size: 13px;padding:3px 12px;" id="closeaccgrp">Close All</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="tabacccat" class="tabcontentacc" style="height:340px;padding:0px 0px 0px 30px;">
            <div class="row" style="margin-top:5px;">
                <div class="col-sm-6" style="width:450px;">
                    <div class="form-group">
                        <div class="col-sm-1" style="padding-left:20px;width:30px;" id="isacccatdiv">
                            <input type="checkbox" id="isacccat" name="isacccat" style="width:17px;height:17px;" />
                        </div>
                        <label class="col-sm-3 control-label">Party Category:</label>
                        <div class="col-sm-6" style="width:450px;">
                            <div id="acccatdiv" style="overflow-y:scroll;min-height:375px;max-height:375px;padding:10px;font-size:12px;border:solid 1px;">
                                @Html.DropDownListFor(x => x.Item, DropdownHelper.EmptyList(), new{ @Multiple = "multiple", @Id = "acccatlist", @style="height:100%;width:100%" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" style="width:450px;">
                    <div class="form-group">
                        <div class="col-sm-1" style="padding-left:20px;width:30px;" id="isaccheaddiv">
                            <input type="checkbox" id="isacchead" name="isacchead" style="width:17px;height:17px;" />
                        </div>
                        <label class="col-sm-3 control-label">Party Group:</label>
                        <div class="col-sm-6" style="width:450px;">
                            <div id="accheadlistdiv" style="overflow-y:scroll;min-height:375px;max-height:375px;padding:10px;font-size:12px;border:solid 1px;">
                                @Html.DropDownListFor(x => x.Item, DropdownHelper.EmptyList(), new{ @Multiple = "multiple", @Id = "accheadlist", @style="height:100%;width:100%" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tabccpc" class="tabcontentacc" style="height:340px;padding:0px 0px 0px 30px;">
            <div class="row" style="margin-top:5px;">
                <div class="col-sm-6" style="width:450px;">
                    <div class="form-group">
                        <div class="col-sm-1" style="padding-left:20px;width:30px;" id="ispcdiv">
                            <input type="checkbox" id="ispc" name="ispc" style="width:17px;height:17px;" />
                        </div>
                        <label class="col-sm-3 control-label">Profit-Centre:</label>
                        <div class="col-sm-6" style="width:450px;">
                            <div id="pcdiv" style="overflow-y:scroll;min-height:375px;max-height:375px;padding:10px;font-size:12px;border:solid 1px;">
                                @Html.DropDownListFor(x => x.Item, DropdownHelper.EmptyList(), new { @Multiple = "multiple", @Id = "pclist", @style = "height:100%;width:100%" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" style="width:450px;">
                    <div class="form-group">
                        <div class="col-sm-1" style="padding-left:20px;width:30px;" id="isccdiv">
                            <input type="checkbox" id="iscc" name="iscc" style="width:17px;height:17px;" />
                        </div>
                        <label class="col-sm-3 control-label">Cost-Centre:</label>
                        <div class="col-sm-6" style="width:450px;">
                            <div id="cclistdiv" style="overflow-y:scroll;min-height:375px;max-height:375px;padding:10px;font-size:12px;border:solid 1px;">
                                @Html.DropDownListFor(x => x.Item, DropdownHelper.EmptyList(), new { @Multiple = "multiple", @Id = "cclist", @style = "height:100%;width:100%" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tabsman" class="tabcontentacc" style="height:340px;padding:0px 0px 0px 30px;">
            <div class="row" style="margin-top:5px;">
                <div class="col-sm-6" style="width:450px;">
                    <div class="form-group">
                        <div class="col-sm-1" style="padding-left:20px;width:30px;" id="isbrokerdiv">
                            <input type="checkbox" id="isbroker" name="isbroker" style="width:17px;height:17px;" />
                        </div>
                        <label class="col-sm-2 control-label">Broker:</label>
                        <div class="col-sm-6" style="width:450px;">
                            <div id="brokerlistdiv" style="overflow-y:scroll;min-height:375px;max-height:375px;padding:10px;font-size:12px;border:solid 1px;">
                                @Html.DropDownListFor(x => x.Item, DropdownHelper.EmptyList(), new{ @Multiple = "multiple", @Id = "brokerlist", @style="height:100%;width:100%" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" style="width:450px;">
                    <div class="form-group">
                        <div class="col-sm-1" style="padding-left:20px;width:30px;" id="issalesmandiv">
                            <input type="checkbox" id="issalesman" name="issalesman" style="width:17px;height:17px;" />
                        </div>
                        <label class="col-sm-2 control-label">Salesman:</label>
                        <div class="col-sm-6" style="width:450px;">
                            <div id="salesmanlist" style="width:400px;overflow-y:scroll;min-height:340px;max-height:340px;padding:10px;font-size:12px;border:solid 1px;">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8">
                            <button class="btn btn-success" style="font-size: 13px;padding:3px 12px;" id="expandsalesman">Expand All</button>
                            <button class="btn btn-success" style="font-size: 13px;padding:3px 12px;" id="closesalesman">Close All</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    function openTabacc(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontentacc");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinksacc");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }
    document.getElementById("accgrp").click();
</script>