@model ALT_ERP3.Areas.Logistics.Models.BillSubmissionVM
@{
    Layout = null;
}

<style>
    input[type=text] {
        color: black !important;
    }

    .span6 {
        display: none !important;
    }
</style>

<script type="text/javascript">


    $(document).ready(function () {

        $('#example1').dataTable({
            "iDisplayLength": -1,
        });

        $(".checkbox").click(function () {
            calculateWeightAndQty();
        });

        $("#SelectAll").click(function () {
            $(".checkbox").prop('checked', $(this).prop('checked'));
            $("#DeselectAll").prop('checked', $(this).prop('checked'));
            calculateWeightAndQty();
        });

    });


</script>

<div class="container-fluid" style="margin-top:8px;margin-left:-5px;">
    <table id="example11" class="table-bordered example" style="width:100%!important;">
        <thead>

            <tr>
                <th><center><input type="checkbox" id="SelectAll" style="height: 17px;width: 18px;" /></center></th>
                <th>Srno</th>
                <th>Bill No</th>
                <th>Bill Type</th>
                <th class="hidden">Bill Type</th>
                <th>Party</th>
                <th>Amount</th>
                <th class="hidden tmpindex">Index</th>
                <th class="hidden">Key</th>
            </tr>
        </thead>
        <tbody style="max-height:400px;min-height:400px;width:100%;">
            @{
                int i = 1;
                foreach (var item in Model.BillDetails)
                {
                    <tr id="@item.BillNo">
                        <td class=""><center><input type="checkbox" class="checkbox" style="height: 17px;width: 18px;" /></center></td>
                        <td>@i</td>
                        <td>@item.BillNo</td>
                        <td>@item.BillTypeName</td>
                        <td class="hidden">@item.BillType</td>
                        <td>@item.PartyParentName</td>
                        <td>@item.Amount</td>
                        <td class="hidden tmpindex">@i</td>
                        <td class="hidden">@item.BillTableKey</td>
                    </tr>
                    i += 1;
                }
            }
        </tbody>
    </table>
</div>
