@model ALT_ERP3.Areas.Logistics.Models.UserRightsVM
@{
    ViewBag.Title = "User Rights - Admin";
}

<script src="@Url.Content("~/Content/js/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/jquery.constrain.js")" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $('#AllxCess').click(function () {
            var xcess = $('#AllxCess').is(':checked');
            if (xcess == true) {

                $('#tabledatapick2 tbody tr').each(function () {
                    var tds = $(this).find('td');
                    tds.find("input[id='UserRights_xCess']").prop("checked", true);

                })
            }
            else {
                $('#tabledatapick2 tbody tr').each(function () {
                    var tds = $(this).find('td');
                    tds.find("input[id='UserRights_xCess']").prop("checked", false);

                })
            }
        });


        $('.VerticalCheck').click(function () {
            debugger;
            var Row = $(this).closest('tr');
            var tds = Row.find('td');

            var xcess = tds.find("input[id='VerticalCheck']").prop("checked");
            if (xcess == true) {
                tds.find("input[id='UserRights_xCess']").prop("checked", true);
                tds.find("input[id='UserRights_xAdd']").prop("checked", true);
                tds.find("input[id='UserRights_xEdit']").prop("checked", true);
                tds.find("input[id='UserRights_xDelete']").prop("checked", true);
                tds.find("input[id='UserRights_xPrint']").prop("checked", true);
                tds.find("input[id='UserRights_xBackDated']").prop("checked", true);
            }
            else {
                tds.find("input[id='UserRights_xCess']").prop("checked", false);
                tds.find("input[id='UserRights_xAdd']").prop("checked", false);
                tds.find("input[id='UserRights_xEdit']").prop("checked", false);
                tds.find("input[id='UserRights_xDelete']").prop("checked", false);
                tds.find("input[id='UserRights_xPrint']").prop("checked", false);
                tds.find("input[id='UserRights_xBackDated']").prop("checked", false);
            }
        });
        $('#AllAccess').click(function () {
            var xcess = $('#AllAccess').is(':checked');
            if (xcess == true) {

                $('#AllxCess').prop('checked', true);
                $('#AllxAdd').prop('checked', true);
                $('#AllxEdit').prop('checked', true);
                $('#AllxDelete').prop('checked', true);
                $('#AllxPrint').prop('checked', true);
                $('#AllxBackDated').prop('checked', true);
                var ModuleName = $("#EnumModuleName").val();

                if (ModuleName != "ALL") {
                    $('#tabledatapick2 tbody tr').each(function () {
                        var tds = $(this).find('td');
                        var Modulename = tds.find("input[id='Modulename']").val();
                        if (Modulename.toUpperCase().trim() == ModuleName.toUpperCase().trim()) {
                            tds.find("input[id='VerticalCheck']").prop("checked", true);
                            tds.find("input[id='UserRights_xCess']").prop("checked", true);
                            tds.find("input[id='UserRights_xAdd']").prop("checked", true);
                            tds.find("input[id='UserRights_xEdit']").prop("checked", true);
                            tds.find("input[id='UserRights_xDelete']").prop("checked", true);
                            tds.find("input[id='UserRights_xPrint']").prop("checked", true);
                            tds.find("input[id='UserRights_xBackDated']").prop("checked", true);
                        }
                    })
                }
                else {
                    $('#tabledatapick2 tbody tr').each(function () {
                        var tds = $(this).find('td');

                        tds.find("input[id='VerticalCheck']").prop("checked", true);
                        tds.find("input[id='UserRights_xCess']").prop("checked", true);
                        tds.find("input[id='UserRights_xAdd']").prop("checked", true);
                        tds.find("input[id='UserRights_xEdit']").prop("checked", true);
                        tds.find("input[id='UserRights_xDelete']").prop("checked", true);
                        tds.find("input[id='UserRights_xPrint']").prop("checked", true);
                        tds.find("input[id='UserRights_xBackDated']").prop("checked", true);
                    })
                }



            }
            else {
                $('#AllxCess').prop('checked', false);
                $('#AllxAdd').prop('checked', false);
                $('#AllxEdit').prop('checked', false);
                $('#AllxDelete').prop('checked', false);
                $('#AllxPrint').prop('checked', false);
                $('#AllxBackDated').prop('checked', false);
                var ModuleName = $("#EnumModuleName").val();

                if (ModuleName != "ALL") {
                    $('#tabledatapick2 tbody tr').each(function () {
                        var tds = $(this).find('td');
                        var Modulename = tds.find("input[id='Modulename']").val();
                        if (Modulename.toUpperCase().trim() == ModuleName.toUpperCase().trim()) {
                            tds.find("input[id='VerticalCheck']").prop("checked", false);
                            tds.find("input[id='UserRights_xCess']").prop("checked", false);
                            tds.find("input[id='UserRights_xAdd']").prop("checked", false);
                            tds.find("input[id='UserRights_xEdit']").prop("checked", false);
                            tds.find("input[id='UserRights_xDelete']").prop("checked", false);
                            tds.find("input[id='UserRights_xPrint']").prop("checked", false);
                            tds.find("input[id='UserRights_xBackDated']").prop("checked", false);
                        }
                    })
                }
                else {
                    $('#tabledatapick2 tbody tr').each(function () {
                        var tds = $(this).find('td');
                        tds.find("input[id='VerticalCheck']").prop("checked", false);
                        tds.find("input[id='UserRights_xCess']").prop("checked", false);
                        tds.find("input[id='UserRights_xAdd']").prop("checked", false);
                        tds.find("input[id='UserRights_xEdit']").prop("checked", false);
                        tds.find("input[id='UserRights_xDelete']").prop("checked", false);
                        tds.find("input[id='UserRights_xPrint']").prop("checked", false);
                        tds.find("input[id='UserRights_xBackDated']").prop("checked", false);
                    })
                }




            }
        });
        $('#AllxAdd').click(function () {
            var xcess = $('#AllxAdd').is(':checked');
            if (xcess == true) {

                $('#tabledatapick2 tbody tr').each(function () {
                    var tds = $(this).find('td');
                    tds.find("input[id='UserRights_xAdd']").prop("checked", true);

                })
            }
            else {
                $('#tabledatapick2 tbody tr').each(function () {
                    var tds = $(this).find('td');
                    tds.find("input[id='UserRights_xAdd']").prop("checked", false);

                })
            }
        });

        $('#AllxEdit').click(function () {
            var xcess = $('#AllxEdit').is(':checked');
            if (xcess == true) {

                $('#tabledatapick2 tbody tr').each(function () {
                    var tds = $(this).find('td');
                    tds.find("input[id='UserRights_xEdit']").prop("checked", true);

                })
            }
            else {
                $('#tabledatapick2 tbody tr').each(function () {
                    var tds = $(this).find('td');
                    tds.find("input[id='UserRights_xEdit']").prop("checked", false);

                })
            }
        });
        $('#AllxDelete').click(function () {
            var xcess = $('#AllxDelete').is(':checked');
            if (xcess == true) {

                $('#tabledatapick2 tbody tr').each(function () {
                    var tds = $(this).find('td');
                    tds.find("input[id='UserRights_xDelete']").prop("checked", true);

                })
            }
            else {
                $('#tabledatapick2 tbody tr').each(function () {
                    var tds = $(this).find('td');
                    tds.find("input[id='UserRights_xDelete']").prop("checked", false);

                })
            }
        });
        $('#AllxPrint').click(function () {
            var xcess = $('#AllxPrint').is(':checked');
            if (xcess == true) {

                $('#tabledatapick2 tbody tr').each(function () {
                    var tds = $(this).find('td');
                    tds.find("input[id='UserRights_xPrint']").prop("checked", true);

                })
            }
            else {
                $('#tabledatapick2 tbody tr').each(function () {
                    var tds = $(this).find('td');
                    tds.find("input[id='UserRights_xPrint']").prop("checked", false);

                })
            }
        });
        $('#AllxBackDated').click(function () {
            var xcess = $('#AllxBackDated').is(':checked');
            if (xcess == true) {

                $('#tabledatapick2 tbody tr').each(function () {
                    var tds = $(this).find('td');
                    tds.find("input[id='UserRights_xBackDated']").prop("checked", true);

                })
            }
            else {
                $('#tabledatapick2 tbody tr').each(function () {
                    var tds = $(this).find('td');
                    tds.find("input[id='UserRights_xBackDated']").prop("checked", false);

                })
            }
        });
    });
</script>
<table id="tabledatapick2" class="zui-table" style="font-size:12pt;word-wrap:break-word">
    <thead>
        <tr role="row">
            <th style="width: 13%;vertical-align:inherit;"></th>
            <th style="width: 35%;vertical-align:inherit;"></th>
            <th style="width: 8%;vertical-align:inherit;"><input id="AllAccess" name="AllAccess" style="width:16px;height:16px;" type="checkbox"></th>
            <th style="width: 8%;vertical-align:inherit;"><input id="AllxCess" name="AllxCess" style="width:16px;height:16px;" type="checkbox"></th>
            <th style="width: 8%;vertical-align:inherit;"><input id="AllxAdd" name="AllxAdd" style="width:16px;height:16px;" type="checkbox"></th>
            <th style="width: 8%;vertical-align:inherit;"><input id="AllxEdit" name="AllxEdit" style="width:16px;height:16px;" type="checkbox"></th>
            <th style="width: 8%;vertical-align:inherit;"><input id="AllxDelete" name="AllxDelete" style="width:16px;height:16px;" type="checkbox"></th>
            <th style="width: 8%;vertical-align:inherit;"><input id="AllxPrint" name="AllxPrint" style="width:16px;height:16px;" type="checkbox"></th>
            <th style="width: 8%;vertical-align:inherit;"><input id="AllxBackDated" name="AllxBackDated" style="width:16px;height:16px;" type="checkbox"></th>
            <th style="width: 8%;vertical-align:inherit;"></th>
            <th style="width: 1%;vertical-align:inherit;" hidden></th>
            <th style="width: 1%;vertical-align:inherit;" hidden></th>
            <th style="width: 1%;vertical-align:inherit;" hidden></th>
        </tr>
        <tr role="row">
            <th style="width: 13%;vertical-align:inherit;">Menu ID</th>
            <th style="width: 35%;vertical-align:inherit;">Menu Description</th>
            <th style="width: 8%;vertical-align:inherit;">All</th>
            <th style="width: 8%;vertical-align:inherit;">Access</th>
            <th style="width: 8%;vertical-align:inherit;">Add</th>
            <th style="width: 8%;vertical-align:inherit;">Edit</th>
            <th style="width: 8%;vertical-align:inherit;">Delete</th>
            <th style="width: 8%;vertical-align:inherit;">Print</th>
            <th style="width: 8%;vertical-align:inherit;">BackDtd</th>
            <th style="width: 8%;vertical-align:inherit;">Max.Limit</th>
            <th style="width: 1%;vertical-align:inherit;" hidden>ModuleName</th>
            <th style="width: 1%;vertical-align:inherit;" hidden>ParentName</th>
            <th style="width: 1%;vertical-align:inherit;" hidden>ZoomUrl</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.mRightList != null)
        {
            for (int i = 0; i < Model.mRightList.Count; i++)
            {
                <tr style="font-family:Tahoma;font-size:12pt;border: solid 1px lightgray;">
                    <td style="text-align:left;width:13%;">@Html.TextBoxFor(m => Model.mRightList[i].UserRights_MenuID, new { @value = Model.mRightList[i].UserRights_MenuID, @style = "border:none;text-align:left;width:100%;", @readonly = "readonly", @id = "UserRights_MenuID", @name = "UserRights_MenuID" })</td>
                    <td style="text-align:left;width:35%;">@Html.TextBoxFor(m => Model.mRightList[i].TfatMenu_Menu, new { @value = Model.mRightList[i].TfatMenu_Menu, @style = "border:none;text-align:left;width:100%;", @readonly = "readonly", @id = "TfatMenu_Menu", @name = "TfatMenu_Menu" })</td>
                    <td style="text-align:center;width:8%;"><input type="checkbox" style="width:16px;height:16px;" class="VerticalCheck" id="VerticalCheck" /></td>
                    <td style="text-align:center;width:8%;">@Html.CheckBoxFor(m => Model.mRightList[i].UserRights_xCess, new { @value = Model.mRightList[i].UserRights_xCess, @style = "width:16px;height:16px;", @id = "UserRights_xCess", @name = "UserRights_xCess" })</td>
                    <td style="text-align:center;width:8%;">@Html.CheckBoxFor(m => Model.mRightList[i].UserRights_xAdd, new { @value = Model.mRightList[i].UserRights_xAdd, @style = "width:16px;height:16px;", @id = "UserRights_xAdd", @name = "UserRights_xAdd" })</td>
                    <td style="text-align:center;width:8%;">@Html.CheckBoxFor(m => Model.mRightList[i].UserRights_xEdit, new { @value = Model.mRightList[i].UserRights_xEdit, @style = "width:16px;height:16px;", @id = "UserRights_xEdit", @name = "UserRights_xEdit" })</td>
                    <td style="text-align:center;width:8%;">@Html.CheckBoxFor(m => Model.mRightList[i].UserRights_xDelete, new { @value = Model.mRightList[i].UserRights_xDelete, @style = "width:16px;height:16px;", @id = "UserRights_xDelete", @name = "UserRights_xDelete" })</td>
                    <td style="text-align:center;width:8%;">@Html.CheckBoxFor(m => Model.mRightList[i].UserRights_xPrint, new { @value = Model.mRightList[i].UserRights_xPrint, @style = "width:16px;height:16px;", @id = "UserRights_xPrint", @name = "UserRights_xPrint" })</td>
                    <td style="text-align:center;width:8%;">@Html.CheckBoxFor(m => Model.mRightList[i].UserRights_xBackDated, new { @value = Model.mRightList[i].UserRights_xBackDated, @style = "width:16px;height:16px;", @id = "UserRights_xBackDated", @name = "UserRights_xBackDated" })</td>
                    <td style="text-align:center;width:8%;">@Html.TextBoxFor(m => Model.mRightList[i].UserRights_xLimit, new { @value = Model.mRightList[i].UserRights_xLimit, @style = "text-align:right;", @id = "UserRights_xLimit", @name = "UserRights_xLimit" })</td>
                    <td hidden style="text-align:center;width:1%;">@Html.TextBoxFor(m => Model.mRightList[i].Modulename, new { @value = Model.mRightList[i].Modulename, @style = "text-align:right;", @id = "Modulename", @name = "Modulename" })</td>
                    <td hidden style="text-align:center;width:1%;">@Html.TextBoxFor(m => Model.mRightList[i].ParentName, new { @value = Model.mRightList[i].ParentName, @style = "text-align:right;", @id = "ParentName", @name = "ParentName" })</td>
                    <td hidden style="text-align:center;width:1%;">@Html.TextBoxFor(m => Model.mRightList[i].ZoomUrl, new { @value = Model.mRightList[i].ZoomUrl, @style = "text-align:right;", @id = "ZoomUrl", @name = "ZoomUrl" })</td>
                </tr>
            }
        }
    </tbody>
</table>
@*
    Code Auto Generated on Tue 05-Mar-2019 05:37 PM
    Engine: iX9Generator, ver: 3.7 Revision: 12
    by Team Suchan, T.FAT *@

