@model IEnumerable<ALT_ERP3.Areas.Logistics.Models.ConsignerList>
@{
    Layout = null;
}

<style>
    .span6 {
        display: none !important;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        
        var Consigner = '@Model.Select(x => x.BrnachWiseConsigner).FirstOrDefault().ToString()';

        $('#tblConsignerList').DataTable();
        
        $('#LcCombo .Ordertable-row').dblclick(function () {
            if (Consigner=="False") {
                
                var Code = $(this).find(".ConsignerCode").text();
                var Name = $(this).find(".ConsignerName").text();
                if ($("#ConsignerRadiobtn").is(":checked")) {
                    $('#RecCode').select2('data', { id: Code, text: Name });
                } else {
                    $('#SendCode').select2('data', { id: Code, text: Name });
                }
                //$("#AllConsignerListModal").hide();
            }
        });
    });
</script>
@if (Model != null)
{
    var CheckConsigner = Model.Select(x => x.BrnachWiseConsigner).FirstOrDefault().ToString();
    <div class="container-fluid">
        <center>
            <table class="Ordertable table-bordered table-bordered example table-responsive-md" id="tblConsignerList" style="width:-webkit-fill-available;">
                <thead id="Head">
                    <tr>
                        @if (CheckConsigner == "True")
                        {
                            <th class="Ordertable-cell">Selection</th>
                        }
                        else
                        {
                            <th class="Ordertable-cell hidden">Code</th>
                        }
                        <th class="Ordertable-cell">Name</th>
                        <th class="Ordertable-cell">ContactPerson</th>
                        <th class="Ordertable-cell">Address</th>
                        <th class="Ordertable-cell">City</th>
                        <th class="Ordertable-cell">Pincode</th>
                        <th class="Ordertable-cell">District</th>
                        <th class="Ordertable-cell">PnoneNo</th>
                        <th class="Ordertable-cell">Fax</th>
                    </tr>
                </thead>
                <tbody id="LcCombo" style="max-height:300px;min-height:300px;width:100%;overflow:scroll;">
                    @foreach (var item in Model)
                    {
                    <tr class="Ordertable-row">

                        @if (CheckConsigner == "True")
                        {
                            <td class="Ordertable-cell"><center><input type="radio" class="radiobtngrp" name="radiobtngrp" id="@item.CCode" style="height: 17px;width: 18px;" /></center></td>
                        }
                        else
                        {
                            <td class="Ordertable-cell hidden ConsignerCode">@item.CCode</td>
                        }
                        <td class="Ordertable-cell ConsignerName">@item.CName</td>
                        <td class="Ordertable-cell">@item.CContactPerson</td>
                        <td class="Ordertable-cell">@item.CAddress</td>
                        <td class="Ordertable-cell">@item.CCity</td>
                        <td class="Ordertable-cell">@item.CPincode</td>
                        <td class="Ordertable-cell">@item.CDistirict</td>
                        <td class="Ordertable-cell">@item.CPhoneNO</td>
                        <td class="Ordertable-cell">@item.CFax</td>
                    </tr>
                    }
                </tbody>

            </table>
        </center>
    </div>
}
