@model ALT_ERP3.Areas.Accounts.Models.LedgerVM
<script>
    $(document).ready(function () {

        $('#SaveCostC').click(function () {
            var myTableArray1 = [];
            var total = 0;
            $('#CCCentre tr:not(:first)').each(function () {
                var tds = $(this).find('td');
                var myDets = { CostCode: $(tds[3]).html(), Name: $(tds[1]).html(), CCAmt: $(tds[2]).html() }
                myTableArray1.push(myDets);
                total += parseInt($(tds[2]).html());
            })
            var ModelData = {};
            ModelData["CCList"] = myTableArray1;
            ModelData["Type"] = '@Model.Type';
            var DTO = { Model: ModelData };
            var url = '@Url.Action("SaveCCentre")';
            $.ajax({
                type: "POST",
                dataType: "json",
                data: JSON.stringify(DTO),
                cache: false,
                url: url,
                contentType: "application/json;charset=utf-8",
                beforesend: function () {
                    $('.spinner').show();
                },
                success: function (data) {
                    $('.spinner').hide();
                    $('#addcostc').modal('hide');
                },
                error: function () {
                    $('.spinner').hide();
                    alert("error occured while processing your request.");
                }
            });

        });

    });

</script>
<div class="modal-content">
    <div class="modal-header" style="background-color:#cccccc">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
        <h4 class="modal-title">Cost Allocation for: Purchase Account</h4>
    </div>
    <div class="modal-body" style="padding:15px 15px 0px 15px;">
        <div class="row">
            @*<div class="col-sm-6">
                    <div class="row">
                        <div class="col-md-12">
                            <section class="panel">
                                <header class="panel-heading" style="padding:0px;">
                                    Cost-Centre Groups
                                </header>
                                <div class="panel-body">
                                    <div class="grid" style="max-height: 350px; width: auto; overflow: auto;">
                                        <table id="" class="table table-striped table-bordered">
                                            <thead>
                                                <tr role="row" style="font-family:Tahoma;font-size:9pt;">
                                                    <th style="width:10%;"></th>
                                                    <th>Cost Category</th>
                                                    <th>Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.costgroup1 != null)
                                                {
                                                    foreach (var item in Model.costgroup1)
                                                    {
                                                        <tr role="row" style="font-family:Tahoma;font-size:9pt;">
                                                            <td></td>
                                                            <td>@item.Name</td>
                                                            <td style="text-align:right"></td>
                                                        </tr>
                                                    }
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="grid">
                                        <table id="" class="table table-striped table-bordered" style="max-width:50%;">
                                            <thead>
                                                <tr role="row" style="font-family:Tahoma;font-size:9pt;">
                                                    <td style="width:5%;text-align:center;">Amount</td>
                                                    <td style="width:5%; text-align:right;" >@Model.Credit</td>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>*@
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-md-12">
                        <section class="panel">
                            <header class="panel-heading" style="padding:0px;">
                                Cost-Centres for Cost-Centres
                            </header>
                            <div class="panel-body">
                                <div class="grid" style="max-height: 350px; width: auto; overflow: auto;">
                                    <table id="CCCentre" class="table table-striped table-bordered">
                                        <thead>
                                            <tr role="row" style="font-family:Tahoma;font-size:9pt;">
                                                <th style="width:10%;">Sr.</th>
                                                <th>Cost Category</th>
                                                <th>Amount</th>
                                                <th hidden="hidden"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.costcentre1 != null)
                                            {
                                                foreach (var item in Model.costcentre1)
                                                {
                                                    <tr role="row" style="font-family:Tahoma;font-size:9pt;">
                                                        <td></td>
                                                        <td>@item.Name</td>
                                                        <td contenteditable="true" style="text-align:right">@item.AdjustAmt</td>
                                                        <td hidden="hidden">@item.Code</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <footer class="panel-footer" style="padding:15px 15px 0px 15px;">
                                <div class="grid">
                                    <table id="" class="table table-striped table-bordered" style="max-width:50%;">
                                        <thead>
                                            <tr role="row" style="font-family:Tahoma;font-size:9pt;">
                                                <td style="width:5%;text-align:center;">Amount</td>
                                                <td style="width:5%; text-align:right;">@Model.Credit</td>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </footer>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer" style="background-color:#cccccc">
        <button type="button" class="btn btn-success" id="SaveCostC">Accept</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
</div>
