@model GridOption
@using Common
@{
    ViewBag.Title = "Send Email";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

@*<script type="text/javascript" src="js/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script>
    <script type="text/javascript" src="js/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>*@

@* iX9: Form Design *@
<header class="header fixed-top" style="position:fixed;background-color:lightgray;padding:6px;width:100%;margin-top:1%;">
    <div class="fixhead">
        <b class="CodeSt">Compose an Email</b>
    </div>
</header>

<script type="text/javascript">
    $(document).ready(function () {
    $('#Submit').click(function (event) {
        event.preventDefault();
        if ($("#EmailTo").val() == null || $("#EmailTo").val() == '') {
            $("#ErrorMessage").show();
            $("#ErrorMessage").text('Email ID is Required..');
            return;
        }
        var url = '@Url.Action("SendEmailNow")?mTo=' + $("#EmailTo").val() + '&mCC=' + $("#EmailCC").val() + '&mBCC=' + $("#EmailBCC").val() + '&mSubject=' + $("#Subject").val() + '&mMessage=' + $("#Message").val() + '&mAttachment=' + $("#FileUpload").val() + '&Tablekey=' + $("#hdnTableKey").val();
        $.ajax({
            type: "POST",
            dataType: "json",
            data: JSON.stringify(url),
            cache: false,
            url: url,
            contentType: "application/json; charset=utf-8",
            beforeSend: function () {
                $('.spinner').show();
            },
            success: function (data) {
                if (data.Status == "Success") {
                    alert("Email is Sent Successfully..");
                    $('.spinner').hide();
                    $("#ErrorMessage").hide();
                    if ($("#hdnTableKey").val() != null && $("#hdnTableKey").val() != "") {
                        window.close();
                    }
                }
                else {
                    $('.spinner').hide();
                    alert(data.Message);
                }
            },
        });
        });
    });
</script>


<section class="panel" style="margin-bottom:0px;margin-top: 1%;">
    <div class="panel-body">
        <div class="form-horizontal " id="EmailClient" role="form" style="margin-top:0%;">
            <div id="ErrorMessage" name="ErrorMessage" class="alert alert-danger" style="display: none"></div>
            <br />
            <div id="MainPartialDiv">
                @Html.Partial("SendEmailPartial", Model)
            </div>
            <div id="MainPartialDiv2">
                @Html.Partial("SubjectPartialView", Model)
            </div>

            @*<div class="form-group">
                    <label class="col-sm-1 control-label">Use Template:</label>
                    <div class="col-sm-9">
                        <input type="text" id="Subject" name="Subject" class="form-control" style="width:100%;" />
                    </div>
                    <div class="col-sm-1" style="padding-left:0px;">
                        <button class="btn btn-success" style="font-size:13px;padding:3px 12px;" id="Submit">  +  </button>
                    </div>
                </div>*@
            <div class="form-group">
                <label class="col-sm-1 control-label">Message:</label>
                <div class="col-sm-9">
                    <textarea type="text" id="Message" class="form-control" Rows="15" style="width:100%;"></textarea>
                </div>
            </div>
            @*</div>
                <div class="position-center">*@
            @*<form role="form">*@

            <div class="form-group" id="AttachDoc">
                @*<label class="col-sm-1 control-label">Attachments:</label>
                    <div class="col-sm-9">
                        <input type="file" id="FileUpload" multiple="multiple" />
                    </div>*@
                @Html.Partial("AttachmentDocument")
            </div>
        </div>
    </div>
</section>
<footer class="footer-section" style="height:33px;position:fixed;background-color:#4B4A4A;padding:3px;color:white;">
    <div class="row">
        <div class="col-sm-5">
        </div>
        <div class="col-sm-3" style="margin-top:4px;color:white;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
            ALT AIR-3.0, Shruham Software
        </div>
        <div class="col-sm-4">
            <div class="pull-right">
                <button class="btn btn-success" style="font-size: 13px;padding:3px 12px;margin-right:15px;" id="Submit">Send</button>
                @*<button class="btn btn-success" style="font-size: 13px;padding:3px 12px; margin-right:15px;" id="Discard">Discard</button>*@
            </div>
        </div>
    </div>
</footer>

<div class="example-modal">
    <div id="multipartymodel" class="modal modal-primary" style="z-index:2500;">
        <div class="modal-dialog modal-lg" style="height:500px;width:1000px;">
            <div id="partymodel">
                @Html.Partial("MultiSelection")
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="controllername" />
<input type="hidden" id="selectedparties" />
@Html.HiddenFor(x => x.ViewDataId, new { @Id = "hdnViewDataId" })
@Html.HiddenFor(x => x.Header, new { @Id = "hdnHeader" })
@Html.HiddenFor(x => x.TableKey, new { @Id = "hdnTableKey" })
@*
    Code Auto Generated on Fri 08-Mar-2019 04:16 PM
    Engine: iX9Generator, ver: 3.7 Revision: 15
    by Team Shruham Software *@
