@model ALT_ERP3.Areas.Accounts.Models.CustomerMasterVM
@using Common

@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

<style>
    .col-sm-2 {
        width: 10.666667%;
    }

    .form-group {
        margin-bottom: 8px;
    }

    .panel-heading .nav {
        margin: -23px;
    }

    .form-horizontal .control-label {
        padding-top: 5px;
        color: black;
        text-align: left;
    }

    .fixhead {
        text-transform: uppercase;
    }

    .tabcontent {
        height: 500px;
    }
</style>
<script src="@Url.Content("~/Content/js/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/jquery.constrain.js")" type="text/javascript"></script>
<link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/Content/bootstrap-multiselect.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#attachdoc').modal({
            backdrop: 'static',
            keyboard: false
        })
        $("#attachdoc").modal("hide");

         GetMyFavorites('@Model.ViewDataId');
        ClickDefaultFirstAddress();
        if ('@Model.Mode' == "View") {
            $("#editaccdata").hide();
            $("#deleteid").hide();
            $("#add").hide();
        }
        if ('@Model.Mode' == "Edit") {
            $("#deleteid").hide();
        }
        if ('@Model.Mode' == "Delete") {
            $("#editaccdata").hide();
            $("#add").hide();
        }

        if ('@Model.Flag' == "L") {
            $("#frmEditRec").hide();
            $("#frmADDRec").hide();
        }
        if ('@Model.Mode' == "Add") {
            if ($('#hdnAutoAccCode').val() == "False") {
                $('#Code').prop('readonly', false);
            }
        }

        $('#add').click(function () {
            event.preventDefault();
            $("#ErrorMessage").hide();
            if ($("#Name").val() == '') {
                $("#ErrorMessage").show();
                $("#ErrorMessage").text('Enter Name.');
                return;
            }
            if ($("#Grp").val() == '') {
                $("#ErrorMessage").show();
                $("#ErrorMessage").text('Select Account Grp.');
                return;
            }
            if ($("#AccountGropParent").val() == ''||$("#AccountGropParent").val() == null) {
                $("#ErrorMessage").show();
                $("#ErrorMessage").text('Select Account Grp. Parent');
                return;
            }
            if ($("#AcType").val() == '') {
                $("#ErrorMessage").show();
                $("#ErrorMessage").text('Select Account Type.');
                return;
            }
            if ($("#AllBranch").is(":checked") == false) {
                if ($("#hdnBranchCodeArray").val() == '') {
                    $("#ErrorMessage").show();
                    $("#ErrorMessage").text('Select Applicable Branch.');
                    return;
                }
            }

            var url = '@Url.Action("SaveData")';
            $('.selected').each(function () {
                $(this).attr('selected', true);
            });
            var AddonSerial = [];
            $('#addongrid').find('tr[id="datacharge"]').each(function () {
                var $tds = $(this).find('td');
                var myDets = {
                    Fld: $tds.eq(0).text(),
                    ApplCode: ($tds.eq(4).text() == "C" || $tds.eq(4).text() == "M") ? $tds.find(".addontxtfvalue").val() : $tds.find("input[class='addontxtfvalue']").val(),
                    FldType: $tds.eq(4).text()
                }
                AddonSerial.push(myDets);
            });
            var ModelData = {};
            ModelData["AccountGropParent"] = $("#AccountGropParent").val();
            ModelData["Name"] = $("#Name").val();
            ModelData["MasterDesignation"] = $("#MasterDesignation").val();
            ModelData["AcType"] = $("#AcType").val();
            ModelData["ShortName"] = $("#ShortName").val();
            ModelData["Grp"] = $("#Grp").val();
            ModelData["Category"] = $("#Category").val();
            ModelData["AcHeadCode"] = $("#AcHeadCode").val();
            ModelData["IntRate"] = $("#IntRate").val();
            ModelData["DepricAC"] = $("#DepricAC").val();
            ModelData["PaymentTerms"] = $("#PaymentTerms").val();
            ModelData["Rank"] = $("#Rank").val();
            ModelData["AName"] = $("#AName").val();
            ModelData["CorpID"] = $("#CorpID").val();
            ModelData["Person"] = $("#Person").val();
            ModelData["MailingCategory"] = $("#MailingCategory").val();
            ModelData["UserID"] = $("#UserID").val();
            ModelData["AdminUser"] = $("#AdminUser").val();
            ModelData["www"] = $("#www").val();
            ModelData["CorrespondenceType"] = $("#CorrespondenceType").val();
            ModelData["Password"] = $("#Password").val();
            ModelData["Source"] = $("#Source").val();
            ModelData["Segment"] = $("#Segment").val();
            ModelData["STaxCode"] = $("#STaxCode").val();
            ModelData["PTaxCode"] = $("#PTaxCode").val();
            ModelData["Licence1"] = $("#Licence1").val();
            ModelData["Licence2"] = $("#Licence2").val();
            ModelData["PanNo"] = $("#PanNo").val();
            ModelData["RTGS"] = $("#RTGS").val();
            ModelData["CSTNo"] = $("#CSTNo").val();
            ModelData["VATReg"] = $("#VATReg").val();
            ModelData["TINNo"] = $("#TINNo").val();

            ModelData["Designation"] = $("#Designation").val();
            ModelData["Language"] = $("#Language").val();
            ModelData["Dept"] = $("#Dept").val();
            ModelData["Religion"] = $("#Religion").val();
            ModelData["Division"] = $("#Division").val();
            ModelData["Bdate"] = $("#Bdate").val();
            ModelData["Anndate"] = $("#Anndate").val();
            ModelData["SpouseName"] = $("#SpouseName").val();
            ModelData["SpouseBdate"] = $("#SpouseBdate").val();
            ModelData["ChildName"] = $("#ChildName").val();
            ModelData["ChildBdate"] = $("#ChildBdate").val();
            ModelData["Ticklers"] = $("#Ticklers").val();
            ModelData["HoldEnquiry"] = $("#HoldEnquiry").is(':checked');
            ModelData["StrHoldEnquiryDt"] = $("#HoldEnquiryDt").val();
            ModelData["HoldDespatch"] = $("#HoldDespatch").is(':checked');
            ModelData["StrHoldDespatchDt"] = $("#HoldDespatchDt").val();
            ModelData["HoldInvoice"] = $("#HoldInvoice").is(':checked');
            ModelData["StrHoldInvoiceDt"] = $("#HoldInvoiceDt").val();
            ModelData["HoldNarr"] = $("#HoldNarr").val();
            ModelData["Mode"] = $("#hdnMode").val();
            ModelData["FreqOS"] = $("#FreqOS").val();
            ModelData["FreqForm"] = $("#FreqForm").val();
            ModelData["EmailParty"] = $("#EmailParty").is(':checked');
            ModelData["EmailSalesman"] = $("#EmailSalesman").is(':checked');
            ModelData["EmailTemplate"] = $("#EmailTemplate").is(':checked');
            ModelData["SMSPartyAlert"] = $("#SMSPartyAlert").is(':checked');
            ModelData["SMSSalesman"] = $("#SMSSalesman").is(':checked');
            ModelData["SMSTemplate"] = $("#SMSTemplate").is(':checked');
            ModelData["CurrCode"] = $("#CurrCode").val();
            ModelData["DraweeBank"] = $("#DraweeBank").val();
            ModelData["AcCode"] = $("#AcCode").val();
            ModelData["RTGS"] = $("#RTGS").val();
            ModelData["Broker"] = $("#Broker").val();
            ModelData["SalesMan"] = $("#SalesMan").val();
            ModelData["Transporter"] = $("#Transporter").val();
            ModelData["ReminderFormat"] = $("#ReminderFormat").val();
            ModelData["Narr"] = $("#Narr").val();
            ModelData["SalesChannel"] = $("#SalesChannel").val();
            ModelData["IncoTerms"] = $("#IncoTerms").val();
            ModelData["CheckCRLimit"] = $("#CheckCRLimit").is(':checked');
            ModelData["CheckCRDays"] = $("#CheckCRDays").is(':checked');
            ModelData["UserID"] = $("#UserIDs").val();
            ModelData["IsPublic"] = $("#IsPublic").is(':checked');
            ModelData["CashDisc"] = $("#CashDisc").is(':checked');
            ModelData["DiscDays"] = $("#DiscDays").val();
            ModelData["DiscPerc"] = $("#DiscPerc").val();
            ModelData["CutTDS"] = $("#CutTDS").is(':checked');
            ModelData["TDSCode"] = $("#TDSCode").val();
            ModelData["CutTCS"] = $("#CutTCS").is(':checked');
            ModelData["IsDifferRate"] = $("#IsDifferRate").is(':checked');
            ModelData["DifferRate"] = $("#DifferRate").val();
            ModelData["DifferRateCertNo"] = $("#DifferRateCertNo").val();
            ModelData["IsForm15H"] = $("#IsForm15H").is(':checked');
            ModelData["StrForm15HDate"] = $("#Form15HDate").val();
            ModelData["StrForm15HCITDate"] = $("#Form15HCITDate").val();
            ModelData["Hide"] = $("#Hide").is(':checked');
            ModelData["NonActive"] = $("#NonActive").is(':checked');
            ModelData["ARAP"] = $("#ARAP").is(':checked');
            ModelData["CCBudget"] = $("#CCBudget").is(':checked');
            ModelData["CCReqd"] = $("#CCReqd").is(':checked');
            ModelData["GstApplicable"] = $("#GstApplicable").is(':checked');
            ModelData["HSN"] = $("#HSN").val();
            ModelData["IGST"] = $("#IGST").val();
            ModelData["SGST"] = $("#SGST").val();
            ModelData["CGST"] = $("#CGST").val();
            ModelData["OptionGstType"] = $("#OptionGstType").val();
            ModelData["TDSPercent"] = $("#TDSPercent").val();
            ModelData["EmailPartyAlert"] = $("#EmailPartyAlert").is(':checked');
            ModelData["CrLimit"] = $("#CrLimit").val();
            ModelData["CRPeriod"] = $("#CRPeriod").val();
            ModelData["CRLimitTole"] = $("#CRLimitTole").val();
            ModelData["CRLimitWithTrx"] = $("#CRLimitWithTrx").is(':checked');
            ModelData["CRLimitWithPO"] = $("#CRLimitWithPO").is(':checked');
            ModelData["CRDaysWarn"] = $("#CRDaysWarn").val();
            ModelData["CRLimitWarn"] = $("#CRLimitWarn").val();
            ModelData["Document"] = $("#Code").val();
            ModelData["SMSParty"] = $("#SMSParty").is(':checked');
            ModelData["ItemType"] = $("#ItemType").val();
            ModelData["AddOnList"] = AddonSerial;
            ModelData["PONumber"] = $("#PONumber").is(':checked');
            ModelData["BENumber"] = $("#BENumber").is(':checked');
            ModelData["PartyInvoice"] = $("#PartyInvoice").is(':checked');
            ModelData["PartyChallan"] = $("#PartyChallan").is(':checked');

            if ($("#CGodown").is(":checked") == true) {
                ModelData["Collection"] = "G";
            } else {
                ModelData["Collection"] = "D";
            }
            if ($("#DGodown").is(":checked") == true) {
                ModelData["Delivery"] = "G";
            } else {
                ModelData["Delivery"] = "D";
            }

            ModelData["ContractHitBy"] = $('input[name="Contractrd"]:checked').val();
            //if only one address/mail info record
            ModelData["AName"] = $("#AName").val();
            ModelData["CorpID"] = $("#CorpID").val();
            ModelData["Person"] = $("#Person").val();
            ModelData["Adrl1"] = $("#Adrl1").val();
            ModelData["Country"] = $("#Country").val();
            ModelData["Adrl2"] = $("#Adrl2").val();
            ModelData["State"] = $("#State").val();
            ModelData["Adrl3"] = $("#Adrl3").val();
            ModelData["City"] = $("#City").val();
            ModelData["Pin"] = $("#Pin").val();
            ModelData["Area"] = $("#Area").val();
            ModelData["Tel1"] = $("#Tel1").val();
            ModelData["Fax"] = $("#Fax").val();
            ModelData["Mobile"] = $("#Mobile").val();
            ModelData["www"] = $("#www").val();
            ModelData["Email"] = $("#Email").val();
            ModelData["MailingCategory"] = $("#MailingCategory").val();
            ModelData["UserID"] = $("#UserID").val();
            ModelData["www"] = $("#www").val();
            ModelData["CorrespondenceType"] = $("#CorrespondenceType").val();
            ModelData["Password"] = $("#Password").val();
            ModelData["Source"] = $("#Source").val();
            ModelData["Segment"] = $("#Segment").val();
            ModelData["STaxCode"] = $("#STaxCode").val();
            ModelData["PTaxCode"] = $("#PTaxCode").val();
            ModelData["Licence1"] = $("#Licence1").val();
            ModelData["Licence2"] = $("#Licence2").val();
            ModelData["PanNo"] = $("#PanNo").val();
            ModelData["GSTNo"] = $("#GSTNo").val();
            ModelData["CSTNo"] = $("#CSTNo").val();
            ModelData["VATReg"] = $("#VATReg").val();
            ModelData["TINNo"] = $("#TINNo").val();
            ModelData["Designation"] = $("#Designation").val();
            ModelData["Language"] = $("#Language").val();
            ModelData["Dept"] = $("#Dept").val();
            ModelData["Religion"] = $("#Religion").val();
            ModelData["Division"] = $("#Division").val();
            ModelData["Budate"] = $("#Budate").val();
            ModelData["StrAnndate"] = $("#StrAnndate").val();
            ModelData["SpouseName"] = $("#SpouseName").val();
            ModelData["SpouseBudate"] = $("#SpouseBudate").val();
            ModelData["ChildName"] = $("#ChildName").val();
            ModelData["StrChildBdate"] = $("#StrChildBdate").val();
            ModelData["ContactType"] = $("#ContactType").val();
            ModelData["GSTType"] = $("#GSTType").val();
            ModelData["DealerType"] = $("#DealerType").val();
            ModelData["DefaultCGst"] = $("#DefaultCGst").val();
            ModelData["DefaultSGst"] = $("#DefaultSGst").val();
            ModelData["DefaultIGst"] = $("#DefaultIGst").val();
            ModelData["AadharNo"] = $("#AadharNo").val();
            ModelData["PoisonLicense"] = $("#PoisonLicense").val();
            ModelData["ReraNo"] = $("#ReraNo").val();
            ModelData["AssistEmail"] = $("#AssistEmail").val();
            ModelData["AssistName"] = $("#AssistName").val();
            ModelData["AssistMobile"] = $("#AssistMobile").val();
            ModelData["AssistTel"] = $("#AssistTel").val();
            ModelData["SrNo"] = $("#hdnSrNo1").val();
            if ($("#AllBranch").is(":checked") == true) {
                ModelData["AppBranch"] = "All";
            } else {
                ModelData["AppBranch"] = $("#hdnBranchCodeArray").val();
            }
            ModelData["Tel2"] = $("#Tel2").val();
            ModelData["Tel3"] = $("#Tel3").val();
            ModelData["Header"] = '@Model.Header';
            ModelData["PriceList"] = $("#hdnPriceListArray").val();
            //ModelData["AllFileStr"] = $('#hdnAllFileStr').val();
            //ModelData["FileContStr"] = $('#hdnFileContStr').val();
            //ModelData["FileNameStr"] = $('#hdnFileNameStr').val();
            ModelData["PDiscList"] = $("#hdnPDiscListArray").val();
            ModelData["SchemeList"] = $("#hdnSchemeListArray").val();
            var DTO = { Model: ModelData };
            $.ajax({
                type: "POST",
                dataType: "json",
                data: JSON.stringify(DTO),
                cache: false,
                url: url,
                contentType: "application/json; charset=utf-8",
                beforeSend: function () {
                    $('.spinner').show();
                },
                success: function (data) {
                    if (data.Status == 'Error') {
                        alert(data.Message);
                    }
                    if (data.Status == 'Success') {
                        $('.spinner').hide();
                        //alert("Result save successfully.");
                        window.location.href = "/Accounts/MasterGrid?ViewDataId=@Model.ViewDataId&MainType=@Model.MainType&Module=@Model.Module&TableName=Master&optiontype=M&optioncode=@Model.ViewDataId&Header=@Model.id&Controller2=@Model.Controller2"
                    }
                    else if (data.Status == 'Error') {
                        alert(data.Message);
                        $("#ErrorMessage").show();
                        $("#ErrorMessage").text('Select Atleast One Record For Ledger.');
                    }
                    else {
                        $("#ErrorMessage").show();
                        $("#ErrorMessage").html(data.html);
                    }
                },
            });
        });

        $('#deleteid').click(function () {
            event.preventDefault();
            $("#ErrorMessage").hide();
            if ($("#Code").val() == '') {
                $("#ErrorMessage").show();
                $("#ErrorMessage").text('Missing Account Code');
                return;
            }

            var ModelData = {};
            ModelData["Document"] = $("#Code").val();
            ModelData["Mode"] = $("#hdnMode").val();
            ModelData["Header"] = '@Model.Header';

            var DTO = { Model: ModelData };
            var url = '@Url.Action("DeleteAccounts")';
            $.ajax({
                type: "POST",
                dataType: "json",
                data: JSON.stringify(DTO),
                cache: false,
                url: url,
                contentType: "application/json; charset=utf-8",
                beforeSend: function () {
                    $('.spinner').show();
                },
                success: function (data) {
                    $('.spinner').hide();
                    if (data.Status == 'Success') {
                        //$('.spinner').hide();
                        window.location.href = "/Accounts/MasterGrid?ViewDataId=@Model.ViewDataId&MainType=@Model.MainType&Module=@Model.Module&TableName=Master&optiontype=M&optioncode=@Model.ViewDataId&Header=@Model.id&Controller2=@Model.Controller2"
                    }
                    else {
                        //$('.spinner').hide();
                        alert(data.Message);
                    }
                },
            });
        });

        $("#btnAddOns").click(function (event) {
            event.preventDefault();
            $('#dialog1').modal('show');
        });

        $("#btnAddDoc").click(function (event) {
            event.preventDefault();
            var url = '/Logistics/Attachment/UploadFile';
            var ModelData = {};
            ModelData["Mode"] = '@Model.Mode';
            ModelData["Srl"] = $("#Document").val();
            ModelData["Type"] = "CUSMA";
            ModelData["RefType"] = "@Model.Header";
            var DTO = { Model: ModelData };
            $.ajax({
                type: "POST",
                dataType: "json",
                data: JSON.stringify(DTO),
                cache: false,
                url: url,
                contentType: "application/json; charset=utf-8",
                beforeSend: function () {
                    $('.spinner').show();
                },
                success: function (data) {
                    $('.spinner').hide();
                    var AttachDoc = $("#AttachDoc");
                    AttachDoc.html('');
                    AttachDoc.html(data.Html);
                    $('#attachdoc').modal('show');
                },
            });
        });

        $("#btnUpdateAddOns").click(function (event) {
            event.preventDefault();
            if ($('#hdnAddOnSaved').val() == "1") {
                $('#dialog1').modal('show');
            }
            else {
                var url = '@Url.Action("GetEditAddOnList")?Code=' + $("#Code").val() + '&TableKey=%Master';
                $.ajax({
                    async: false,
                    cache: false,
                    url: url,
                    type: "GET",
                    dataType: "json",
                    cache: false,
                    contentType: "application/json; charset=utf-8",
                    beforeSend: function () {
                        $('.spinner').show();
                    },
                    success: function (data) {
                        $('.spinner').hide();
                        $('#dialog1').modal('show');
                        $('#Dialog').html(data.Html);
                        $('#controllername').val(data.Controller);
                    },
                });
            }
        });
    });
    function GetGSTDetails() {
        if ($("#GSTNo").val() == "" || $("#GSTNo").val() == null) {
            alert("Please Enter GST NO...!");
            return;
        }
        var url = '/Logistics/SingleEwayBillTransaction/GetGSTDetails';
        var ModelData = {};
        ModelData["GSTNo"] = $("#GSTNo").val();
        var DTO = { Model: ModelData };
        $.ajax({
            type: "POST",
            dataType: "json",
            data: JSON.stringify(DTO),
            cache: false,
            url: url,
            contentType: "application/json; charset=utf-8",
            beforeSend: function () {
                $('.spinner').show();
            },
            success: function (result) {
                $('.spinner').hide();
                if (result.Status == "Sucess") {
                    $("#Name").val(result.Model.Name);
                    $('#State').select2('data', { id: result.Model.State, text: result.Model.StateName });
                    $("#Pin").val(result.Model.Pincode);
                    $("#Adrl1").val(result.Model.Address1);
                    $("#Adrl2").val(result.Model.Address2);
                }
                else {
                    alert(result.errormsg);
                }
            },
        });
    }

    function ClickDefaultFirstAddress() {
        var ModelData = {};
        ModelData["SrNo"] = "0";
        ModelData["Mode"] = '@Model.Mode';
        var DTO = { Model: ModelData };
        var url = '@Url.Action("GetMailInfo")';
        $.ajax({
            type: "POST",
            dataType: "json",
            data: JSON.stringify(DTO),
            cache: false,
            url: url,
            contentType: "application/json;charset=utf-8",
            beforeSend: function () {
                $('.spinner').show();
            },
            success: function (data) {
                $('.spinner').hide();
                $("#maildetail").html(data.Html);
                xyz = $('#hdnSrNo1').val()
                console.log(xyz);
                if ($('#hdnSrNo1').val() != '') {
                    $('#' + xyz).css('background-color', '#FF8E2B');
                } else {
                    $('#' + xyz).css('background-color', '#27AE60');
                }
            },
            error: function () {
                alert("Error occured while processing your request.");
            }
        });
    }
</script>

<header class="header fixed-top" style="position:fixed;background-color:lightgray;padding:6px;width:100%;margin-top:0%;">
    <div class="fixhead">
        <b class="CodeSt">@Model.Header</b>
        <span class="tools pull-right">
            <a href="~/Accounts/MasterGrid?ViewDataId=@Model.ViewDataId&MainType=@Model.MainType&Module=@Model.Module&TableName=Master&optiontype=M&optioncode=@Model.ViewDataId&Header=@Model.id&Controller2=@Model.Controller2" class="btn btn-danger" style="color:white;font-weight:bolder;font-size:13px;padding:3px 10px;" id="Cancel2">X</a>
        </span>
        <span class="tools pull-right">
            <b class="CodeSt">@Model.Mode Mode</b>
        </span>


        <button class="fa fa-heart pull-right" type="submit" onclick="AddToFavorite('@Model.ViewDataId','@Model.OptionCode')" title="Add/Remove from My Favorites" id="MyFavorites" style="color: rgb(145,142,142); background-color: transparent; border: none; font-size: 20px; height: 27px; margin-right: 5px;margin-top:5px;" name="MyFavorites"></button>

    </div>
</header>

<form class="form-horizontal" id="frmaccountLedger" role="form" style="margin-top:2%;">
    <div id="ErrorMessage" name="ErrorMessage" class="alert alert-danger" style="display: none"></div>
</form>
<div class="panel">
    <div class="panel-body">
        @if (Model.MainType == "X")
        {
            <div class="tab">
                <button class="tablinks" onclick="openCity(event, 'divLedgerTable')" id="Sales1">General</button>
                <button class="tablinks" onclick="openCity(event, 'divLedgerTable3')">Options</button>
            </div>
            <div id="divLedgerTable" style="height:450px;overflow-x:auto;" class="tabcontent">
                @Html.Partial("ReceivableMaster", Model)
            </div>
            <div id="divLedgerTable3" style="height:450px;overflow-x:auto;" class="tabcontent">
                @Html.Partial("Options", Model)
            </div>
        }
        @if (Model.MainType == "D" || Model.MainType == "S")
        {
            if (Model.Mode == "Edit" || Model.Mode == "View" || Model.Mode == "Delete")
            {
                <div id="frmEditRec">
                    <div class="tab">
                        <button class="tablinks" onclick="openCity(event, 'divLedgerTable')" id="Sales1">General</button>
                        <button class="tablinks" onclick="openCity(event, 'divLedgerTable2')">Mailing Info</button>
                        <button class="tablinks" onclick="openCity(event, 'divLedgerTable3')">Options</button>
                        <button class="tablinks" onclick="openCity(event, 'divLedgerTable4')">Transactions</button>
                        <button class="tablinks" onclick="openCity(event, 'divLedgerTable5')">More</button>
                    </div>

                    <div id="divLedgerTable" class="tabcontent" style="height:450px;overflow-x:auto;">
                        @Html.Partial("ReceivableMaster", Model)
                    </div>
                    <div id="divLedgerTable2" class="tabcontent" style="height:450px;overflow-x:auto;">
                        <div id="ItemListTable">
                            @Html.Partial("MailingInfo", Model)
                        </div>
                    </div>
                    <div id="divLedgerTable3" class="tabcontent" style="height:450px;overflow-x:auto;">
                        @Html.Partial("Options", Model)
                    </div>
                    <div id="divLedgerTable4" class="tabcontent" style="height:450px;overflow-x:auto;">
                        <div id="ItemListTable">
                            @Html.Partial("Transactions", Model)
                        </div>
                    </div>
                    <div id="divLedgerTable5" class="tabcontent" style="height:450px;overflow-x:auto;">
                        @Html.Partial("More", Model)
                    </div>
                </div>
            }
            else
            {
                <div id="frmADDRec">
                    <div class="tab">
                        <button class="tablinks" onclick="openCity(event, 'divLedgerTable')" id="Sales1">General</button>
                        <button class="tablinks" onclick="openCity(event, 'divLedgerTable2')">Mailing Info</button>
                        <button class="tablinks" onclick="openCity(event, 'divLedgerTable3')">Options</button>
                        <button class="tablinks" onclick="openCity(event, 'divLedgerTable4')">Transactions</button>
                        <button class="tablinks" onclick="openCity(event, 'divLedgerTable5')">More</button>
                    </div>

                    <div id="divLedgerTable" class="tabcontent" style="height:450px;overflow-x:auto;">
                        @Html.Partial("ReceivableMaster", Model)
                    </div>
                    <div id="divLedgerTable2" class="tabcontent" style="height:450px;overflow-x:auto;">
                        <div id="ItemListTable">
                            @Html.Partial("MailingInfo", Model)
                        </div>
                    </div>
                    <div id="divLedgerTable3" class="tabcontent" style="height:450px;overflow-x:auto;">
                        @Html.Partial("Options", Model)
                    </div>
                    <div id="divLedgerTable4" class="tabcontent" style="height:450px;overflow-x:auto;">
                        <div id="ItemListTable">
                            @Html.Partial("Transactions", Model)
                        </div>
                    </div>
                    <div id="divLedgerTable5" class="tabcontent" style="height:450px;overflow-x:auto;">
                        @Html.Partial("More", Model)
                    </div>
                </div>
            }
        }
        <script>
            function openCity(evt, cityName) {
                debugger;
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                document.getElementById(cityName).style.display = "block";
                evt.currentTarget.className += " active";
            }
            document.getElementById("Sales1").click();
        </script>
    </div>
</div>

<footer class="footer-section" style="margin-right:15px;height:33px;position:fixed;background-color:#4B4A4A;padding:3px;color:white;">
    @*<footer class="footer-section" style="position:fixed;background-color:lightgray;padding:18px;padding:unset;color:unset;">*@
    <div class="row" style="margin-right:-5px;">
        @if (Model.Mode == "Edit" || Model.Mode == "View" || Model.Mode == "Delete")
        {
            <div class="col-sm-5">
                <button class="btn btn-warning" type="submit" style="padding-top:3px;height:28px;" id="btnUpdateAddOns" name="Command">AddOns</button>
                <button class="btn btn-warning" id="btnAddDoc" style="padding-top:3px;height:28px;" name="Command">Attach Doc</button>
            </div>
            <div class="col-sm-3" style="margin-top:4px;color:white;font-family:Tahoma;">
                ALT AIR-3.0, Shruham Software
            </div>
            <div class="col-sm-4">
                <div class="pull-right">
                    @if (Model.Mode == "Edit")
                    {
                        <button class="btn btn-success" style="padding-top:4px;height:28px;" id="add">Save</button>
                    }
                    @if (Model.Mode == "Delete")
                    {
                        <button class="btn btn-success" style="padding-top:4px;height:28px;" id="deleteid">Delete</button>
                    }
                    <a href="~/Accounts/MasterGrid?ViewDataId=@Model.ViewDataId&MainType=@Model.MainType&Module=@Model.Module&TableName=Master&optiontype=M&optioncode=@Model.ViewDataId&Header=@Model.id&Controller2=@Model.Controller2" style="padding-top:4px;height:28px;" class="btn btn-danger">Cancel</a>
                </div>
            </div>
        }
        else
        {
            <div class="col-sm-5">
                <button class="btn btn-warning" type="submit" style="padding:3px;height:28px;" id="btnAddOns" name="Command">AddOns</button>
                <button class="btn btn-warning" id="btnAddDoc" style="padding:3px;height:28px;" name="Command">Attach Doc</button>
            </div>
            <div class="col-sm-3" style="margin-top:4px;color:white;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                ALT AIR-3.0, Shruham Software
            </div>
            <div class="col-sm-4">
                <div class="pull-right">
                    <button class="btn btn-success" style="height:28px;" id="add">Save</button>
                    <a href="~/Accounts/MasterGrid?ViewDataId=@Model.ViewDataId&MainType=@Model.MainType&Module=@Model.Module&TableName=Master&optiontype=M&optioncode=@Model.ViewDataId&Header=@Model.id&Controller2=@Model.Controller2" style="height:28px;" class="btn btn-danger">Cancel</a>
                </div>
            </div>
        }
    </div>
</footer>

<input type="hidden" id="controllername" />
<div class="example-modal">
    <div id="dialog1" class="modal modal-default">
        <div class="modal-dialog modal-lg" style="width:650px;">
            <div id="Dialog">
                @Html.Partial("AddOnGrid")
            </div>
        </div>
    </div>
</div>

@*Suchan Attachment*@
<div class="example-modal">
    @*<div id="attachdoc" class="modal modal-primary" style="z-index:2500;">*@
    <div id="attachdoc" class="modal modal-primary" style="margin-top:3%;width: 100%;display: block;" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
        <div class="modal-dialog" style="width:100%;">
            <div id="AttachDoc">
            </div>
        </div>
    </div>
</div>


@Html.HiddenFor(x => x.SrNo, new
{
    @id = "hdnSrNo",
    @name = "hdnSrNo"
})

@Html.HiddenFor(x => x.Mode, new
{
    @id = "hdnMode",
    @name = "hdnMode"
})
@Html.HiddenFor(x => x.AddOnSaved, new
{
    @Id = "hdnAddOnSaved"
})

@Html.HiddenFor(x => x.AutoAccCode, new
{
    @Id = "hdnAutoAccCode"
})