@model ALT_ERP3.Areas.Logistics.Models.LoadingDispachVM
@{
    Layout = null;
}

<script src="@Url.Content("~/Content/js/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/jquery.constrain.js")" type="text/javascript"></script>

<style>
    .Ordertable {
        display: table;
    }

    .Ordertable-row {
        display: table-row;
        color: black;
    }

    .Ordertable-cell {
        display: table-cell;
        border: 1px solid black;
        padding: 5px;
        /*text-align: center;*/
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        var TotalWeight = 0, TotalQty = 0;

        //Defalut Execute Below Script
        var check = $('#SaveLcCombo').find('.Ordertable-row').length;
        $("#SaveLcComboTotalLC").html(check);
        $("#SaveLcCombo .Ordertable-row").each(function () {
            var col2_value = $(this).find(".Weight").text();
            var col1_value = $(this).find(".Qty").text();
            TotalWeight = parseFloat(TotalWeight) + parseFloat(col2_value);
            TotalQty = parseFloat(TotalQty) + parseFloat(col1_value);
        });
        $("#SaveLcComboTotalWeight").html(TotalWeight);
        $("#SaveLcComboTotalQty").html(TotalQty);



        $('.SavelrlistOfLc').click(function (event) {
            event.preventDefault();

            var url = '@Url.Action("ShowLrLIstOfLC")';

            var DTO = { Lcno: this.id };
            $.ajax({
                type: "POST",
                dataType: "json",
                data: JSON.stringify(DTO),
                cache: false,
                url: url,
                contentType: "application/json; charset=utf-8",
                beforeSend: function () {
                    $('.spinner').show();
                },
                success: function (data) {

                    var LoadDownLoadFiles = $("#ShowLoadingLRList");
                    $("#ErrorMessage").hide();
                    $('.spinner').hide();
                    $('#GetLoadLRLIst').modal('show');
                    LoadDownLoadFiles.html('');
                    LoadDownLoadFiles.html(data.Html);
                },
            });
        });

        
    });
</script>

@if (Model.LClist != null)
{
    <div class="container23" style="width:max-content;">
        <div class="Ordertable table-bordered table-info table-responsive-md" style="font-family:Verdana; margin-top:-1px;height:auto;width:100%;background-color:whitesmoke;">
            <div id="Head">
                <div class="Ordertable-cell" style="text-align: center;font-weight: bold;color: #ad225c;width:120px;">LcNo</div>
                <div class="Ordertable-cell" style="text-align: center;font-weight: bold;color: #ad225c;width:120px;">Date</div>
                <div class="Ordertable-cell" style="text-align: center;font-weight: bold;color: #ad225c;width:120px;">Time</div>
                <div class="Ordertable-cell" style="text-align: center;font-weight: bold;color: #ad225c;width:120px;">Source</div>
                <div class="Ordertable-cell" style="text-align: center;font-weight: bold;color: #ad225c;width:120px;">Destination</div>
                <div class="Ordertable-cell" style="text-align: center;font-weight: bold;color: #ad225c;width:120px;">Total Quantity</div>
                <div class="Ordertable-cell" style="text-align: center;font-weight: bold;color: #ad225c;width:120px;">Allow Quantity</div>
                <div class="Ordertable-cell" style="text-align: center;font-weight: bold;color: #ad225c;width:120px;">Weight</div>
                <div class="Ordertable-cell" style="text-align: center;font-weight: bold;color: #ad225c;width:120px;">LrList</div>
            </div>
            <div id="SaveLcCombo" style="max-height:230px;min-height:230px;width:100%;overflow:scroll;">
                @foreach (var item in Model.LClist)
                {
                    <div class="Ordertable-row">
                        <div class="Ordertable-cell SaveLcComboLC" style="font-weight: bold;width:120px;">@item.lcno</div>
                        <div class="Ordertable-cell" style="font-weight: bold;width:120px;">@item.Date</div>
                        <div class="Ordertable-cell" style="font-weight: bold;width:120px;">@item.Time</div>
                        <div class="Ordertable-cell" style="font-weight: bold;width:120px;">@item.From_Name</div>
                        <div class="Ordertable-cell" style="font-weight: bold;width:120px;">@item.To_Name</div>
                        <div class="Ordertable-cell Qty" style="font-weight: bold;width:120px;">@item.TotalQty.ToString("0.00")</div>
                        <div class="Ordertable-cell LoadQty" style="font-weight: bold;width:120px;">@item.LoadQty.ToString("0.00")</div>
                        <div class="Ordertable-cell Weight" style="font-weight: bold;width:120px;">@item.Weight.ToString("0.00")</div>
                        <div class="Ordertable-cell " style="font-weight: bold;width:120px;"><center><button class="btn btn-info SavelrlistOfLc" style="font-size: 13px;padding:3px 12px;" id="@item.lcno"><i class="glyphicon glyphicon-eye-open"></i></button></center></div>
                    </div>

                }
            </div>
            <div id="Footer">
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-1" style="font-weight: bold;text-align:center;color: red;">Total -:</div>
                    <div class="col-md-2" style="font-weight: bold;">No. Of LC :<label id="SaveLcComboTotalLC" style="padding-left: 15px;font-weight: bold;color: red;">0</label></div>
                    <div class="col-md-2" style="font-weight: bold;">Quantity :<label id="SaveLcComboTotalQty" style="padding-left: 15px;font-weight: bold;color: red;">0</label></div>
                    <div class="col-md-2" style="font-weight: bold;">Weight :<label id="SaveLcComboTotalWeight" style="padding-left: 15px;font-weight: bold;color: red;">0</label><label style="padding-left: 15px;font-weight: bold;color: red;">Kgs</label></div>
                </div>
            </div>
        </div>
    </div>
    <br />
}

