@model ALT_ERP3.Areas.Accounts.Models.CreditPurchaseVM
@using Common

<div class="grid" id="SelectedledgerTable" style="max-height:350px; width: auto; overflow: auto;">
    <table id="tabledata" class="zui-table" style="border-color:gray;">
        <thead>
            <tr role="row" style="font-family:Tahoma;font-size:9pt;">
                <th colspan="2" style="width:6%;vertical-align:inherit;">
                    <button type="button" class="btn btn-success" id="btnAddLedger">Add</button>

                </th>
                <th style="width:1%;vertical-align:inherit;"> Sr.</th>
                <th style="width:30%;vertical-align:inherit;">
                    Party Account
                </th>

                <th style="width:10%;vertical-align:inherit;">
                    BTNNO
                </th>
                <th style="width:10%;vertical-align:inherit;">
                    Debit
                </th>
                <th style="width: 10%;vertical-align:inherit;">
                    Credit
                </th>
                <th style="width:33%;vertical-align:inherit;">
                    Remark
                </th>


            </tr>
        </thead>
        <tbody>
            @if (Model.Selectedleger != null)
            {
                foreach (var item in @Model.Selectedleger.Where(x => x.tempIsDeleted == false).ToList())
                {
                    <tr style="font-family:Tahoma;font-size:9pt;">
                        <td colspan="2" style="vertical-align: inherit;">
                            <button type="button" action="EditLedger" class="btn btn-warning btn-sm" value="@item.tempId" title="Edit"><i class="fa fa-edit"></i></button>

                            <button type="button" action="DeleteLedger" class="btn btn-danger btn-sm" value="@item.tempId" title="Delete"><i class="fa fa-trash-o"></i></button>
                        </td>
                        <td style="vertical-align:inherit;">@item.tempId</td>

                        <td style="vertical-align:inherit;">@item.AccountName</td>
                        @if (item.PartialDivName == "Branch")
                        {
                            if (String.IsNullOrEmpty(item.BTNNOCombo))
                            {
                                <td style="vertical-align:inherit;">@item.BTNNO</td>
                            }
                            else
                            {
                                <td style="vertical-align:inherit;">@item.BTNNOCombo</td>
                            }
                        }
                        else
                        {
                            <td style="vertical-align:inherit;"></td>
                        }


                        <td style="text-align:right;vertical-align:inherit;">@GetFixedTwo(@item.Debit)</td>
                        <td style="text-align:right;vertical-align:inherit;">@GetFixedTwo(@item.Credit)</td>

                        <td style="vertical-align:inherit;">@item.Narr</td>


                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr style="font-family:Tahoma;font-size:9pt;font-weight:bolder;border-top:solid 1px;background-color:lightgray">
                <td colspan="5" style="text-align:center;vertical-align:inherit;border-top:solid 1px;">Total >></td>
                <td style="width: 8%;vertical-align: inherit;border-top: solid 1px;">@Html.TextBoxFor(m => m.SumDebit, new { @style = "text-align:right;width:99%;margin-top:2px;height:24px;", @class = "form-control", @disabled = "disabled", @id = "SumDebit" })</td>
                <td style="width: 8%;vertical-align:inherit;border-top:solid 1px;">@Html.TextBoxFor(m => m.SumCredit, new { @style = "text-align:right;width:99%;margin-top:2px;height:24px;", @class = "form-control", @disabled = "disabled", @id = "SumCredit" })</td>

            </tr>
        </tfoot>
    </table>
</div>

@functions
{
    string GetFixedTwo(decimal dcb)
    {
        decimal d = Math.Floor(100 * dcb) / 100;
        string s = d.ToString("N2");
        return s;
    }
}

<script>
    $(document).ready(function () {
        $('#addedittrxmodel').modal({
            backdrop: 'static',
            keyboard: false
        })
        $("#addedittrxmodel").modal("hide");

        $('button[action|="DeleteLedger"]').click(function (event) {
            event.preventDefault(event);
            var ModelData = {};
            ModelData["tempId"] = $(this).val();

            ModelData["SubType"] = $("#hdnSubType").val();

            ModelData["TDSFlag"] = $("#addTDSFlag").prop('checked');
            ModelData["GSTFlag"] = $("#addGSTNoItc").prop('checked');
            ModelData["TDSRate"] = $("#addTDSRate").val();
            ModelData["IGSTRate"] = $("#addIGSTRate").val();
            ModelData["CGSTRate"] = $("#addCGSTRate").val();
            ModelData["SGSTRate"] = $("#addSGSTRate").val();


            var DTO = { Model: ModelData };
            var url = '@Url.Action("Deleteledger")';
            $.ajax({
                type: "POST",
                dataType: "json",
                data: JSON.stringify(DTO),
                cache: false,
                url: url,
                contentType: "application/json;charset=utf-8",
                beforeSend: function () {
                    $('.spinner').show();
                },
                success: function (data) {
                    $('.spinner').hide();

                    $('#divLedgerTable').html(data.Html);
                    $('#SumDebit').val(data.Sumdebit.toFixed(2));
                    $('#SumCredit').val(data.Sumcredit.toFixed(2));

                    $('#txttottxable').val(data.Sumdebit.toFixed(2));
                    $('#addTaxable').val(data.Sumdebit.toFixed(2));

                    $('#TDSAmt').val(data.TdsAmt.toFixed(2));
                    $('#addTDSAmt').val(data.TdsAmt.toFixed(2));

                    $('#txttotigst').val(data.IGST.toFixed(2));
                    $('#addIGSTAmt').val(data.IGST.toFixed(2));

                    $('#txttotsgst').val(data.SGST.toFixed(2));
                    $('#addSGSTAmt').val(data.SGST.toFixed(2));

                    $('#txttotcgst').val(data.CGST.toFixed(2));
                    $('#addCGSTAmt').val(data.CGST.toFixed(2));

                    $('#txtinvamt').val(data.InvAmt.toFixed(2));


                },
                error: function () {
                    alert("Error occured while processing your request.");
                }
            });
        });

        $("#btnAddLedger").click(function (event) {
            debugger;
            event.preventDefault();
            var Flag = true;
            if ($('#BankCashCode').val() == '' || $('#BankCashCode').val() == null) {
                alert('Please Select Cash Account')
                Flag= false;
            }
            if ($('#BillNumber').val() == '' || $('#BillNumber').val() == null) {
                alert('Please Enter BillNumber')
                Flag= false;
            }
            var ModelData = {};

            ModelData["SessionFlag"] = "Add";
            ModelData["BillNumber"] = $('#BillNumber').val();
            ModelData["BankCashCode"] = $('#BankCashCode').val()
            ModelData["SetupReqRelatedAc"] = $('#hdnSetupReqRelatedAc').val()
            ModelData["Srl"] = $('#Srl').val()
            if (Flag) {
                var DTO = { Model: ModelData };
            var url = '@Url.Action("GetCashLedger")';
            $.ajax({
                type: "POST",
                dataType: "json",
                data: JSON.stringify(DTO),
                cache: false,
                url: url,
                contentType: "application/json;charset=utf-8",
                beforeSend: function () {
                    $('.spinner').show();
                },
                success: function (data) {
                    $('.spinner').hide();
                    if (data.Status == "Error")
                    {
                        alert(data.Message)
                        return;
                    }
                    else
                    {
                        $('#addedittrxmodel').modal('show');
                        $('#AddEditTrxDialog').html(data.Html);

                    }


                },
                error: function (err) {
                    alert(JSON.stringify(err))
                    alert("Error occured while processing your request.");
                }
            });
            }

        });
        $('button[action|="EditLedger"]').click(function (event) {
            event.preventDefault(event);
            var ModelData = {};

            ModelData["tempId"] = $(this).val();
            ModelData["SessionFlag"] = "Edit";
            ModelData["BillNumber"] = $('#BillNumber').val();
            ModelData["BankCashCode"] = $('#BankCashCode').val()
            ModelData["SetupReqRelatedAc"] = $('#hdnSetupReqRelatedAc').val()

            var DTO = { Model: ModelData };
            var url = '@Url.Action("GetCashLedger")';
            $.ajax({
                type: "POST",
                dataType: "json",
                data: JSON.stringify(DTO),
                cache: false,
                url: url,
                contentType: "application/json;charset=utf-8",
                beforeSend: function () {
                    $('.spinner').show();
                },
                success: function (data) {
                    $('.spinner').hide();
                    $('#addedittrxmodel').modal('show');
                    $('#AddEditTrxDialog').html(data.Html);
                    if (data.Branch != "")
                    {
                        $("#BTNDialog").html(data.Branch);
                    }

                },
                error: function (err) {
                    alert(JSON.stringify(err))
                    alert("Error occured while processing your request.");
                }
            });
        });


    });

</script>



<div class="example-modal">
    <div id="addedittrxmodel" class="modal modal-default" style="z-index:2500;margin-top:-2%;">
        <div class="modal-dialog modal-lg" style="width:1250px;min-height:450px;max-height:450px;">
            <div id="AddEditTrxDialog">
                @Html.Partial("AddEditTransaction")
            </div>
        </div>
    </div>
</div>
